[2020-07-24 11:27] Marfre888 commented on #30
@andyblac Yeah, it's very strange that apple opted for each device to independently connect to the device separately, but I'd guess that gives you a level of redundancy should the hub fail

@rojer Would it be possible to get a version for the '1PM'. I would love to test this out, as it's currently quite annoying having devices not turn on or remain on after an off trigger.

[2020-07-24 11:35] rojer commented on #30
@Marfre888 here you go - http://rojer.me/files/shelly/2.0.7/shelly-homekit-Shelly1PM.zip

[2020-07-24 11:41] Marfre888 commented on #30
Thank you

[2020-07-24 21:34] fmms commented on #42
Hi @rojer , thanks for the update. I have installed the debug version on both of my switches. One did somehow not come back after the firmware update. But after cutting the power to it, the switch booted successfully again.

I could use the switch without the home app open just now, which was never possible recently. I will report back with findings the next days.

Now running `20200723-232504/2.0

[2020-07-25 07:49] fmms commented on #42
@rojer happy to report back that 2.0.7 seems to be a significant step forward. It works very well in my environment.
I have switched my light on and off many times now -- it works always. The automations are triggerd succesfully. I would consider this issue solved for me.

One thing that would be intersting for me is, which IPs currently have active connections. I see four on one of my switches an

[2020-07-25 08:11] gijsstegehuis opened #102 "Support for Shelly i3"
Would it be possible to add support for the Shelly i3?
It would make an awesome Homekit stateless button.

Would be much appreciated.

[2020-07-25 09:56] rojer commented on #42
@fmms that's great to hear!
connection management by apple devices is a bit of a mystery for me too.
opening home app seems to trigger reconnection reliably.
firmware upgrade does too (because configuration number changes, i think).
otherwise they seem top be ok with connection disappearing and do not actively try to reconnect, which may explain why notifications get lost.
thus, the only reliable

[2020-07-25 13:42] juankibcn commented on #30
Just now, no device has worked. I have had to open the home app and since then the automations have started again.

[2020-07-25 13:44] rojer commented on #30
how many active connections do you see in the web ui?

[2020-07-25 14:18] andyblac commented on #30
@juankibcn yeah, increasing the max connections has helped massively, but I have noticed the a connection is limited to a single device, ie if you use 3 different HomeKit app (Eve, Home, myHome, Home+, Controller, etc, etc) there all use a connection to a device.

so, try force quitting ALL app's on your iPhone, and only use them as required.

@rojer I really do think having a White list, let's sa

[2020-07-25 15:36] billcalle commented on #30
@rojer, when you have some time, you should check the logs on my devices. Judging from the uptime discrepancies across all 5 devices I can tell we’re still getting reboots. I have also seen some not responding messages in the home app. I checked the web ui one time that this happened and sure enough the count was 5/6/6.

[2020-07-25 17:12] juankibcn commented on #30
Sorry, witch web ui? my router? Each Shelly IP?

[2020-07-25 17:16] juankibcn commented on #30
I did some automated rules on Home App for Shellys, and I want to use it without the App, with switch. Some people (parents...) don’t use app.

[2020-07-25 18:46] andyblac commented on #30
@juankibcn 1st make sure you have 2.0.7 fw version (see links above in this thread) then go to the webUI of the shelly in the HomeKit section you should see something like:

![Screenshot 2020-07-25 at 19 37 54](https://user-images.githubusercontent.com/77936/88463957-a240ab80-ceae-11ea-9dfe-0eefef96d660.jpg)

you see in this above screen shot I have mixed all connections, even though NO controller

[2020-07-25 18:51] andyblac commented on #30
@rojer could you update the FW to list IP's so we can we try to workout what devices are hogging connections ?

[2020-07-25 19:03] 75TiagoMatias commented on #30
Good idea, if possible!

@rojer Do you have a PlugS 2.0.7 as well?

Thanks

[2020-07-25 20:14] juankibcn commented on #30
Hi,
I had 2.0.6
now with 2.0.7
Could you tell me about what 0/3/6 pending/active/max means?
I have 5 Shellys
4 of them: 0/3/6 pending/active/max
1 of them: 0/1/6 pending/active/max

[2020-07-25 21:24] Saronovic opened #103 "Shelly 1 Switch status via SW-Contact"
Hi,

i use a Shelly 1 for my garagedoor. "L" and "N" is connected to 230V and "0" and "1" I use as potential-free contact. Is it possible to use the "SW" contact for an end switch to see if the door is closed or open? For an example when the end switch is closed you have voltage at the "SW" contact and the door is closed. When you use the original FW you can see then that the small line is getting

[2020-07-26 10:46] andyblac commented on #30
basically means you're not maxing out the shelly available connections, so everything should be working.

[2020-07-26 11:30] rojer commented on #30
pending are incoming HAP connections that have not been accepted yet, active are accepted connections, max is maxim,um number of active connections.
0/N/N means a maxed out server, M/N/N means maxed out server with even more clients trying to connect.

here's a new builds:

https://rojer.me/files/shelly/2.0.8/
https://rojer.me/files/shelly/2.0.8-dbg/

i added a simple debug page, it can be found a

[2020-07-26 11:41] andyblac commented on #30
@rojer just getting "not found" in page

[2020-07-26 11:42] rojer commented on #30
make sure you add that slash at the end, it's important: /debug/, not just /debug.

[2020-07-26 11:43] andyblac commented on #30
ahh got it, Safari removed the trailing slash on 1st load.

[2020-07-26 11:47] andyblac commented on #30
so IMO, if you have more than 6 HomeKit controllers, they ill be fighting for a connection, so I do really think we need a way to tell the shelly what the IP of the master Home Hub is, so that connection never gets dropped and thus automation stop working.

@rojer is this something that you could add ?

[2020-07-26 12:01] fmms commented on #42
I have just updated to 2.0.8 the /debug/ works great. The output I get is:
[code]
To really make any sense of the output I had to do ``ping -a`` on all IP addresse to figure out what devices they are ...
In addition I had to convert the unix time stamps to readable time information.

It would be perfect if the output would be like:

[code]

[2020-07-26 12:30] andyblac opened #104 "Support for Button1"
could support for this be added easily ?, it would be nice have it acting like this https://github.com/mongoose-os-apps/shelly-homekit/issues/9

[2020-07-26 12:35] andyblac commented on #103
@rojer would be better to confirm, but I would think the sautés should be on "O" if it's relay is open or closed. but what you are asking should be possible to for, as we have 4 different button types for SW, so it dose know when the SW has a closed / open circuit.

[2020-07-26 12:36] billcalle commented on #30
@andyblac, you keep asking for a very specific solution that won’t benefit all users. For example, I have 5 HomePods and 3 AppleTVs. Even if I disable all 3 AppleTVs, I’m left with 5 devices capable of being “Master Home Hub”. From watching the Home App, I can tell that this responsibility is not fixed to a specific HomePod, but rather rotated between devices (I don’t know what the logic HomeKit u

[2020-07-26 12:45] andyblac commented on #30
I get that I have 2 Home Pods myself and iPads etc, they all can be 'Hub' but only one is a 'Master', and TBH with the limited resources the shelly has there no way it can handle the amount of 'controllers' that HomeKit is designed to run on, that's why if not officially supported, so no matter how much work @rojer puts in IMO it will never handle ALL connections all at once, so you will always ha

[2020-07-26 12:58] andyblac commented on #30
the only time the 'master hub' get replaced with another is if it goes offline. ie no power, or wifi connection gets dropped.

[2020-07-26 13:08] andyblac commented on #30
from what I can see the master hub dose try to keep the connection alive (once it has one)

[code]

192.168.3.9 is my master hub, 192.168.3.7 is a Standby Hub,

[2020-07-26 13:21] billcalle commented on #30
@rojer, I think there is a bug in the connection management. On at least two devices, I’m seeing 0/6/6, but only 5 IPs are being listed. Since the two stats are being listed on different pages, I thought it could be a timing issue, so I sat and refreshed each page in two browser tabs as quickly as possible. While I was seeing the last_io value update, there was no change in either the connection s

[2020-07-26 13:25] andyblac commented on #30
it was an assumption, that why I asked for the debug page, as I like you saw that 0/6/6 was shown but I had only 3 devices powered up at the time (master hub, my iPhone, and a family member iPhone).

[2020-07-26 17:29] Saronovic commented on #103
I think you have to use the "SW" for that. "I" and "O" is used as a momentary contact switch and they are directly connected to the motor drive from the garagedoor. The auto off delay is 0.5sec. A short press and the door open/stop/close and so on.

[2020-07-26 18:15] 75TiagoMatias commented on #30
Welllll..... I would say that, in my case with 5 devices and 5 active connections, this FW version works for me. The problem of No Answer in homekit was indeed the 3 limited number of connections!!  I will try one day or two more.. but for now its all good :)))) thank you all!! ehehe :)

[2020-07-27 14:43] rojer commented on #42
@fmms last_io is actually a difference between now() and last_io timestamp. the reason it's so big is that time is st by SNTP and that is not handled properly.
ip -> hostanme lookup is not actually easy to do, i think my time would be better spent elsewhere.
that said, i am adding some more debug info to help understand internal state of connections.

[2020-07-27 15:12] rojer commented on #30
@billcalle thanks for letting me know! you are right that number of HAP sessions should match the connection listed on the debug page. i have a tentative idea of how the discrepancy might happen, i've built 2.0.9 with some additional debug information that should help me pinpoint the reason and deployed it to shelly1-C41C8B.

[2020-07-27 20:56] rojer commented on #30
2.0.10: [extended debug info](https://github.com/mongoose-os-apps/shelly-homekit/commit/d0e11c9ed368f2a48c9e62374909f523739ca2a0), [fixed](https://github.com/mongoose-os-libs/homekit-adk/commit/0f03011c082fb1919b57fda634d522a1bb7a3d2f) a bunch more issues with connection management.

https://rojer.me/files/shelly/2.0.10/
https://rojer.me/files/shelly/2.0.10-dbg/

@billcalle again, access to your n

[2020-07-27 20:56] rojer commented on #42
i'm going to close this one in favor of #30

[2020-07-27 20:56] #42 closed

[2020-07-27 21:04] billcalle commented on #30
@rojer, thanks for your efforts. Good luck debugging and let me know if I can do anything to help.

In the meantime, I took some time this weekend to read through the entirety of the HomeKit Accessory Protocol Specification (Non-Commercial Version, Release R2). My next step is to download the code and start working my way through it. I'll try and keep my questions to a minimum so that you can focu

[2020-07-27 21:11] Supereg commented on #30
@rojer Does the current code base correctly reject new connections like @billcalle mentioned?

My current understanding (and experience) of the HAP spec was, that a HAP Accessory Server, which reached the maximum connection limit, must not kill other connections but return the appropriate error code (which should be handled automatically by the ADK). This way iDevices and Home Hubs would somehow "

[2020-07-27 21:16] rojer commented on #30
@billcalle your observation regarding minimum 8 simultaneous connections for IP accessories is correct, i've realized that too. we should be able to get there with dynamic output buffers. however, you have 13 unique controllers attempting to make connections and i don't see how we can accommodate them all at once... the behavior i observe is that we have a furious activity after update / reboot an

[2020-07-27 21:23] rojer commented on #30
@Supereg there is: making outut buffers dynamic instead of preallocating them all at once. i'll be working on that next.

[2020-07-27 21:25] Supereg commented on #30
every firmware version number increment (at least if it follows the spec) will lead to an increment of the "current configuration number" which is advertised via the bonjour txt record. An increment indicates that HomeKit needs to update the internal database by calling the `/accessories` route (But didn't know that **every** controller executes that call).

[2020-07-27 21:26] rojer commented on #30
one more thing i explored: identifying controller type by incoming request headers, so we can distinguish hubs from endpoint devices. unfortunately, they only send minimal set of headers (`Host`, `Content-Length` and `Content-Type`), notably they don't send `User-Agent`.

[2020-07-27 21:30] rojer commented on #30
that's right, we do it on first boot after an update [here](https://github.com/mongoose-os-apps/shelly-homekit/blob/d0e11c9ed368f2a48c9e62374909f523739ca2a0/src/shelly_main.cpp#L406-L411).

they seem to be. again, the reason for activity is understood, what is not clear is how the overall system (i.e. "home") will behave with only a more or less random subset of connections active. so far reports

[2020-07-28 00:51] billcalle commented on #30
@rojer, I've been investigating this and haven't found concrete information. There seems to be plenty of HomeKit documentation out there for developers working on the accessory server (device) side of things or developers utilizing the HomeKit framework to create custom apps. The in between stuff (how iDevices and Controllers interact with each other and how they negotiate who talks to which devic

[2020-07-28 09:27] rojer commented on #30
@billcalle lots of questions, for sure. i only have two devices to experiment with (an iphone and an ipad), and when i set the connection limit to one and open the Home app on both and keep it open, i see that the one that had its connection evicted simple stops getting updates about widget state changes (once its connection gets evicted). it does not try to reconnect on its own (at least i did no

[2020-07-28 10:07] andyblac commented on #30
@billcalle @rojer it seems you two are narrowing things down, keep up the good work, if I can help in any way just ask, @rojer I have 2.0.10 on that device on mine if it helps.

[2020-07-28 11:09] rojer commented on #30
@andyblac yeah, i can see that. it maxed out its connections, does it affect the functionality in any way? also, please deploy 2.0.10 to more devices (not necessarily debug version) and let me know how it does. in particular, i'm looking for session/connection count discrepancies, where "Total" number at the bottom of the debug page does not match the number of active sessions, this shouldn't happ

[2020-07-28 11:21] andyblac commented on #30
I have loaded the debug version on all my S1 / S2.5 devices

[code]

latest FW dose seem to be working well, but atm I only have 6 controllers in the Home, until other family member come visit again.

[2020-07-28 12:37] andyblac commented on #93
@Marfre888 been thinking about this, I have something similar in the Kitchen, I do it like this;

replace wall switch to a Momentary Switch,

Automation: IF kitchen light is OFF, turn ON kitchen light (auto off in HomeKit set 3 mins)

if I keep motion going in the Kitchen the Light stays on, the way it works is by the Motion Sensor resets the auto off each time it is activated, and IF the light is

[2020-07-28 12:54] andyblac commented on #93
also what could be done is get the shelly AutoOff have it shown in HomeKit as a tile.

@rojer could you do this ?, would it be possible to show the AutoOff as dummy switch tile in HomeKit, so it turns ON when the light is on (as it starts count down in code) and when count down is reached as it turns off Switch relay, turn OFF the dummy switch tile in HomeKit.

[2020-07-28 12:55] flying-stefan commented on #30
@rojer May the version 2.0.10 be installed on Shelly1, Shelly25 or both? thx for your effort! It's improving from version to version!!!

[2020-07-28 13:00] andyblac commented on #30
all devices FW are the link, so yes Shelly1 and 2.5 can be flashed.

[2020-07-28 17:12] billcalle commented on #30
@rojer, I absolutely torture tested the setup as can be seen in this terrible picture (sorry, it was taken on a Dell, the only non-Apple device I have in the house):

![WIN_20200728_09_34_05_Pro](https://user-images.githubusercontent.com/67620420/88695650-0afa7480-d0b7-11ea-9b4b-9b4bea40d5c7.jpg)

That was 9 devices (4 iPhones, an iPad Pro, 3 laptops and an iMac) plus not seen in the photo are the

[2020-07-28 23:59] rojer commented on #30
@billcalle thank you, this is great news. i checked both test devices and the connection counts are consistent. however, i see that shelly1-B8F5CD rebooted. logs indicate that there was a connection storm at the time with lots of inbound connections from controllers. i see a memory allocation failure though it did not crash immediately after that but some time later. for some reason core dump on f

[2020-07-29 01:00] billcalle commented on #30
@rojer, oh wow, I was checking the uptimes throughout the day and must have missed that reboot. Based on the timing, it is likely that this occurred when I toggled the switch on my desk. I was on a Zoom call and likely idly toggling the switch as a distraction. I think your plan to make more memory available to support more sessions is the way to go. Obviously the crash issue will eventually surfa

[2020-07-29 11:02] rojer commented on #30
@billcalle no, uptime counter is pretty accurate:

[code]

this is ~1 day of logs in real time (timestamps on the left, assigned by the server) and uptime of the device is ~1 day. certainly nothing like 2x difference.

[2020-07-29 13:57] billcalle commented on #30
@rojer, okay my bad. I’m doing the math again and the uptime counters have in fact increased by about 13 hours which is the elapsed time since I posted that message. Either I did my time math wrong, or my recollection of when I did the firmware upgrade was way off. Sorry about that.

[2020-07-29 16:36] NS-K commented on #30
I think that the disconnecting problem is not only related to simultaneous connections, as there is something wrong with the MDNS. I have created an isolated network with two devices : LG TV HOMEKIT COMPATIBLE and a shelly 2.5 than I monitored the MDNS announcements :

[code]

Shelly display Not Reachable after the service is removed.
The active connections was 4.

this is the serial output from s

[2020-07-29 16:49] billcalle commented on #30
@ns-k, do you mind sharing what tool you utilized for monitoring the MDNS announcements? I'd be curious to do the same thing and see if I can replicate the behavior.

[2020-07-29 16:51] NS-K commented on #30
use the command : dns-sd -B _hap

[2020-07-29 17:01] Supereg commented on #30
@rojer what mdns implementation is used for the Shellies? Also noticed that the implementation doesn't really follow the spec in terms of how the answers are assembled (Some record which should be put into the additional section of the dns packet are just put into the answer section e.g.). Though mdns seems to be reliable (at least for me).

[2020-07-29 20:57] billcalle commented on #30
@rojer, per the instruction provided by @NS-K, I started monitoring the MDNS announcements as well and was able to reproduce similar results:

`% dns-sd -B _hap
Browsing for _hap._tcp
DATE: ---Wed 29 Jul 2020---
13:50:01.706  ...STARTING...
Timestamp     A/R    Flags  if Domain               Service Type         Instance Name
13:50:01.707  Add        3   5 local.               _hap._tcp.

[2020-07-29 21:02] billcalle commented on #30
@rojer, per the instruction provided by @NS-K, I started monitoring the MDNS announcements as well and was able to reproduce similar results:

[code]

Because it was one specific accessory that was having an issue, I brought up the debug screen and noticed the following:

[code]

Looks like there is a connection management issue. What are your thoughts?

[2020-07-30 16:57] fritte87 commented on #103
Hi, here the same...at amazon there is a shelly 1 with HOMEKIT Firmware which operated with a reed contact on SW...
so how I have to configure the Shelly 1 ? Anybody Knows?

Thanks

[2020-07-30 23:16] mientki commented on #5
Is it possible to join the beta test? I have a lot of experience with HomeKit and roller shutter controls.

[2020-07-30 23:29] rojer commented on #30
@NS-K interesting observation, i will look into that as well.

meanwhile, i've increased number of concurrent sessions to 9 by making output buffers dynamic ([1](https://github.com/mongoose-os-libs/homekit-adk/commit/ae5fd5376a5786bc3557f2517d6518025fcd94df) [2](https://github.com/mongoose-os-libs/homekit-adk/commit/d70ad2c8003176221ba2c9c149f3730f0e2350a4)).

this is a fairly big change, testing

[2020-07-30 23:41] rojer commented on #5
i'm still fighting with #30, i will let you know once i have something to test.

for now, i'm wondering how many are using motors with built-in stop switches and how many would like to use shelly inputs as such?
i have a bunch of [these](https://www.amazon.co.uk/Roller-Shutter-Solroyal-Powerful-Warranty/dp/B00SFXPF5E) to play with, they have stop switches built-in.

[2020-07-30 23:43] billcalle commented on #30
@rojer, all 5 accessories upgraded (3 with debug, 2 with non-debug). I'll start testing and report back.

Did you happen to notice in my last message that the debug output shows 7 connections?

[2020-07-30 23:44] rojer commented on #30
@billcalle oh, yes. but that's normal: 2 of them are pending and 5 are active. those can be distinguished by flags (0x100000 for pending, 0x200000 for accepted). so it all adds up.

[2020-07-30 23:46] billcalle commented on #30
@rojer, thanks for the clarification. I'll take that into account. I'll have to say that this is working far better over the last few days. I think these latest improvements have made a world of difference!

[2020-07-31 07:59] andyblac commented on #30
@rojer updated all my shelly for you to have a look at, I have noticed that my AppleTV's want a connection even though I have HomeKit Hub disabled on them.

[2020-07-31 08:51] andyblac commented on #5
would I be able to control the blind without a physical switch ?, how would these work within homekit, ie a % open, how would HomeKit know when they are open or closed ?

[2020-07-31 09:02] Thotty1986 commented on #5
You can make it by time. But that is not recommend.
Normal is, that the end switch is integrated bei the Rollo Motor.
If you have Raffstors there is a physical switch.

[2020-07-31 09:27] fritte87 opened #105 "Shelly1 Garagedoor Status"
Hi @ all,
@ Amazon there is a reseller (HomekitBG) who sells Shelly1 with Homekit Firmware, which can give out the status from a reed contact.

So @rojer is it possible to get the same of your HomekitFirmware?

Here is the link from the Reseller:

https://www.amazon.de/HomeKit-compatible-Shelly-Garage-Door/dp/B07WN8YXGP/ref=sr_1_1_sspa?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=s

[2020-07-31 12:13] rojer commented on #5
it would be represented in homekit as a "Window Covering" device. partial opening will be judged by movement time, we'll know full movement time after calibration.

so my current thinking is that we should expect end switch to be integrated into the circuit, so we expect current to drop to 0 when a limit is reached in either direction.
we will also have a configurable timeout so movement will stop

[2020-07-31 19:26] MilanBacaCz commented on #65
and will it be accessible from config gui?

[2020-08-01 08:15] fritte87 commented on #105
Thanks Andy,
I read the Whole #5 but Here they talk about roller shutter.
I Need the Shelly1 because there a dry contacts in it...
So Shelly 2.5 is Not usable for me die garagedoor

[2020-08-02 12:11] Andi161 opened #106 "Local file Firmware update procedure"
No success in updating Shelly-1 Firmware from Version 2.0.1 to 2.0.11:
dragged the downloaded zip-file into the box "file selection" on the bottom of the web-GUI, and hit the blue Update button. The GUI is replaced by a message "-1 Archived file size is unknown" Shelly-HomeKit webpage is gone for 2 minutes, and can be pulled back again with no firmware change, still at 2.0.1. Same with update usin

[2020-08-02 13:42] handy-manny-swe commented on #93
Sorry @andyblac , I won’t be able to look at this for several months.

[2020-08-02 13:53] Andi161 commented on #106
Ok, found the problem: when clicking the download link MacOS Catalina did not download the zip file, but the contents of it. Only by right click - load file, the zip is downloaded.
So I actually never tried to install the zip.

[2020-08-02 13:54] Andi161 commented on #106
Please close the issue

[2020-08-02 14:01] #106 closed

[2020-08-02 14:02] rojer commented on #106
yes, mac os is trying to be helpful and ruining everything :)

[2020-08-03 13:46] pivale commented on #5
I now have a motorized roller shutter with mechanical toggle switch with two buttons. Line always stays "on" on the switch and motor, since it's the motor that stops when it reaches the end.

I'm buying a shelly 2.5 and a replacement momentary (push) switch with two buttons.

Quick questions:
- would it still work with the mechanical toggle? How would it interpret the current always on in the swit

[2020-08-03 17:14] billcalle commented on #30
@rojer, this build has been rock solid over the last 3.5 days. I hate to jinx it, but I think it might be time to close this issue. Excellent work on getting to the bottom of this!

[2020-08-03 17:20] Supereg commented on #30
Thumbs up for all the great work @rojer 🎉 🥳

[2020-08-03 17:23] andyblac commented on #30
I agree, but I don't have more than 9 concurrent controllers, anybody here have more than 9 ?

[2020-08-03 18:35] gregDEweb commented on #30
I do have 7 controllers and have still issues.
Almost everytime i open my homekit App at least one of the decives is not reachable. If i close and open the homekit App again the device is online the moste oft the times. sometimes i need to perform this twice.

[2020-08-03 18:59] rojer commented on #30
@gregDEweb do you have debug firmware installed on any of the devices? if not, would you mind doing that? this would make it easier to debug. reminder: it sends logs to my server and gives me remote access to the device, i will totally understand if that is not acceptable.

[2020-08-03 19:14] gregDEweb commented on #30
@rojer
So far there is no debug software installed.
I will set up a different network and you will get access to 9 devices total. Mix of 1, 1PM and 2.5.
Will take about half an hour i guess.

[2020-08-03 19:15] andyblac commented on #30
no, @rojer is asking if you would mind flashing this https://rojer.me/files/shelly/2.0.11-dbg/ version of the FW, that will give him access to debug and acmes to the device itself.

[2020-08-03 19:18] rojer commented on #30
sounds fine. please flash them with the debug firmware Andy linked above and also make sure the issue reproduces in that setup too (it may be specific to your main network). but as long as it does repro, that should work.

[2020-08-03 19:19] rojer commented on #30
this may have something to do with the issue @NS-K reported in his comment above (https://github.com/mongoose-os-apps/shelly-homekit/issues/30#issuecomment-665771893) but then again, @billcalle sees it and it doesn't seem to make a difference. FWIW i also see it in my network, i plan to take a look at it.

[2020-08-03 19:25] NS-K commented on #30
@rojer i Think that we have a serious security issue that we have to fix before. or at least disabling the web interface once the device is paired.
CVE-2020-12638 : https://www.espressif.com/sites/default/files/advisory_downloads/Security%20advisory_%20authentication%20bypass.pdf

I will open a new issue with more details

[2020-08-03 19:28] rojer commented on #30
@NS-K definitely looks like it. but please file a separate issue for this under https://github.com/cesanta/mongoose-os

[2020-08-03 20:02] NS-K commented on #30
@rojer Done. https://github.com/cesanta/mongoose-os/issues/548

Maybe you can compile a sub-version with web interface enabled on AP MODE and disabled on STA MODE as this will not be a big issue with Homekit’s protocol encryption but not the case with the HTTP PROTOCOL especially for people using it for garage door opening / closing.

I think this may affect also the native shelly firmware

[2020-08-03 20:08] gregDEweb commented on #30
@andyblac thanks for the link but i was aware of what needed to be done. just wanted to get them on another network first.

@rojer
you should get data from 7 devices at the moment. struggling with 2 to get them working again but its a network issue on my side.

[2020-08-03 21:05] andyblac commented on #30
If you disable webif on STA MODE how could you perform the FW update etc

[2020-08-03 22:17] rojer commented on #30
can you list their ids? i need to be able to distinguish them.

[2020-08-04 09:00] Montardit opened #107 "Shelly HomeKit"

[2020-08-04 09:10] rojer commented on #107
?

[2020-08-04 09:10] #107 closed

[2020-08-04 14:46] Montardit commented on #107
Sorry, I didn't want to create it. I didn't know how to delete it. :(

[2020-08-04 16:45] pivale commented on #104
It would be really cool, but Button1 doesn't seem to be build on ESP8266.
Or at least they don't advertise it like that...

[2020-08-05 09:52] rojer opened #108 "Devices appear and disappear from Bonjour"
Originally reported here:

https://github.com/mongoose-os-apps/shelly-homekit/issues/30#issuecomment-665771893

Devices seem to be constantly appear and disappear from Bonjour.
This may or may not impact connectivity, this is not clear, but should be looked into anyway.

[2020-08-05 09:54] rojer commented on #30
ok, gentlemen, i'm going to close this issue, there's way too much stuff here. we have made improvements, i think the original issue is fixed.
i filed https://github.com/mongoose-os-apps/shelly-homekit/issues/108 for the Bonjour issue.
thanks everyone for assistance and testing!

[2020-08-05 09:54] #30 closed

[2020-08-05 09:55] andyblac opened #109 "Bulk Flash / Auto update"
is there away to flash all Shelly's at once ?, As I get more and more Shelly's keeping them up to date is starting to take a some time.

So... I was wondering could you write a MacOS app to flash all shelly's one after another ?, It could go and probe the network via bonjour to find shelly's, device type, current FW version, then do a bulk update.

@rojer is this something you could do?

[2020-08-05 09:59] rojer commented on #109
you can script it with `curl`.

[code]

[2020-08-05 10:05] andyblac commented on #109
is there a curl to probe FW version ?, I m not bad linux scripting.

[2020-08-05 10:07] rojer commented on #109
[code]

[2020-08-05 10:14] andyblac commented on #109
[code]

[2020-08-05 10:18] rojer commented on #109
`brew install jq`, perhaps?

well, you don't have to use jq, it's just a convenient way to parse JSON in shell (https://stedolan.github.io/jq/).

[2020-08-05 11:37] andyblac commented on #109
@rojer is there anyway I can probe the device to confirm it is running your firmware, it just that when I probe my lan for shelly it is picking all of them up, including those on official firmware.

[code]

[2020-08-05 11:39] rojer commented on #109
yeah, Sys.GetInfo is a generic mos rpc.
ok, we can use one specific to shelly-homekit:

[code]

ones not running shelly-homekit will return 404.

[2020-08-05 11:42] andyblac commented on #109
ok thanks. I have got most of required values now, current FW, vastest FW on GitHub, download urls from githhub, now I have this I'll start work on a script.

[2020-08-05 14:29] andyblac commented on #109
@rojer can you add "Model: xxxx" to firmware section in webUI, so I can use to pull the correct download URL from GitHub, I tried using "App: switch1" but the is no link between the 2.

[2020-08-05 14:31] rojer commented on #109
i can add it, for now you can have an app -> model map in the script

[2020-08-05 14:32] andyblac commented on #109
any idea how, ever used dictionary's in BASH.

[2020-08-05 14:35] rojer commented on #109
bash has a `case` statement, google it.

[2020-08-05 14:44] andyblac commented on #109
cheers,  sorted...

[code]

[2020-08-05 15:32] andyblac commented on #109
@rojer something just happened `curl --silent "https://api.github.com/repos/mongoose-os-apps/shelly-homekit/releases/latest" | jq -r .tag_name` no longer working just stopped you changed something?

[code]

[2020-08-05 15:34] andyblac commented on #109
oh bugger

[code]

[2020-08-05 15:41] rojer commented on #109
right, you need to either take a break or add a token. meanwhile, i added model to GetInfo output - https://github.com/mongoose-os-apps/shelly-homekit/commit/8b0beaf4c910eef3f2ae4e2de1d49b17dab41e20

[2020-08-05 16:01] andyblac commented on #109
thx, I'm not stuck of how to compare the version number in bash, is it only seems to handle decimal or integer (xx or xx.xx) not xx.xx.xx

any ideas ?

[2020-08-05 16:07] rojer commented on #109
ugly... but possible. google yields https://github.com/cloudflare/semver_bash, which seems decent.

[2020-08-05 16:59] vanrri commented on #109
any chance you can add firmware to shelly Dimmer and Shelly Pro?

On Wed, Aug 5, 2020 at 6:37 AM Andy Blackburn <notifications@github.com>
wrote:

[2020-08-05 17:59] timoschilling commented on #100
What does you mean? Did you mean whats the address of your switch or what does the address stands for / what of the shelly provides this address?

[2020-08-05 18:01] andyblac commented on #109
thx but managed to code my own way.

[2020-08-05 18:07] andyblac commented on #109
@rojer ok here is the 1st beta of script, it dose not flash as line 31 has

`				[Yy]* )  echo "Now Flashing.."; echo "curl -F file=shelly-flash.zip http://$device/update"; break;;`

to actually get it flash replace line 31 with

`				[Yy]* )  echo "Now Flashing.."; curl -F file=shelly-flash.zip http://$device/update; break;;`

let me know what you think, or if I have done something wrong.

[flash

[2020-08-05 18:44] rojer commented on #109
hey, this is github! make a PR out of it :)

[2020-08-05 18:58] andyblac commented on #109
yeah, I will, once you give it the once over, don't want to brick people devices incase I fucked something up 😄

[2020-08-05 18:59] rojer commented on #109
it's a pull _request_, i don't have to merge it straight away. PR only starts the conversation, i can add line comments, etc.

[2020-08-05 19:00] andyblac commented on #109
ok

[2020-08-05 19:08] andyblac commented on #109
@rojer done https://github.com/mongoose-os-apps/shelly-homekit/pull/110

I have enabled the actual flash process on line 31.

[2020-08-06 19:41] yehuda2525 commented on #5
hi mate good job on firmware,
any news about the roller shutter?
its hard to control the roller in a switch mode...

[2020-08-06 22:03] rojer commented on #5
still `ENOTIME`, attending to more urgent matters. this is first on my list to do.

[2020-08-07 12:14] testpaul999 opened #111 "cat flash shelly1 who has tasmota firmware"
Hi,
i have a new shelly with tasmota FW 8.4.0, have try with minimal and normal FW and get
Shelly 1 Modul
Shelly 1
Upload fehlgeschlagen

Magic Byte ist nicht 0xE9

need help please

[2020-08-07 12:57] rojer commented on #111
you need first to go back to stock firmware, we don't support upgrades from tasmota.
@yaourdt (author of https://github.com/yaourdt/mgos-to-tasmota) mentioned thayt he had plans to build a bridge back (from tasmota to stock / mongoose os), i don't know if that is still planned.

[2020-08-07 12:57] #111 closed

[2020-08-07 14:58] Ludelag commented on #105
Hello, I have the same question about it, see this video: https://www.youtube.com/watch?v=P5mQADnZXOI
and also this video with a multy accessory:
https://www.youtube.com/watch?v=_hFVtwb0wug&t=508s
There is any possibility to have this firmware?

[2020-08-07 14:58] burton58 commented on #36
I have the same issue with two shelly 2.5's. I reseted both (power off, 10x on/off) and got the lights flickering. But I do not see any WIFI that matches Shelly. Or is there a specific Wifi name/pw?

Tried it multiple times but without success

[2020-08-07 16:32] vanrri opened #112 "Add support for Dimmer and RGBW devices"

[2020-08-07 16:44] Ludelag commented on #5
good job Rojer!, look at this video, probably you have seen it already, there is a firmware outhere call multy accessory homekit, and it looks like is programmed thru EVE app and you get the response as well in homekit:
https://www.youtube.com/watch?v=_hFVtwb0wug&t=546s if you follow up you can also find the second part and there is also a firmware installation explanation. But I am not so expert

[2020-08-07 16:44] andyblac commented on #112
ticket already open https://github.com/mongoose-os-apps/shelly-homekit/issues/72 / https://github.com/mongoose-os-apps/shelly-homekit/issues/14

[2020-08-07 21:08] markus7017 commented on #112
@vanrri ?

[2020-08-08 12:04] Olly68 opened #113 "Server/File http://rojer.me/files/shelly/shelly-homekit-Shelly1.zip not reachable"
Hi,

First at all thank you for your great work.

I have updated 5 Shelly 1 the last weeks and they are working fine with the HomeKit Firmware:
App: switch1
Version: 2.0.7
Build ID: 20200723-232904/2.0.6-1-gd2f0795-master

Today I have implemented a new one with the following Shelly firmware:
The current Firmware version of your Shelly device is 20200601-122823/v1.7.0@d7961837 No newer firmware av

[2020-08-08 12:07] andyblac commented on #113
make sure that the shelly device has internet access, maybe check your DNS / firewall.

[2020-08-08 12:09] Olly68 commented on #113
With the Shelly app is everything fine also over IP.

[2020-08-08 12:09] andyblac commented on #113
try manual update via webUI, download file from here https://github.com/mongoose-os-apps/shelly-homekit/releases

[2020-08-08 12:10] andyblac commented on #113
or could try url from GitHub https://github.com/mongoose-os-apps/shelly-homekit/releases/download/2.0.12/shelly-homekit-Shelly1.zip

[2020-08-08 12:12] Olly68 commented on #113
Sorry, how can I make a manual update over webUI?
Is this complicated?

[2020-08-08 12:13] andyblac commented on #113
are you still on official shelly firmware or are you on this firmware, nd just want to update to latest ?

[2020-08-08 12:15] Olly68 commented on #113
Iàm still on the Shelly Firmware: 20200601-122823/v1.7.0@d7961837

[2020-08-08 12:15] Olly68 commented on #113
I want to Update to the HomeKit firmware?

[2020-08-08 12:16] andyblac commented on #113
ok, it dose seem @rojer firmware link is down, so maybe try link from GitHub like

http://X.X.X.X/ota?url=https://github.com/mongoose-os-apps/shelly-homekit/releases/download/2.0.12/shelly-homekit-Shelly1.zip

[2020-08-08 12:21] Olly68 commented on #113
Status in web browser: {"status":"updating","has_update":false,"new_version":"20200601-122823/v1.7.0@d7961837","old_version":"20200601-122823/v1.7.0@d7961837"}

Nothing is happen on the Shelly.
The Shelly is working with the Shelly Firmware.
I can’t understand why, it’s the first time that the firmware upgrade is not working.

[2020-08-08 12:25] andyblac commented on #113
ok,  guess you'll have to wait for @rojer to fix his web server then.

[2020-08-08 12:28] Olly68 commented on #113
Okay, thank you for your help.

[2020-08-08 13:13] TheRock89 commented on #113
Hey Guys,

i have the same problem as Olly68. I have also tried the different URLS, but I come to the same result as Olly68.

[2020-08-08 13:15] andyblac commented on #113
yeah, rojer host is down, and GitHub I guess uses redirects to AWS to host files, the why dose not work, it requires a direct link to file.

[2020-08-08 13:25] rojer commented on #113
oops, sorry, the server was down. it's back up now.

[2020-08-08 13:25] #113 closed

[2020-08-08 13:34] Olly68 commented on #113
Thanks ab lot for the fast help

[2020-08-08 14:37] Olly68 commented on #14
@rojer
Do you have plans for Shelly Dimmer 2 at the moment?
Or is time still your problem?

It would be great if you can find a solution👌🏻😀

[2020-08-08 14:38] vanrri commented on #112
Ok got it!

Hope this is picked up soon.

On Fri, 7 Aug 2020 at 4:09 PM Markus Michels <notifications@github.com>
wrote:

[2020-08-09 15:36] andyblac commented on #90
did the update to 2.0.12 fix your issue ?

[2020-08-09 16:38] Whiterabbit64 commented on #90
As I’m not at home, I can’t update them. Should be able to that by the end of this month.

[2020-08-11 10:15] Marfre888 commented on #93
@andyblac I understand. That is how it is setup at the moment. with the delay plugin in homebridge.

This however doesn't address my initial issue. Which is that, I want to be able to stop the motion sensor from turning off the lights is the switch is in the ON position. Reason being that occasionally I have guests over, or I'm cleaning and want to keep the lights on.

I know I could just stop the

[2020-08-12 12:40] michaelbublat commented on #83
Is there any documentation on how to expose via settings?

[2020-08-14 12:45] SniFManS commented on #105
Shelly1 for Garage + sensor setup, please.

Passionate domotica is using his firmware for Homekit and uses Eve to fine-tune it so it is working in Homekit.

[2020-08-14 16:43] yuvalbeck opened #114 "Wifi signal"
Hi,
Wifi signal strength status would be a nice feature in the web UI.
Thank you

[2020-08-14 19:14] andyblac opened #115 "Reverting to stock firmware"
Shelly has updated the API in v1.8.0, as a result all the link to the zip's are now giving 404 in the readme.

[2020-08-14 21:56] rojer commented on #115
@kzyapkov what are the new locations?

[2020-08-15 08:26] kzyapkov commented on #115
URLs for all devices are listed at

https://api.shelly.cloud/files/firmware

[2020-08-15 23:09] pfandrade commented on #103
I'm actually doing this with the stock firmware and a fork of homebridge-shelly. I'm keen on flashing this firmware to no longer need homebridge so here's my +1 for this feature.

[2020-08-16 22:29] Martinx64 commented on #105
Yes, it would be very nice to have firmware for garagedoor opener..

[2020-08-17 00:28] Ludelag commented on #105
Good evening, what sensor will you recommend.? And how to make them work together?

[2020-08-18 22:28] kikofhm commented on #115
how revert to stock firmware?
the link <http://api.shelly.cloud/firmware/SHSW-1_build.zip>lead me for "404 Not Found"
I can't revert firmware for original via interface (attach file)

[2020-08-18 22:54] andyblac commented on #115
Links are in the above post but
Here is one for Shelly 1 http://api.shelly.cloud/firmware/SHSW-1.zip

[2020-08-19 07:00] SniFManS commented on #105
Look at this setup : [https://www.youtube.com/watch?v=WEZUxXNiERQ&t=520s(url)

[2020-08-19 08:55] pivale commented on #115
Is it possible to add a field for the comercial name?
It will be easier for people not familiar with the product_id

[2020-08-19 09:11] #115 closed

[2020-08-19 09:12] rojer commented on #115
updated the links

[2020-08-20 00:46] ree109 commented on #14
Would this help with the dimmer - https://github.com/curla92/LED-Dimmer-Homekit

[2020-08-20 01:49] vanrri commented on #14
Anyone tried it yet?

On Wed, 19 Aug 2020 at 7:47 PM ree109 <notifications@github.com> wrote:

[2020-08-24 07:20] Whiterabbit64 commented on #90
Upgrade done yesterday.

What I observe is a great improvement : Shelly's web page load faster. In Home app, Shelly's status is now instantaneous. Siri on HomePod is now able to interact with Shelly.
So far so good.

I'll post again here in few days to confirm if everything is stable.

[2020-08-24 18:21] schemhad commented on #100
Maybe you mean the MAC-Address. It is an burned-in Network-Address, 48-bit, looks like "DE:AD:BE:EF:CA:FE"...

[2020-08-26 07:24] Whiterabbit64 commented on #90
After several days, I can say it's very stable and works like a charm 👍
Issue is now solved.

Well done 👌

[2020-08-26 20:35] rojer commented on #90
thanks for getting back, closing this now!

[2020-08-26 20:35] #90 closed

[2020-08-27 08:41] andyblac commented on #115
I have wrote a tool to do this automatically for you, you can find the script here https://github.com/mongoose-os-apps/shelly-homekit/blob/master/tools/flash_shelly.sh simply run `./flashscript.sh -m revert _hostname.local_`

[2020-08-27 11:22] andyblac commented on #109
since this has now been added, so I will close it.

[2020-08-27 11:22] #109 closed

[2020-08-27 16:26] fritte87 commented on #105
any news for the firmware ? Thanks

[2020-08-30 18:58] Thoomass opened #119 "Don't get the updated page on shelly 1"
I typed in the update url and got this: "{"status":"updating","has_update":false,"new_version":"20200827-065344/v1.8.3@4a8bc427","old_version":"20191217-140757/1047-long-id-for-shelly-devices@a0661583"}"
But the Shelly page doesn't update.
I tried to clear the Cache but Nothing changed.

I'm Looking for a solution for Hours, but I didn't find one.
I hope someone can help me.

[2020-08-30 19:07] Thoomass commented on #119
Solved: got a mistake at the url, watch out the smal and big letters!

[2020-08-30 19:07] #119 closed

[2020-08-30 19:12] rojer commented on #119
glad you got it working

[2020-08-31 00:05] andyblac opened #120 "Add stock device ID"
can you add the stock Shelly device ID to Shelly.GetInfo

This will make it easier to support flashing stock firmware in FlashScript as new devices are added.

[2020-08-31 08:53] rojer commented on #120
hm. the firmware has no uses for it though.
and it will essentially be a mapping anyway, might as well keep it in the script.

[2020-08-31 09:08] joe210599 opened #121 "Shelly 2.5 Switches in Separate Rooms"
I have the Problem in putting the two switches in different Room. When I would like to put one Switch in Room A, the second one also goes to Room A. How can I fix that Issue?

Thanks in advance!

[2020-08-31 09:12] andyblac commented on #121
this is a duplicate ticket, add your support here https://github.com/mongoose-os-apps/shelly-homekit/issues/18

[2020-08-31 09:18] rojer commented on #121
yes, dup of #18

[2020-08-31 09:18] #121 closed

[2020-08-31 09:19] andyblac commented on #120
ok, np.

[2020-08-31 09:19] #120 closed

[2020-08-31 09:26] joe210599 commented on #18
Where should I put this: "[ ] Separate accessories". To separate the devices into two?

[2020-08-31 14:39] Alex-Bricklayer opened #124 "Shelly DW2 support"
First of all many thanks for the wonderful firmware. Is it possible to extend the software to the Shelly sensors? Especially the Shelly Door/Window 2 would be very useful.

Greetings

Alex

[2020-08-31 21:44] rojer commented on #124
it's possible, but no ETA, as usual.

[2020-08-31 23:11] 49adrien opened #126 "Input Mode"
Hi,

I don't understand the function of this option ?

Thanks

[2020-09-01 09:35] pivale commented on #126
Maybe this issue https://github.com/mongoose-os-apps/shelly-homekit/issues/56 can help?

[2020-09-01 18:16] 49adrien commented on #126
Ok so no possibility of reassembling an input for example a garage door contact ?

[2020-09-02 08:15] greensouth commented on #5
When doing it, don't forget to add a pause when quickly switching from one direction to another. I was using the Ravencore firmware just before it was implemented in code, and fried one roller shutter because it hadn't the pause to let the motor stops completely before changing the direction.

;)

[2020-09-03 16:35] vladbisceanu commented on #9
Hi! IS this live in the latest build? Sorry for commenting on an old issue, but this is of high interest to me. Actually, I intend on purchasing around 20 Shellys for all my dumb light switches and this is the feature that will make it or break it.

I want to use the Shellys on dumb switches together with smart lights. The goal is to have dimmable/colored lights but also be able to control them vi

[2020-09-03 17:15] rojer commented on #9
no, it hasn't been implemented yet

[2020-09-03 18:52] vladbisceanu commented on #9
Thanks for the fast reply! Any idea when it will be implemented?

[2020-09-03 19:30] yuvalbeck opened #127 "HomeKit QR setup code"
It would be great to have auto generated HomeKit codes and QR codes in particular- not having to setup it manually.

[2020-09-03 20:20] rojer commented on #127
good idea

[2020-09-03 20:20] rojer commented on #9
absolutely no idea. i've been very busy at my day job lately, very little time and energy for side projects...

[2020-09-03 21:57] schemhad commented on #127
That shouldn't be complicated... I'll take a look at that when I got some time to...

[2020-09-04 09:03] vladbisceanu commented on #9
Ok, mate. Can 100% understand how that feels. Thanks for letting me know and good luck with your work! Just to be aware of all the options here: is there any known way of disabling the relay switching on button press with this firmware and just have the button do something else entirely?

[2020-09-04 09:05] rojer commented on #9
not at present but that is exactly the plan - decouple input from output, export it as an independent hap service.

[2020-09-04 09:07] vladbisceanu commented on #9
Understood. Really looking forward to that feature, whenever you got the time for it. Would love to offer my support, but I truly have no clue what sorcery you did with this project so I'm at a loss. Again, thanks for being so responsive!

[2020-09-04 09:18] geokvant commented on #9
you can detach switch from relay over web-interface in original FW 1.8.3 by this menu
![image](https://user-images.githubusercontent.com/49816779/92222791-33d90b00-eea8-11ea-9d46-2a26f786157f.png)
with this setup relay will be controlled only by button in web-interface or over API. I use for my needs this plugin in HB https://www.npmjs.com/package/homebridge-button-platform with Actions menu for e

[2020-09-04 09:26] vladbisceanu commented on #9
That's actually perfect as an alternative solution for me. I have a HB setup already running for PC control and other minor things. Can you share more details about how the plugin is configured in your case. I've ordered a Shelly 1 and a 2.5, which should arrive in 1-2 days and I'll be able to test this.

[2020-09-04 09:52] geokvant commented on #9
In my case I've made usage only Long press for Actions, but Switches not detached. I wanted to add to my switches Long press Actions in HB, so I added 11 Virtual Buttons with those scenarios I wanted for LONG PRESS and added links for them as it described for homebridge-button-platform
![image](https://user-images.githubusercontent.com/49816779/92225074-659fa100-eeab-11ea-89f9-9417775f3e37.png)
yo

[2020-09-04 09:53] schemhad commented on #127
@rojer
Is there already some kind of Setup-PIN like e.g. "ABCD"? If not, we have to define it...

The rest looks like Devicetype (like e.g. "5" for a lightbulb), Setup-Code ("111-22-333"), Version "0", Revised "0", Flag "8" (Wireless IP)

So: "511122333008" - to Base36: "6IT11G7K" + Setup-PIN ("ABCD")

URL: "X-HM://6IT11G7KABCD"

This, generated to an QR-Code should/could work ...

[2020-09-04 09:55] rojer commented on #127
thing, is we don't store plain-text pin on the device, this is explicitly prohibited by the standard.
does the qr code contain pin in plain text?

[2020-09-04 10:23] vladbisceanu commented on #9
Ok, it all makes sense. Once I have my shellys I'll try this setup and post here on how it works, in case anyone else is interested in this. I might follow-up with noob questions here, if I get stuck. Many thanks for your help!

[2020-09-04 22:49] geokvant commented on #9
here you can find solution how to setup for single short press of Switch (in detached mode) to send command for one of your virtual buttons so the button single (or double or long) press (they are just 3 virtual actions in this case) toggle any action you want to be done through the shortcuts automation
https://linkdhome.com/articles/how-to-toggle-in-homekit

my case for this is next:
I have a Phi

[2020-09-05 12:29] michaelnozbe opened #128 "I've tried different versions of software, resets, HomeKit doesn't show it."
Hello, after hours on this, I'm giving up. I have a Shelly 2.5 device.

I managed to flash it to 2.0.12 version of HomeKit. I've assigned it a static IP address.

Web interface works, both switches work when I click on them.

When I set up HomeKit, I put code 00000001 which got accepted.

It says: paired:NO, provisioned:YES, Connections: 0/0/9 pending/active/max

But when I open the HomeKit app an

[2020-09-05 12:31] andyblac commented on #128
the HomeKit setup code is too basic, HomeKit it self will not allow it, please try a more random code

[2020-09-05 14:20] rojer commented on #127
the only point when we have code in plaintext is when users enters it into the text field. we can generate and display qr code at that point.

[2020-09-05 22:52] andyblac commented on #30
@rojer Sorry to open an old thread again but after 32 days on 2.0.12 I have 2 Shelly’s that are not responding and webui showing 0/0/9, webui is still responding before I reboot them is there anything you need from the shelly’s and for info it 1 x Shelly 2.5 and 1 x Shelly 1

[2020-09-05 22:56] 75TiagoMatias commented on #30
Humm.. same here 2 days ago. After 25 days flawless it didn't respond. WebUI was available and it was showing 1/0/9... 1 pending and no actives. Rebooted and everything went fine. But yes, lost Homekit HomeApp connection after 25 days.

[2020-09-05 22:57] billcalle commented on #30
I had a similar thing happen yesterday. 29 days of running and then my two devices stopped responding. One was at 0/2/9 and the other at 0/1/9. I reboot and everything is of course fine. Sorry I hadn’t reported her, busy weekend...

[2020-09-05 23:04] macomic commented on #30
Same here

[2020-09-05 23:05] andyblac commented on #30
Auto power off is working still, so the Shelly has not crashed or anything like that just HomeKit has lost it connection

[2020-09-05 23:08] 75TiagoMatias commented on #30
So, let's see... we are all connected to the BigEye where the main server crashed and all of our devices went crazy muahaha 😂

[2020-09-06 09:41] rojer commented on #30
hm, interesting. @andyblac is the device visible in dns-sd? is it reachable by its .local name?

[2020-09-06 11:30] andyblac commented on #30
yup
[code]

[2020-09-06 16:41] rojer commented on #30
hm. does the device respond on port 9000? http://shellyswitch25-8CAAB505AD13.local:9000/
it doesn't display any web page, it's normal if you get "HTTP ERROR 470" (as opposed to connection refused or timeout).
also, can you paste output of http://shellyswitch25-8CAAB505AD13.local/rpc/Sys.GetInfo

[2020-09-06 17:18] andyblac commented on #30
![Screenshot 2020-09-06 at 18 18 13](https://user-images.githubusercontent.com/77936/92331255-5bc59b80-f06d-11ea-9a66-cefb85aacbdc.jpg)

[code]

[2020-09-06 17:21] rojer commented on #30
ram is ok

ok, safari is not very helpful. try `curl -v http://shellyswitch25-8CAAB505AD13.local:9000/`, you should see error 470:

[code]

[2020-09-06 17:23] andyblac commented on #30
[code]

[2020-09-06 17:24] rojer commented on #30
ok, so it drops connection without responding. not good.
there isn't much we can do now i'm afraid but please flash debug firmware to this device and let's wait for it to happen again.

[2020-09-06 17:25] andyblac commented on #30
got link again for 2.0.12 debug please

[2020-09-06 17:25] rojer commented on #30
https://rojer.me/files/shelly/2.0.12-dbg/

[2020-09-06 17:28] andyblac commented on #30
done flashed, I'll report back once it happens again, but it could be another month :(

[2020-09-06 17:45] rojer opened #129 "HAP HTTP server drops connections"
Reported by @andyblac in https://github.com/mongoose-os-apps/shelly-homekit/issues/30#issuecomment-687673015, confirmed by other users.
Apparently, after a while (~30 days) the device becomes unavailable in the Home app.
 * still available on port 80, web ui works fine
 * RPC works fine
 * free ram is normal, so not a memory leak
 * HAP connection counts are all at 0
HAP HTTP server drops connecti

[2020-09-06 17:45] rojer commented on #30
filed https://github.com/mongoose-os-apps/shelly-homekit/issues/129, let's all continue the discussion there.

[2020-09-06 21:14] michaelnozbe commented on #128
It wasn't that. For some reason it just didn't work. I left it there. Waited a day and after a day it showed up, it got added and it's now in my homekit. Dunno why after a day it just started to work.

[2020-09-06 21:14] #128 closed

[2020-09-06 21:23] michaelnozbe commented on #5
@rojer thanks again for all your hard work. Also hoping to use Shelly 2.5 as roller-shutter.

On a side note, when I saw this "HomekitBG" person selling Shelly 2.5 with HomeKit support I thought it was a standard Shelly 2.5 with THIS firmware, but turns out they've got a different firmware. You think they developed it themselves?

[2020-09-06 21:32] rojer commented on #5
i have no idea but don't see why not.

[2020-09-07 06:12] Thotty1986 commented on #5
Is there anywhere to Download for Testing ?

[2020-09-07 09:02] mat130780 commented on #5
Maybe the firmware that "HomekitBG" is using is HAA: https://github.com/RavenSystem/esp-homekit-devices
It can be configured as roller shutter device.

[2020-09-07 09:21] BlancoDeMallloca commented on #5
I think the main feature everyone likes about the mongoose firmware is the ability to flash and update over the air. This is a great feature especially for me as a technical noob.

Hope to have the roller shutter implemented soon. This would be a great feature to make the firmware #1 firmware available

[2020-09-07 20:13] schemhad commented on #127
I didn't got the dev-docs atm, but ist looks like plain text Setup-PIN to me... maybe we could open an popup window or overlay while setting the Setup-Code with a warning, that the generated QR code will only displayed this one time... otherwise it would be a serious security problem.

[2020-09-07 20:14] rojer commented on #127
yeah, we can do that. user can save or print the code for later use if they like.

[2020-09-07 20:17] sebastianheise commented on #127
It could just be displayed on the setup website. (Unless there isn't enough memory on the device...?)

[2020-09-07 21:36] rojer commented on #127
yes, that's the idea. basically, when you press "save" in the homekit section of the configuration and we have plaintext code value, we should pop up a window with QR code. code can be generated in javascript, so it won't even use much space (only some JS code).

[2020-09-08 08:04] greensouth commented on #5
Exact! that is why I love this firm. When it stops working, just go to the web interface and reboot it, voila! everything working again. Ravencore and HAA is awesome, but when it gets stuck, you have a problem, specially if it is not installed in an accessible place.

Can't wait for the roller shutter feature!

[2020-09-08 10:46] 49adrien opened #131 "Auto off delay"
Hello,

I don't understand how to put one second for the function :

<img width="361" alt="Screenshot" src="https://user-images.githubusercontent.com/65712163/92467070-4f5a5380-f1d1-11ea-9f6f-2701b173a7a6.png">

Thanks

[2020-09-08 10:48] andyblac commented on #131
the above is correct for 1 second

DAYS : HOURS : MINS : SECONDS : MILLI-SECONDS

[2020-09-08 10:52] 49adrien commented on #131
I found the problem :

0:00:00:01.000 no 0:00:00:01:000

[2020-09-08 19:29] #131 closed

[2020-09-09 09:08] schemhad commented on #127
But is there already a default (Setup-)PIN / Password like "ABCD"?
To secure it, we should generate a random four character PIN at this point, but we have to give it to the OS...

[2020-09-09 10:18] pivale commented on #129
Hey,

Having the same problem:

0/0/9 pending/active/max
Uptime: 25:16:33:46

Noticed just because automation on babycam stopped working.

Anything other information I can provide before rebooting?

[2020-09-09 10:21] andyblac commented on #129
nope, if you want to load the debug version, so if you get it again, it will allow @rojer to login to the device to see why it is happening download from below

https://rojer.me/files/shelly/2.0.12-dbg/

[2020-09-09 13:14] pivale commented on #129
2 quick questions, as I would like to help:
- what do you mean connecting to the device? as an ssh connection there? or just having more info I could then provide?
- when changing/loading/updating the firmware, does the connection with homekit needs to be redone and all other configurations?

Thank you!

[2020-09-09 13:20] andyblac commented on #129
you'll have to ask @rojer about question 1, ut as for Q2 no just flash it, all settings are saved.

[2020-09-10 09:07] rojer commented on #129
i ran a "connection stress test" overnight, with about 25000 connection attempts total - everything worked as expected.

debug firmware sends serial console logs to my server and opens an MQTT connection back to my server, so i can send RPC requests to the device remotely, to reconfigure it and gather debug information. it also gives me ability to reflash the device remotely, so pretty much full c

[2020-09-10 09:09] rojer commented on #129
i have one suspicion: just over 24 days is the overflow value for a signed 32-bit counter of milliseconds. i need to check if we use 32-bit uptime somewhere in HAP code.

[2020-09-10 09:12] rojer commented on #127
no, there isn't. user has to assign setup pin after flashing. they enter it as plaintext, it is sent to the device as plaintext but is not stored directly, and is instead converted into cryptographic material used for HAP pairing.

[2020-09-10 09:12] andyblac commented on #129
@rojer only had 4 devices do this atm, other devices still going strong, if it helps, it seems to be devices that are used in HomeKit automations either as a trigger or an action.

ie my bathroom SW2 is a fan that is controlled via an automation from a Humidity Sensor if humidity gets over 75% it kicks in fan and turns off once it drops below 65%

[2020-09-10 09:15] andyblac commented on #129
hmm, now you mention counter, could it be the auto off feature ? these same devices are using that too ?

[2020-09-10 12:30] billcalle commented on #129
Both of mine died and I do not use auto off or automation. I think that is a red herring.

[2020-09-12 12:29] vladbisceanu commented on #9
Hi everyone. Just following-up on the thread above, here are my updates:

I got my shelly 1 the other day and tried to install it with my dumb light switch. I am using a Livolo touch light switch [like this one](https://www.livoloeurope.eu/livolo-wifi-touch-light-switch-with-glass-panel-vl-c701-11).

1. The first thing I did was try and install it in my wall light box. However, there was not enoug

[2020-09-12 12:41] vladbisceanu commented on #9
Later realised the single/double press approach is redundant, so I configured both turn on and turn off to call the single-press event and handled the toggle logic from Shortcuts, like a previous post was mentioning
![IMG_6A8281A8EB29-1](https://user-images.githubusercontent.com/7993591/92995703-5acdb780-f50e-11ea-879f-922e8353c7dd.jpeg)

[2020-09-14 05:01] rojer commented on #9
please test this firmware - https://rojer.me/files/shelly/2.1.0/
set input mode to "detached" and you should see a stateless switch show up in the app.
if everything is ok, this will become the next release.

[2020-09-14 07:06] andyblac commented on #9
got it loaded,

first issue changing input name does not save.

2nd issue you now have double SW's in HomeKit, when in detached mode, can we hide the original SW please, so only the detached one shows.

3rd everything is treated as a Long Press, via physical switch, ie once you have setup the 3 mode options in homekit, pressing the physical switch everything acts what has been setup as Long Press

[2020-09-14 07:24] vladbisceanu commented on #9
Tried to update as well, but I'm not getting the new version for some reason.
Used this URL http://192.168.1.2/ota?url=https://rojer.me/files/shelly/2.1.0/shelly-homekit-Shelly1.zip where 192.168.1.2 is my Shelly's IP. I get this message `{"status":"updating","has_update":false,"new_version":"20200827-065344/v1.8.3@4a8bc427","old_version":"20200827-065344/v1.8.3@4a8bc427"}` but nothing happens.

[2020-09-14 07:26] andyblac commented on #9
you have to manually upload via webUI, download the file 1st then open webUI, scroll to bottom click choose file and then upload.

[2020-09-14 07:31] vladbisceanu commented on #9
Ok, found the issues. File needs to be HTTP, not HTTPS. This was mentioned in the instructions, but I missed it the first time. My bad.

[2020-09-14 07:35] andyblac commented on #9
would adding a `test` option to my flash script be worth doing? so the script could flash test firmware.

[2020-09-14 07:53] andyblac opened #132 "[Flash Script] features...."
Hi guys,

For those of you that use my script would it be beneficial to add an option to flash a specific version, so you can move between versions when @rojer is releasing test versions ?

If  there is anything you would like to see please comment below.

[2020-09-14 07:58] andyblac commented on #9
@rojer looks like the HomeKit connection has gone strange, I'll flash the dbg version so you can take a look

![Screenshot 2020-09-14 at 08 57 04](https://user-images.githubusercontent.com/77936/93059360-7b118980-f668-11ea-8180-539060018e32.jpg)

[2020-09-14 07:59] rojer commented on #9
fixed this one, https://rojer.me/files/shelly/2.1.1/

well, it still works as an output via ui or homekit. if you want it hidden, set its HAP type to "disabled".

how it's supposed to work:
 * single press: input activated for less than 1s, then released
 * double press: input activated for less than 0.5 s, released, activated again before 0.5.s, released before 1s
 * long press: input held for 1

[2020-09-14 08:02] rojer commented on #9
it's normal to have pending connections for a short time after reboot or reconfiguration. device will perform 1 new HAP handshake every 3 seconds to avoid resource spikes, newly acceptet connections will be held pending in the interim. it's only a problem if this persists.

[2020-09-14 08:05] rojer commented on #9
we need to figure something out with beta/test firmware, yeah. what do you suggest? please file as a separate issue though.

[2020-09-14 08:05] vladbisceanu commented on #9
Tested it myself just now. I can confirm the 1st and 3rd issues @andyblac found (name and long press). Will flash the new 2.1.1 to see if name issue is fixed.

I am also getting the pending connection indefinitely (up for 30 min now and still pending).

Additionally, I am using a traditional on/off switch ([like this one](https://images.app.goo.gl/83zKPB1awQV25MKA8)). With the stock firmware, I wo

[2020-09-14 08:08] andyblac commented on #9
loaded dbg version 2.1.1

saving names now fixed. did not noticed the new option to disable HAP thx. but 3 still exists, everything does Long Press actions.

[2020-09-14 08:11] andyblac commented on #9
@rojer can you take a look at switch `shellyswitch25-8CAAB505B323` it still has 0/7/9 connections. whilst your in see if you see why everything is being actioned as Long Press

[2020-09-14 08:15] rojer commented on #9
ok, let's figure out the single/double/long switch thing.

@andyblac what kind of a switch do you have?

@vladbisceanu you have what we call a _stateful_ switch. the HAP spec specifies a _stateless_ switch, a momentary one, that does not preserve its state. i guess you could still use this kind of switch to generate long-press events... the HAP service does not support reporting current state, the

[2020-09-14 08:16] andyblac commented on #9
Shelly 2.5

[2020-09-14 08:16] rojer commented on #9
@andyblac

no, i mean the physical input switch type. is it a button? a toggle switch?

[2020-09-14 08:17] andyblac commented on #9
ah sorry, momentary switch

[2020-09-14 08:17] rojer commented on #9
ok... i can see your device's logs. can you do a single press? i should see log entries and timestamps.

[2020-09-14 08:19] andyblac commented on #9
see them?

[2020-09-14 08:19] andyblac commented on #9
want me to do a long press ?

[2020-09-14 08:20] rojer commented on #9
yes.
[code]
indeed, this looks like a 200 ms press and release to me but for some reason we did not detect it as such. could be insufficient debouncing. let me add some more debug.

[2020-09-14 08:20] andyblac commented on #9
Ok np

[2020-09-14 08:22] rojer commented on #9
ok, a few more presses plz

[2020-09-14 08:22] vladbisceanu commented on #9
Understood. Makes complete sense. But shouldn't it generate an event when the switch is pressed either way? It can be the same event. My problem right now is that a long press is only generated when the switch moves from pos1 to pos2, but not from pos2 to pos1.

[2020-09-14 08:24] andyblac commented on #9
Done

[2020-09-14 08:28] rojer commented on #9
[code]

this tells me that your switch is "normally on" - when you press it, it goes from on to off briefly and then back. so either it's wired that way or my logic is backwards somewhere...

@vladbisceanu

can you describe the behavior exactly? generate short press on any change?

[2020-09-14 08:30] andyblac commented on #9
@rojer SW2 has nothing attached to the output of the physical switch, it is use to control my Soma Smart shades. On = Shades open, Off = Shade Closed.

[2020-09-14 08:31] rojer commented on #9
@andyblac can you confirm whether your physical switch closes the "SW2" pin to "L" when pressed or does it keep normally closed and opens the circuit when pressed?

[2020-09-14 08:31] vladbisceanu commented on #9
Long press event on position change from pos 1 to pos 2
No event on position change from pos 2 to pos 1

Was working fine detecting both on stock firmware one hour ago, so doubt it's my wiring (but I am a noob so that's still possible).

[2020-09-14 08:32] andyblac commented on #9
@rojer let me setup SW1 to detached that has a light connected to the O on shelly.

[2020-09-14 08:32] rojer commented on #9
ok, i see. i will double-check my own setup here to verify the logic.

@vladbisceanu

this is the current behavior. but what do you ant it to be?

[2020-09-14 08:35] vladbisceanu commented on #9
Oh, my bad.

Short/Long press on position change from pos 1 to pos 2
Short/Long press on position change from pos 2 to pos 1

This would be ideal, as then I would be able to build the logic inside Home app with a shortcut (if light on, turn off, if light off, turn on). Really, it doesn't matter what event are send. It can be the same event for both, it can be different. As long as an event IS sent

[2020-09-14 08:38] vladbisceanu commented on #9
It's worth mentioning that I fully intend on moving to momentary switches soon (see my [comment above](https://github.com/mongoose-os-apps/shelly-homekit/issues/9#issuecomment-691480571)), so if this is hard to accomplish and/or I'm the only one asking for it, it is definitely not high priority.

[2020-09-14 08:55] andyblac commented on #9
@rojer setup SW1 in detached did it help ?

[2020-09-14 08:57] rojer commented on #9
@vladbisceanu it's not difficult to implement, but i am struggling with how to explain and present it in the UI. it has to be an option, but how to call it? if you have an idea, let me know.

i also realized that we need an option for normally-closed setup.

hm, still the same. i definitely need to take a close look at the logic.

[2020-09-14 09:04] andyblac commented on #9
how about if 'SWITCH' is chosen for HAP and "Detached" is chosen,  you get a check box for "Stateless", and if ticked it actions the inout switch on every state change.

[2020-09-14 09:07] vladbisceanu commented on #9
That sounds good. Or a dropdown for Switch Type - Momentary/Stateful. When stateful selected and detached is chosen, event is sent for every state change. Maybe less transparent at first, but it would also allow for future expansion, if that's ever desired.

[2020-09-14 09:08] andyblac commented on #9
ye, or add a check box to INPUT 1 / 2 section for stateless.

[2020-09-14 09:09] andyblac commented on #9
here
![Screenshot 2020-09-14 at 10 08 49](https://user-images.githubusercontent.com/77936/93066762-4c001580-f672-11ea-8e19-8985d606be46.jpg)

add a simple checkbox "Stateless"

[2020-09-14 09:15] andyblac commented on #9
that would not work as Momentary and Detected is in the same drop down, and why I suggested a simple checkbox in Input section

![Screenshot 2020-09-14 at 10 14 21](https://user-images.githubusercontent.com/77936/93067535-42c37880-f673-11ea-8408-df5bd11fc144.jpg)

[2020-09-14 09:17] rojer commented on #9
@andyblac ok, looks like i got active state of inputs backwards, https://rojer.me/files/shelly/2.1.2/ is the fix. it whould start working for you now.

for detached switch modes, i'm thinking:
 * momentary, normally off (default)
 * momentary, normally on
 * stateful, short press on change
 * stateful, on = short / off = long

thoughts?

[2020-09-14 09:17] vladbisceanu commented on #9
True. I think the Stateless checkbox you suggested is the most elegant one.

[2020-09-14 09:20] vladbisceanu commented on #9
The 4 modes cover any use case I can think of. Sounds great. 👍

[2020-09-14 09:22] andyblac commented on #9
yup, fixed now thx.

[2020-09-14 09:23] andyblac commented on #9
IMO, too overly complicated, a simple checkbox in Input would service, I mean is stateless required outside a Detached mode ?

[2020-09-14 09:25] andyblac commented on #9
as if your using HomeKit shortcut to control the state

ie
If xx is yy do zz

then state default state is irrelevant

[2020-09-14 09:27] rojer commented on #9
the HAP service is a stateless switch, the physical switch we have connected can be stateless (momentary button) or stateful (toggle switch). momoentary button -> HAP stateless  switch mapping is easy, perhaps adding normally closed option is of use, so that's option 2.
options 3 and 4 deal with mapping toggle switch to stateless switch events.

[2020-09-14 09:29] andyblac commented on #9
ok, I'm little confused, as to why you would want the switch detached if something is connect to the O of the shelly ?

[2020-09-14 09:33] andyblac commented on #9
but anyway, imo these options should be included in the INPUT section of the webUI, and do not change the HAP or Type sections.

[2020-09-14 09:34] vladbisceanu commented on #9
In my use case, redundancy. I have smart lights connected to the Shelly. I'm using the shelly mostly to be able to control them via dumb wall switched in detached mode but still have direct control over the power, if needed (ex: bulb factory reset, smart bulb is broken and needs to be replaced with dumb one etc).

[2020-09-14 09:34] rojer commented on #9
@andyblac yep, i'll add a dropdown with these four into the section that appears when you detach the input.

[2020-09-14 09:36] rojer commented on #9
ok, thank you both for feedback, i have to "go" to my day job now, i'll get back to shelly this evening.

[2020-09-14 09:38] vladbisceanu commented on #9
Thanks a lot for the responsiveness and time! Looking forward to testing the next iteration. I finally placed my order for 20 shellys today and your firmware was the decisive factor.

Cheers!

[2020-09-14 09:42] andyblac commented on #9
@rojer thanks for implementing this.

[2020-09-14 09:47] andyblac commented on #9
@rojer do you want me to open a HAP Connections issue for the new issue we have ?

[2020-09-14 09:55] rojer commented on #9
mm... do we have a new issue? while your device was sending logs, i looked at the connection activity and it seemed normal.
one of the many changes in 2.1 (stateless input is the only new feature, but it's more or less a complete rewrite of the app) is that HAP server is now restarted as needed instead of asking the user to reboot the device. HAP server needs to be restarted when there are changes

[2020-09-14 09:57] andyblac commented on #9
seem ok now in 2.1.2 but there was an issue in 2.1.0.

[2020-09-14 09:57] vladbisceanu commented on #9
@rojer @andyblac stays like this for me as well in 2.1.2:
<img width="657" alt="Screenshot 2020-09-14 at 12 56 58" src="https://user-images.githubusercontent.com/7993591/93072226-ca1be680-f689-11ea-962d-133b396a643e.png">

[2020-09-14 09:59] vladbisceanu commented on #9
Switch does appear to work as normal tho, maybe except for a 3-4 sec. delay from press to action. Not sure what the downside of this is. Will open a separate issue and we can debug later.

[2020-09-14 10:04] vladbisceanu opened #133 "HomeKit Connection stuck at "0/4/9 pending/active/max" in build 2.1.0 and 2.1.2"
@rojer @andyblac Opening this issue as a follow-up to the discussion on Issue #9 .

With the new 2.1.0 - 2.1.2 firmware, HomeKit connections seems to be stuck on pending indefinitely. Not sure what the downsides of this are, as I'm not experiencing any problems right now, but my understanding is that it shouldn't behave like that, so I'm opening the issue so we can investigate.
<img width="668" al

[2020-09-14 10:05] rojer commented on #133
this is completely normal, actually. 0 pending connections, 4 active out of 9 maximum supported.

[2020-09-14 10:05] andyblac commented on #9
thats ok 4 active with 9 max, we have no pending now like before.

[2020-09-14 10:07] vladbisceanu commented on #9
Ok, my bad. Still piecing together how this works. Will close the other issue as well.

[2020-09-14 10:07] vladbisceanu commented on #133
Understood. My bad for the fake alarm. Will close the issue now.

[2020-09-14 10:07] #133 closed

[2020-09-14 10:16] andyblac commented on #9
@rojer slight issue with version number in 2.1.2

![Screenshot 2020-09-14 at 11 14 31](https://user-images.githubusercontent.com/77936/93073940-933ed400-f67b-11ea-9d2c-748274ff979a.jpg)

it been listed as 2.0.1

[2020-09-14 10:18] andyblac commented on #132
@rojer can you tweak the model id in the ShelllyInfo so it matches the Firmware file names ie

Model: Shelly2.5 to Model: Shelly25

[2020-09-14 10:31] andyblac commented on #132
@rojer never mind I work around it.

[2020-09-14 11:48] andyblac commented on #132
https://github.com/mongoose-os-apps/shelly-homekit/pull/134

[2020-09-14 12:31] andyblac commented on #9
ok found a strange bug,

when shown as separate tiles, and SW1 is using Momentary mode, and SW2 is using Detached mode. if you have SW1 included in Favourites and SW2 and INPUT2 as not included in favs, SW1 is indeed on front page in Home App, but so is INPUT2, if you go back into INPUT2 settings and disable it, it removes both SW1 and INPUT2 from front page in Home App, but SW2 is not included as

[2020-09-14 18:16] rojer commented on #9
@vladbisceanu try https://rojer.me/files/shelly/2.1.3/, it has toggle switch support as discussed. on further reflection, i decided not to do "momentary, normally on" support for now, it requires additional internal changes and there's no clear need for it.

@andyblac i can't reproduce the issue you described. i followed the steps exactly as well as tried some other permutations and i can control

[2020-09-14 18:29] andyblac commented on #9
https://youtu.be/55JhJOapFf4

[2020-09-14 19:00] rojer commented on #9
@andyblac i see but i do not understand... :) does it reproduce on other iDevices? with other switches?

[2020-09-14 19:01] andyblac commented on #9
no just INPUT2 and SW1

[2020-09-14 19:06] andyblac commented on #9
hmm look even Hue app see's them as one switch.

![IMG_0243](https://user-images.githubusercontent.com/77936/93127422-cb6b0480-f6c5-11ea-98cf-de467531a4bc.jpeg)

[2020-09-14 19:17] andyblac commented on #9
on further inspection, I think it the Accessory name, if you rename INPUT2 in homekit, it also renames the device name in HomeKit

[2020-09-14 19:22] andyblac commented on #9
![IMG_0244](https://user-images.githubusercontent.com/77936/93128837-fd7d6600-f6c7-11ea-81a0-8c3bc834b7d7.jpeg)
![IMG_0245](https://user-images.githubusercontent.com/77936/93128849-01a98380-f6c8-11ea-9754-01703c2d2624.jpeg)
![IMG_0246](https://user-images.githubusercontent.com/77936/93128858-053d0a80-f6c8-11ea-9e55-e5ed6058a88d.jpeg)
![IMG_0247](https://user-images.githubusercontent.com/77936/9312

[2020-09-14 19:27] rojer commented on #9
sorry, i don't quite parse that. can you elaborate?

[2020-09-14 19:31] andyblac commented on #9
in HomeKit if you have it as a single title thats the Device Name, but if you have as separate titles SW1 & SW2 can be renamed those are Accessories.

as INPUT2 is not part of show as separate tile it seems to be treated as part of the main device, so if you try to rename INPUT it also rename the Main Device.

[2020-09-14 19:33] andyblac commented on #9
also as INPUT is not part of show as separate title, it is always show, maybe make it part of the Main Device, ie make it have 3 tiles not 2 for a Shelly 2.5

[2020-09-14 19:34] rojer commented on #9
i'm super confused now... can you confirm this behavior with a different shelly device?
also, do input detached from SW1 + SW2 behave the same way?

[2020-09-14 19:35] vladbisceanu commented on #9
All right, I was in a few meetings so far so wasn't able to reply. Just installed 2.1.3 and:
1. I can confirm that both toggle on=off=single and toggle on=single off=double work as expected. this is AWESOME
2. I can also confirm that, like @andyblac mentioned, I am unable to remove the button/switch from favourites in the Home App independently. Both seem to be linked to the virtual button (the on

[2020-09-14 19:37] andyblac commented on #9
yes same on Shelly 1

try yourself it easy on shelly1

flash it
put in Detached mode
save

go to homeKit, you will see accessories, try to rename the detached accessory, it will also rename the SW1 as well

[2020-09-14 19:39] vladbisceanu commented on #9
Just to elaborate on my use case: I have a Shelly1 set in Detached Mode, so I am seeing 2 accessories in Home App. The virtual button linked to the physical switch, which has the single/double/long press actions AND the toggle that controls the Shelly relay in the Home App.

@andyblac , just renamed the detached accessory, as suggested. Indeed the other switch is renamed at the same time. The two

[2020-09-14 19:39] rojer commented on #9
@vladbisceanu ok, thanks for confirming. i need to reproduce it somehow which so far i'm unable to.
can you try removing the accessory from home and re-adding it?

[2020-09-14 19:40] andyblac commented on #9
@rojer try yourself it easy on shelly1

flash it
put in Detached mode
save

go to homeKit, you will see accessories, try to rename the detached accessory, it will also rename the SW1 as well

[2020-09-14 19:42] andyblac commented on #9
and now both are locked, the device inions no longer update, and you can no longer rename them.

[2020-09-14 19:43] vladbisceanu commented on #9
Ok, did the following:
1. Removed accessories from Home App
2. Restarted HomeKit from Shelly web interface
3. Chose a different pin
4. Re-added accessory in Home App

This seems to have fixed it. I am now able to rename one without affecting the other and keep only one in Favourites 👍🏻

@andyblac can you also try?

[2020-09-14 19:47] vladbisceanu commented on #9
Never mind. I was wrong. Turns out I only removed the SW1 from Home app and the Detached stayed. I now have 1 SW1 and 2 Detached switched, one of which can't be removed. The other two are still linked, as mentioned above

[2020-09-14 19:49] vladbisceanu commented on #9
Never mind. Turns out I just removed the SW1 and I had 2 detached switches. I also removed the old detached switch and now the current SW1 and detached are still linked, as mentioned above.

[2020-09-14 19:50] andyblac commented on #9
nope not work here

did the following:

Removed accessories from Home App
Restarted HomeKit from Shelly web interface
Chose a different pin
Made sure Mode was Momentary.
Re-added accessory in Home App
Changed Mode was Detached.

as issue.

[2020-09-14 19:53] rojer commented on #9
ok, i see. and can you try removing and adding it with input already detached?

[2020-09-14 19:56] vladbisceanu commented on #9
Here's a recording of what's happening on my side: https://share.icloud.com/photos/0uEVBu5Rmn6YOuDH4lzikls6w

It's extra weird because in the SW accessory, the name IS different ("Ceiling Shelly"), but it's still being displayed with the name of the detached accessory ("Light Switch"). This kinda looks like a display issue. Like somehow HomeKit is drawing info for both from one entity.

[2020-09-14 19:57] vladbisceanu commented on #9
Tried it. Same result on my side.

[2020-09-14 19:59] andyblac commented on #9
same but, if defiantly naming issue look at add screen then look at names when added.

![IMG_0250](https://user-images.githubusercontent.com/77936/93132259-366c0980-f6cd-11ea-9b41-5e73fd93b9c4.jpeg)
![IMG_0251](https://user-images.githubusercontent.com/77936/93132265-3966fa00-f6cd-11ea-9fc2-de6a1e0549c1.jpeg)

[2020-09-15 14:23] andyblac commented on #71
is this still an issue ?

[2020-09-15 14:26] andyblac commented on #28
@sja is this still an issue ?

[2020-09-16 01:36] rojer commented on #9
spent today on this. i still cannot reproduce it on either of my devices, with shelly1 or 2.5, in any combination.
re-read the spec and anything i could find related to stateless switch service.
fixed a minor issue with accessory schema, pushed 2.1.4 - https://rojer.me/files/shelly/2.1.4/
please try it.

one more experiment: please create a new, empty Home and add an accessory there, let me know i

[2020-09-16 10:27] andyblac commented on #9
@rojer good morning, I created a new home, update shelly1 to 2.1.4 and added it. sorry to say it behaves the same. I'm running iOS 13.7

[2020-09-16 11:07] rojer commented on #9
hm, maybe that's the key difference? i'm using older ihone and ipad with iOS 12.4.8

[2020-09-16 11:08] andyblac commented on #9
ye maybe, doesn't 12.xx not support show as separate tiles ?

[2020-09-16 11:10] andyblac commented on #9
ie, accessories are treated differently in 13 a single device with multiple accessories are now treated as a single device, but in 12.xx there where treated as separate devices.

[2020-09-16 11:14] andyblac commented on #9
how did you add the 2 switches in a shelly2.5, that dose support the "Show as separate tiles" / "show as single stile" but the new detached INPUT switch dose not, is it handled differently in the code compared to SW2 ?

[2020-09-16 11:16] andyblac commented on #9
can you try tweaking the code so that is treated as a 2nd SW in the shelly 1?

[2020-09-16 11:19] andyblac commented on #9
or if it is treated the same as the Shelly 2.5, try separate it, maybe a stateless switch is not support as single devcie ie one that supports "Show as single tile"

[2020-09-16 12:00] rojer commented on #9
honestly, i don't know if there are any differences between 12 and 13.

the thing is, they are already as independent as can be. completely independent services, there's nothing in the code that links them in any way. this is why it's so puzzling to me.

[2020-09-16 12:34] andyblac commented on #9
hmm, when you add your does it rename the 2 accessories to the same name ?, if not it does sound like it is an iOS13 issue. how it is treating the accessories.

[2020-09-16 12:58] andyblac commented on #9
I have just enabled Detached on SW1 and SW2 on a shelly2.5, and it is treating the detached with as 1 accessory see below is yours ?

![IMG_0255](https://user-images.githubusercontent.com/77936/93340292-8c9f9080-f824-11ea-8a3f-b44499d5f852.jpeg)

so, there is defiantly some links going on.

[2020-09-16 13:10] andyblac commented on #9
imo it seems iOS 13 is treating as a single device, and as such the favs and names are linked (when used as a single tile) to use different names for SW1 & SW2 in iOS you have to enable "Show as separate tiles" in settings, this then allows you to rename SW1 & SW2, but for some reason the detached switch is not part of this option, and thus it seems to be treating it as part of the main device.

s

[2020-09-16 13:14] andyblac commented on #9
so because the detached sw is not being separated it is not being allowed to be controlled separately. so maybe you can read in apples HAP about grouped accessories ?

[2020-09-16 13:35] andyblac commented on #9
and shelly1 does not have the "Show as Separate Tiles"

![IMG_0259](https://user-images.githubusercontent.com/77936/93344640-d048c900-f829-11ea-819c-99d6e6ae8839.jpeg)
![IMG_0260](https://user-images.githubusercontent.com/77936/93344650-d2128c80-f829-11ea-82b8-cd5e781285a5.jpeg)

[2020-09-16 14:02] rojer commented on #9
here's how it behaves on my ipad mini 2 (ios 12): https://rojer.me/files/RPReplay_Final1600260988.mp4
everything is completely normal. it's even smart enough to not add the stateless switch to favorites by default...

[2020-09-16 14:06] andyblac commented on #9
ye, thats 2 separate devices, in iOS13 it now 1 Device with 2 Accessories, in iOS13 we only see 1 Device when adding.

[2020-09-16 14:09] rojer commented on #9
in the firmware we only export 1 accessory with separate services. either way, i need to get an ios 13 device to test.

[2020-09-16 14:12] andyblac commented on #9
like this https://youtu.be/4G2JgdAIsXk

[2020-09-16 14:22] rojer commented on #9
why and how it puts them together is beyond me... they are completely different services. yes, within the same accessory, but so are the normal switches, when inputs are not detached, and they behave normally.

[2020-09-16 14:27] andyblac commented on #9
thats the thing iOS13 treats the single Accessory as just that 1 tile, unless you choose to separate, but it seems that you are not allowed to mix types ie switches and stateless, it seem it does not know how to mange them properly.

this is how a Shelly2.5 is show in iOS13 is default (ie as a single tile)
![IMG_0262](https://user-images.githubusercontent.com/77936/93351061-2a00c180-f831-11ea-9449

[2020-09-16 14:32] rojer commented on #9
oh, i see... so with ios 13 we need to split everything into separate accessories, is that what you're saying?

[2020-09-16 14:36] andyblac commented on #9
or just the different types ie Switch / Sateless. then we should be able to manage correctly.

but, if it is easier yes, this would also fix the issue, that iOS13 does not allow a single Accessory (Shelly2.5) to be split into separate rooms.

[2020-09-16 14:41] rojer commented on #9
well, they are already different types. ok, so basically, having statefule and stateless switches within the same accessory confuses iOS 13. ugh.

yeah, there's a separate issue about that.

i was under the impression that we need to run a separate server for each new accessory, we cannot afford more servers. but now i'm not so sure, it appears that you can register multiple accessories under one

[2020-09-16 14:43] andyblac commented on #9
no, we need to thank you for all the effort on this one.

so Bug Thanks!!!

[2020-09-16 14:53] andyblac commented on #9
@rojer could you try just creating a new Accessory for the detached switch, then if that works, maybe a checkbox allowing user to close to separate the Shelly2.5 SW's into separate accessories?

maybe try on Shelly 1 1st, as that only has a single switch.

[2020-09-16 17:06] rojer commented on #9
i was going to try to split all the switches into separate accessories. do you see any disadvantage to that? is there a case where having two switches in the same accessory would be better?

[2020-09-16 17:34] andyblac commented on #9
some people prefer the new iOS layout, have one tile for both switches, but still be able to ask Siri to switch them individually.

if you just use the old Grouping way you can't, as Siri just see's it as 1 switch.

[2020-09-16 17:37] andyblac commented on #9
also with grouping method you can't mix types, SW1 set to Light and SW2 set to Fan, you would not be able to Group them into 1 tile.

[2020-09-16 17:42] andyblac commented on #9
also please do not split up Detached Accessory in to 2 accessories for Shelly2.5, as IMO there is no point, as you can interact with it in HomeKit. It can only be used to setup the actions.

[2020-09-16 17:52] rojer commented on #9
so in shelly 2.5 with both inouts detached, you suggest we create 3 accessoris: `(sw1) (sw2) (in1 in2)` - like that?

i looked into the question of multiple accessories. i think we can do it if we pretend we are a bridge. the protocol specofoes that an accessory can bridge other accessories, and export them in addition to itself.
the intention is to act as a proxy for accessories that do not suppo

[2020-09-16 17:55] andyblac commented on #9
yes, thats correct.

I here to test anything you was me to, have spare Shelly 1 / Shelly 2.5 that I can test with.

[2020-09-16 18:01] andyblac commented on #9
thats strange, because Philips Hue new bulbs support BlueTooth and are still controlled for HomeKit via there Hue Bridge. So if they say you can not have a Bluetooth Accessory that is controlled via a Bridge how is Philips Hue doing it?

[2020-09-17 02:06] rojer commented on #9
@andyblac  @vladbisceanu  ok, this is only for shelly1 and super hacky, but worth testing - https://rojer.me/files/shelly/2.1.5-alpha/

the way it works is: if input is not detached, it will create a single primary accessory, as before.
if input is detached, it will create a bridge with 2 accessories: a switch and a stateless input.

let me know if it behaves any better than 2.1.4

[2020-09-17 08:30] andyblac commented on #9
just a update, it was even worse in iOS14, the detached switch would not show at all unless you used the setting "show as single tile".

anyway, I have update to 2.1.5-alpha and guess what.....

it works!!
![IMG_0264](https://user-images.githubusercontent.com/77936/93444068-603d5000-f8c8-11ea-966d-01527a90191b.jpeg)

[2020-09-17 08:38] andyblac commented on #9
bridge does say it has 2 accessories, but when you go inside it only shows one, dut every thing seems to be working.

![IMG_0266](https://user-images.githubusercontent.com/77936/93446755-7a2b6280-f8c9-11ea-8989-16f5552fffaa.jpeg)
![IMG_0267](https://user-images.githubusercontent.com/77936/93446763-7d265300-f8c9-11ea-8a8c-2692c32b1acc.jpeg)

[2020-09-17 10:54] rojer commented on #9
hm, for me it shows both.

ok, that's good news. now the tricky part: how to handle shelly 2.5 in default (no detached inputs) case and how to deal with existing accessories.
ideally, i think for shelly 2.5 we should start in bridge mode with two switches, which should also take care of https://github.com/mongoose-os-apps/shelly-homekit/issues/18. but i'm afraid if we make the change, accessories

[2020-09-17 12:11] rebuss0507 commented on #129
Hi, just wanted to confirm the exact same issue for me. I was also having the issue reported in #30 (comment) and where upgrading. All of my Shelly actually did a couple of days ago already (but not exactly sure when). Rebooted them now after being online for 29 days, now they are all working again......

Except two where one of it is indeed included in an automation.....But I will check on these

[2020-09-17 15:13] schemhad commented on #48
![versCheck](https://user-images.githubusercontent.com/64190390/93490143-66ebb780-f908-11ea-919a-b9b4c0794476.png)

Version check runs for now, but i have to cleanup the code a little bit. Now it's working without jQuery over Github-API with less than 1kb of code. If it finds a newer one, the new Version-no. is already the direct download link, also over GitHub API.

I will upload anbd create a pu

[2020-09-17 15:28] andyblac commented on #48
nice, wonder if we could link it with my flash script? ie tell It the location of the script on local machine, get a button to run the script locally to flash the update. and get the script to refresh the page when done?

[2020-09-17 17:45] Ryf81 commented on #30
This morning i did the update to iOS14 on my iPhone and iPad, everything worked well after the update. 10min ago i updated my apple TV to OS 14, and now 17 Shellys out of 24 are disconnected in Homekit. With the WebUi they still work fine.
Anyone has the same issue?

[2020-09-17 18:11] andyblac commented on #30
is appletv the hub? if so appletv has always been shit as a hub IMO switch HomePod if you have one.

[2020-09-17 18:13] rojer commented on #9
that's the thing though - accessory id will change. we used to shove everything into primary accessory (id 1), now we'll have separate accessory for each switch, and they are necessarily different.

no i mean in the home app

[2020-09-17 18:13] Ryf81 commented on #30
Yes apple tv is the hub. It works without any problem on ios13 since firmware 2.0.12 (over 40days no issue)

[2020-09-17 18:15] andyblac commented on #9
give it a go, I'll be your guinea pig. 😄

[2020-09-17 18:28] rojer commented on #9
here's what i think should be guiding principles:
1) existing HAP setup must not break after firmware update.
  (*) it's ok to break setups that have detached inputs already, i doubt there are many of them; preserving their HAP accessory setup would be just too cumbersome.
2) simple things should stay simple: a shelly1 with non-detached input should be represented by a single switch accessory
3) i

[2020-09-17 18:31] andyblac commented on #9
sounds good.

[2020-09-18 02:27] rojer commented on #9
please test https://rojer.me/files/shelly/2.1.5/
i am especially interested in upgrade testing as well as switching detached inputs on and off

[2020-09-18 02:28] rojer commented on #18
please test https://rojer.me/files/shelly/2.1.5/
see https://github.com/mongoose-os-apps/shelly-homekit/issues/9#issuecomment-694418580 for additional context

[2020-09-18 03:20] rojer commented on #48
not really possible, you can't have webpage run scripts on the client machine.
but really, all you need to do is fetch the file from github and http post it to /update, i'm sure it's not difficult.
@schemhad can you do that?

[2020-09-18 08:49] andyblac commented on #9
ok, updated to 2.15, 1st I down graded to 2.0.12, setup shelly, then proceeded to update to 2.1.5,

- All setting where lost as you expected (IMO not a big deal)
- The accessory is shown with 2 services
- Selecting "Show as separate tiles" works, it does show the 2 tiles in HomeKit Room.
- I then proceeded to try to move SW2 to a separate Room, that works now too.
- I then enabled "Detached" mode

[2020-09-18 09:49] rojer commented on #9
did you have any detached inputs? this is not supposed to happen.

[2020-09-18 09:51] andyblac commented on #9
I downgraded to 2.0.12, and when I upgrade back to 2.1.5, I had to set things up again ie switch names, separate tiles, set favs etc

[2020-09-18 10:05] rojer commented on #9
i understand and that's what i would like to avoid in topical settings, that is unless the user has detached inputs.
so, if you upgrade shelly 2.5 from a simple 2 seitch configuration, everything should be preserved.

[2020-09-18 10:06] andyblac commented on #9
but, as I said it wasn't, I was 2.0.12 simple config.

[2020-09-18 15:35] smarthome-fan commented on #83
and a 2. way:
flash orignal firmware from shelly. set ip and save. flash shelly-homekit
 firmware. now you have a static ip too in this firmware ;-)

[2020-09-18 16:28] rojer commented on #9
@andyblac the following is working for me with shelly 2.5:
* Flash 2.0.12
* Reset HAP from web UI, set new code (may be needed if going from later version, as server refuses to start up with downgraded version)
* Add to Home app
* Customize switches - give them non-default names, assign to a different room (they both get reassigned)
* Upgrade to 2.1.5
* Observe that nothing changes, accessories ar

[2020-09-18 16:40] andyblac commented on #9
Ok I did not reset homekit code and remove and re add do you want me to test that ?

[2020-09-18 16:41] rojer commented on #9
yeah, try what i did, i'd loike to know how it behaves on newer ios

[2020-09-18 18:13] andyblac commented on #9
ok, it worse did the following

- Flash 2.0.12
- Reset HAP from web UI, set new code (may be needed if going from later version, as server refuses to start up with downgraded version)
- Add to Home app
- Customize switches - give them non-default names, assign to a different room (they both get reassigned)
- Upgrade to 2.1.5

when I got to here, this is what I got, but after about 20 secs, it corr

[2020-09-18 18:28] rojer commented on #9
you mean you got "no response" but it re-established connection in 20 seconds?

so you lost name customization on the accessories, right?

why does it happen, i wonder... ok, time to do a close schema comparison.

[2020-09-18 18:31] andyblac commented on #9
yes

names and types SW1 was set to "Light" and icon was changed from default to down light like this
![IMG_0275](https://user-images.githubusercontent.com/77936/93632618-83a9ed00-f9e5-11ea-8ff3-575429f32edf.jpeg)

[2020-09-18 19:49] rojer commented on #9
ok, i found a slight difference in service definition between 2.0.12 and 2.1.5 in compatibility mode.
built and pushed 2.1.6, please try it - https://rojer.me/files/shelly/2.1.6/

[2020-09-18 19:52] andyblac commented on #9
getting his on webUI load

![Screenshot 2020-09-18 at 20 51 25](https://user-images.githubusercontent.com/77936/93639381-cf15c880-f9f0-11ea-94af-74a2a9daf155.jpg)

[2020-09-18 19:53] rojer commented on #9
looks like old UI is fetching data from new firmware. refresh the page to update html.

[2020-09-18 19:53] andyblac commented on #9
tried. won't load page fully.

[2020-09-18 19:54] andyblac commented on #9
happened when I flash 2.0.12 back to device.
I'll refresh again sec

[2020-09-18 19:55] rojer commented on #9
it's definitely web page / fw mismatch, refresh a couple times

[2020-09-18 19:56] andyblac commented on #9
tried different browser same....

[2020-09-18 19:57] andyblac commented on #9
i'l refresh 2.1.5 and disable detached maybe it that.

[2020-09-18 19:59] andyblac commented on #9
yup that was it.

[2020-09-18 20:03] rojer commented on #9
oh, i see. 2.0.12 does not support the value for the switch, so the element cannot be resolved.
yeah... well, ok, i understand what happened, but i don't think it's worth fixing.

[2020-09-18 20:05] andyblac commented on #9
hmm removed and re-added on 2.0.12 then updated to 2.1.6, got the "No response" this time it not going away, even tried force quit

[2020-09-18 20:05] andyblac commented on #9
and it still reverted names and switch type (back to switch from light in homekit)

[2020-09-18 20:07] andyblac commented on #9
need to pop out, I'll be back in couple of hours.

[2020-09-18 20:07] rojer commented on #9
dammit. ok, maybe order of services _is_ important. i'll get you another build to try.

[2020-09-18 21:12] rojer commented on #9
https://rojer.me/files/shelly/2.1.7/ - now this one produces schema that really is the same, except for volatiles like version strings.

[2020-09-18 22:55] andyblac commented on #9
ok back, just checked homekit, and switch seem to be back online. I'll refresh back 2.0.12 and try 2.1.17 for you.

[2020-09-18 23:04] andyblac commented on #9
OK,

- flashed back to 2.0.12
- step as normal
- then flashed to 2.1.7
- it did show "No Response" for about 12 seconds. but then came back online
- it still lost favourite setting, names, switch type and icon, but it did keep as separate tiles as config.
but IMO this is not a big deal, just warn people about it when firmware is released.

[2020-09-18 23:11] rojer commented on #9
ok, thanks for testing. yeah, i give up. i don't understand why home app does it, but... oh well.
you are right, i will add a note to the release and move on.
thanks for all your help!

[2020-09-18 23:13] andyblac commented on #9
np, anything else you need testing ?

[2020-09-18 23:18] rojer commented on #9
no, i just published [2.1.7](https://github.com/mongoose-os-apps/shelly-homekit/releases/tag/2.1.7). this is now done

[2020-09-18 23:18] #9 closed

[2020-09-18 23:21] rojer commented on #18
released in [2.1.7](https://github.com/mongoose-os-apps/shelly-homekit/releases/tag/2.1.7)
due to compatibility mode being enabled by default, you may need to remove the device first and add it back - this will disable compatibility mode and reconfigure device as a bridge with independent accessories that can then be assigned to different rooms.

[2020-09-18 23:21] #18 closed

[2020-09-18 23:34] andyblac commented on #132
@rojer Thinking of adding some text formatting, what you think Y/N ?

![Screenshot 2020-09-19 at 00 32 49](https://user-images.githubusercontent.com/77936/93653204-cb456e80-fa0f-11ea-9be3-30c8b35dece4.jpg)

[2020-09-19 09:32] andyblac commented on #65
@rojer could this be added, be handy when you have multiple shelly's for the script to quickly see which is which.

[2020-09-19 09:48] andyblac commented on #65
@rojer does this look correct ?, if so I'll create a pull request

https://github.com/andyblac/shelly-homekit/commit/eb66793be77a97ac83190a3c8278659fd6318b66

how can I test such things locally ?

[2020-09-19 10:20] andyblac commented on #77
this is now completed in https://github.com/mongoose-os-apps/shelly-homekit/releases/tag/2.1.7, just select "Disabled" in switch type.

![Screenshot 2020-09-19 at 11 19 21](https://user-images.githubusercontent.com/77936/93664891-15f3d480-fa6a-11ea-8aae-44647de865f9.jpg)

[2020-09-19 10:21] andyblac commented on #77
@rojer think this one can be closed as well.

[2020-09-19 10:27] andyblac commented on #93
Detached Mode is now supported in https://github.com/mongoose-os-apps/shelly-homekit/releases/tag/2.1.7, please try and report back if it fixes this issue for you, it separates the physical switch from HomeKit button, both can now work independent of each other, and give you a new input button in HomeKIt with Single, Double, Long Press options for the physical switch.

![Screenshot 2020-09-19 at 1

[2020-09-19 10:29] andyblac commented on #71
@rojer OP has not responded maybe close it ?

[2020-09-19 10:34] andyblac commented on #51
@rojer now we have detached mode which supports single, double, long press, would be possible to add support for this, when in normal HAP mode.

[2020-09-19 10:35] andyblac commented on #28
@rojer original OP has not responded, think we can close this.

[2020-09-19 10:40] andyblac opened #138 "Support for Web Hooks."
Now we have detached mode which supports single, double and long press, would be possible to add web hooks support to these actions when in normal HAP mode for "Double / Long Press", leaving single press linked to the physical switch?

What I mean by this that if enabled "Double and Long Press", would post a url request that is setup in web UI on the action of the physical switch.

[2020-09-19 10:41] rojer commented on #71
yes, @Tomer51m please reopen if it's still an issue

[2020-09-19 10:41] #71 closed

[2020-09-19 10:42] andyblac commented on #65
@schemhad if you have time could take a look at this ?

[2020-09-19 10:42] rojer commented on #132
flashy flasher :)
yeah, why not

[2020-09-19 10:42] rojer commented on #93
thanks Andy!

[2020-09-19 10:42] #93 closed

[2020-09-19 10:46] rojer commented on #28
@consoleman please reopen if it's still an issue

[2020-09-19 10:46] #28 closed

[2020-09-19 10:50] schemhad commented on #65
That's why i've set the pagetitle dynamically in the recent pull request. 😉

But i would place it in the wifi container.

[2020-09-19 10:51] andyblac commented on #65
does my change look correct (just move to wifi), I'm new as JS, just trying to understand from existing code.

[2020-09-19 10:52] schemhad commented on #48
I've created a pull request with just the simple check for now. We can optimize it and add more function after integration.

[2020-09-19 10:53] rojer commented on #51
actually, yes, now that we have double press detection, this would be trivial.
but how to present it in the UI? or just make it the default behavior? i don't imagine many people would accidentally double-press a switch. but we need to document this behavior.

[2020-09-19 10:57] andyblac commented on #51
maybe via a check box, only shown / enabled on default if auto off is enabled.

[2020-09-19 11:01] rojer commented on #65
not quite. this needs to be sent to the device as Device.SetConfig RPC, and the device needs to apply it to the config.
a small code change is needed.

there's a way to iterate on web changes without reflashing the device.
1) make the changes to `fs_src/index.html`
2) compress it:

[code]

3) upload to the device using the `mos` tool:

[code]

4) refresh the webpage in the browser, test the change

[2020-09-19 11:23] rojer commented on #138
this makes me think that we should expand functionality of inputs.
we have inputs that generate events: single, double and long press. these events can be tied to one (or more) actions, one of them would be to toggle a physical switch, turn it it on or off, another could be send a hap even (a stateless switch service will be created), or send a web hook.

[2020-09-19 11:27] andyblac commented on #138
sounds good to me.

[2020-09-19 11:33] rojer commented on #51
not a bad idea. we should also hide auto-off time when auto-off is disabled.

[2020-09-19 12:23] mat130780 commented on #5
Any progress here? I am also desperate for the roller shutter feature...

[2020-09-19 12:44] rojer commented on #5
there is plenty of progress, though it may not be visible.
as i said in https://github.com/mongoose-os-apps/shelly-homekit/issues/5#issuecomment-678505831, i had to do refactoring before adding another accessory type. i ended up rewriting pretty much entire app, but this is now complete and i'm pretty happy with the result.
roller shutter is next in line, this time for real.

[2020-09-19 15:50] greensouth commented on #5
So happy to read that!

[2020-09-19 17:48] yuvalbeck opened #139 "Flash script not working"
![Screen Shot 2020-09-19 at 20 45 57](https://user-images.githubusercontent.com/48965223/93685633-5af32780-fab9-11ea-8535-8fb0a5778319.png)

No command is working keep getting same help screen @andyblac

[2020-09-19 18:04] andyblac commented on #139
hmm did it not ask you to install the tools ?

[2020-09-19 18:08] andyblac commented on #139
leave with I'll look thx

[2020-09-19 18:17] andyblac commented on #139
ok please this version if fixed I'll submit pull request

[flash_shelly.sh.zip](https://github.com/mongoose-os-apps/shelly-homekit/files/5250387/flash_shelly.sh.zip)

[2020-09-19 19:25] yuvalbeck commented on #139
Firstly, thank you.
Yes, I would expect have a list of all devices with an update available and have an option to agree to update all at once and not press "y" each time.

I also see some issues - will send you over

[2020-09-19 19:37] yuvalbeck commented on #121
Thank you for that.
In case that you only have 1 switch connected you won’t be able to delete the other switch.
The way I over come it I groups the 2 switches together but a better way might be having 2 different switches totally

[2020-09-19 19:38] andyblac commented on #139
Hi np, You can -y option in command line to bypass the question

[2020-09-19 19:45] andyblac commented on #121
You can now mimics switches between room on the Shelly 2.5 I. Ver 2.1.7

[2020-09-19 19:48] yuvalbeck commented on #121
Yes but not to delete unused switch completely (1 of the 2)

[2020-09-19 19:57] rojer commented on #121
yes you can. just set HAP type of the unused switch to "disabled" and it will disappear from the home app.

[2020-09-19 19:57] andyblac commented on #121
Beat me too it lol

[2020-09-19 20:01] rojer commented on #77
yep, this one is done, released in 2.1.7

[2020-09-19 20:01] #77 closed

[2020-09-20 11:06] andyblac commented on #95
is this still an issue ?

[2020-09-20 11:08] andyblac commented on #91
is this still an issue ?

[2020-09-20 11:09] andyblac commented on #89
take a look at the new [wiki](https://github.com/mongoose-os-apps/shelly-homekit/wiki)

[2020-09-20 11:09] #89 closed

[2020-09-20 11:48] Pixel-Chris commented on #9
I‘m missing the HAP Typ bulb or lamp when the relay controls a bulb an not an outlet.
Is that possible?

[2020-09-20 11:50] rojer commented on #9
@Pixel-Chris yes, but please file a separate issue

[2020-09-20 11:51] andyblac commented on #9
you can change the switch type in HomeKit to light

![IMG_0287](https://user-images.githubusercontent.com/77936/93710613-f202c280-fb3f-11ea-9919-8570ba3d57ce.jpeg)

[2020-09-20 11:52] andyblac commented on #9
imo allow "Bulb / Lamp" as a HAP type is bad idea, as HomeKit will think it has dimming capabilities.

[2020-09-20 11:54] rojer commented on #9
i just checked and the brightness characteristic is optional, we won't be exporting it so i'm assuming it will be smart enough not to

[2020-09-20 11:55] andyblac commented on #9
ok, but imo, it still unnecessary when you can do in HomeKit.

[2020-09-20 11:58] juancitomadrid commented on #5
Great!
Thanks @rojer

[2020-09-20 12:07] Pixel-Chris commented on #9
Oh yes
Sorry
I can change it in HomeKit

[2020-09-20 12:07] rojer commented on #9
good point

[2020-09-20 12:08] andyblac commented on #9
no apologies necessary, was a good question.

[2020-09-20 12:08] Pixel-Chris commented on #9
Great work !!!

But one last question....
For what can I choose
1) Momentary
2) Toogle, on = off = single press
3) Toogle, on = single, off = Double
??

[2020-09-20 12:09] andyblac commented on #9
this should help https://github.com/mongoose-os-apps/shelly-homekit/wiki/Switch

[2020-09-20 12:19] Pixel-Chris commented on #9
Sorry, not mentioned there...

When I have a momentary switch
I can use
Short/long/double press function in HomeKit
But with a toggle switch ?

[2020-09-20 12:21] andyblac commented on #9
only in "Detached" mode. then you will see those options.

[2020-09-20 12:23] Whiterabbit64 commented on #91
Everything worked fine until yesterday. 2 of my 3 Shelly were unreachable via Home App. I had to reboot them through the web interface. The last reboot of the first one happened 26 days ago, and 27 days ago for the second one. The connections showed 3/0/9 if I remember well.

[2020-09-20 12:28] andyblac commented on #91
ok this in an issue being discussed here https://github.com/mongoose-os-apps/shelly-homekit/issues/129 I'll close this ticket please drop over to the other ticket to add your comments thanks.

[2020-09-20 12:28] #91 closed

[2020-09-20 12:31] Pixel-Chris commented on #9
Yes i know
But for what are these „toggle“ options?

[2020-09-20 12:46] andyblac commented on #9
I'm waiting for confirmation from @rojer but, I think

Toggle, on = off = single press:  work normal switch type.
Toggle, on = single, off = double: mean a single action turns on, but to turn off it requires a double action.

[2020-09-20 12:51] Pixel-Chris commented on #9
With a Toogle switch
Single/double/long press will not work

And when I choose some of these Toogle switches
The HomeKit button style will not change it is still a „single/double/long-press“ switch

[2020-09-20 12:55] andyblac commented on #9
sorry I don't understand what you are trying to do, to use Single, Double, Long press, you have to 'detach' the physical witch from the shelly device.

it you think about it to use Single , Double, Long press correctly you need a physical switch type that can support this actions, ie a push button switch. this is why Momentary is the default option in INPUT 1

[2020-09-20 13:06] andyblac opened #141 "Last Event, not working for SW2"
when "Detached"  mode is enabled the "Last event" always shows n/a.

[2020-09-20 13:17] andyblac commented on #100
closing ticket, please reopen if you require additional help.

[2020-09-20 13:17] #100 closed

[2020-09-20 13:18] andyblac commented on #98
did you fix your issue ?

[2020-09-20 13:22] andyblac commented on #75
is the really required when you can simply choose "FAN" in HomeKit switch type settings ?

![IMG_0288](https://user-images.githubusercontent.com/77936/93712259-b15d7600-fb4c-11ea-8c4c-5eb000fe9d3a.jpeg)

[2020-09-20 13:24] andyblac commented on #46
is this still an issue ?

[2020-09-20 13:25] andyblac commented on #36
is this still an issue ?

[2020-09-20 13:27] andyblac commented on #112
duplicate closing ticket.

[2020-09-20 13:27] #112 closed

[2020-09-20 13:44] rojer commented on #9
in detached mode, input becomes a separate stateless switch. it has no "on" and "off" mode as a HAP object, it's stateless and can generate 3 kinds of events: single press, double press and long press.
the physical switch it is connected to, however, can be (1) a momentary stateless button as well, or (2) a toggle switch.
if it (1), then you should select "momentary" input mode and then it will de

[2020-09-20 13:52] andyblac commented on #9
updated https://github.com/mongoose-os-apps/shelly-homekit/wiki/Switch @rojer thanks for clarifying

[2020-09-20 13:53] rojer commented on #46
this predates all the fixes that went into 2.0, @petergPRG please upgrade and reopen if this is still an issue.

[2020-09-20 13:53] #46 closed

[2020-09-20 14:03] rojer commented on #75
yep, i think that's enough

[2020-09-20 14:03] #75 closed

[2020-09-20 14:09] andyblac commented on #132
what you think ?
![Screenshot 2020-09-20 at 15 09 00](https://user-images.githubusercontent.com/77936/93713367-42cfe680-fb53-11ea-9f41-3caf46b99930.jpg)

[2020-09-20 14:21] rojer commented on #132
looks ok so far

[2020-09-20 14:41] andyblac commented on #132
@rojer thinking of adding a exclude option to the script ie `./flash_script -ae hostname` is -e ok with you ?

this would basically skip the referenced hostname when using -a.

ie atm my shelly25 is in debug mode for you to keep an eye one with the HAP drop issue, so I don't want it to update it's fw.

[2020-09-20 14:42] rojer commented on #132
SGTM

[2020-09-20 14:48] rojer commented on #132
i think you can also remove DURL from output, for most users it's just noise.

[2020-09-20 14:55] rojer commented on #141
actually, it's when last event is a single press, which is 0 in HAP.
at one point i changed this field so 0 is a valid value now, and forgot to update the UI.
fix incoming

[2020-09-20 14:55] #141 closed

[2020-09-20 15:10] andyblac commented on #132
ye I have in the formatting commit  :smile:

[2020-09-20 15:11] andyblac commented on #132
just working on -e, will push both soon

[2020-09-20 16:59] eldad007 commented on #98
Yes
Thanks

[2020-09-20 17:47] #98 closed

[2020-09-20 19:12] Pixel-Chris commented on #9
Thank you all!!!
That works for me ;-)

So, „Toogle, on = off = single press“ is like the „Edge“ switch

Now I need some momentary switch hardware

[2020-09-20 19:23] Pixel-Chris opened #142 "HAP Type Garagedoor"
It would be nice if the garagedoor HAP Type could be integrated for a Shelly 2.5, then the second input can be used for detecting a closed garagedoor (with an magnetic sensor).

[2020-09-20 20:16] rojer commented on #9
yes, exactly

[2020-09-21 06:26] Marfre888 commented on #9
Hi @rojer, thank you so much for this update, been waiting for it for a while.

I have two small suggestions that would benefit my setup, and I wonder what you think about them;

1. Extend this feature to Edge mode (with possibility of disabling the switch). Reason being, if shelly is currently functioning in detached mode, it adds more reliance on homekit doing the work. With both shelly and home

[2020-09-21 10:50] andyblac commented on #132
To much ?

![Screenshot 2020-09-21 at 11 48 53](https://user-images.githubusercontent.com/77936/93758545-90eef380-fc00-11ea-9149-1fbb4d6866eb.jpg)

[2020-09-21 11:22] rojer commented on #132
yeah, i'd say it's a bit much.
highlighting just the version numbers / status is enough, i think.
final result can be in default color

[2020-09-21 11:24] andyblac commented on #132
ok np

[2020-09-21 11:37] Ludelag commented on #142
You can do this already with the Shelly 1, just use the L for mass, the N for the neutral, connect I and O to the garage door, the switch goes to the magnetic sensor and feed also the magnetic sensor with L.
configure the Shelly 1 as detached

[2020-09-21 11:42] andyblac commented on #132
exclude and text formatting PR done https://github.com/mongoose-os-apps/shelly-homekit/pull/143.

[2020-09-21 12:05] ursusHU commented on #34
Also other products (Netatmo, eufy, tado etc.) are able to communicate paralell with Homekit/Google/Alexa. This would be a nice feature. The Homebridge solution is working, but unfortunately it causes issues in case of some mesh routers (coap problem), this firmware however works nice, this could be a good improvement.

[2020-09-21 12:07] ursusHU commented on #142
https://github.com/mongoose-os-apps/shelly-homekit/issues/43

[2020-09-21 12:13] andyblac commented on #34
TBH, having Alexa and google added to this firmware would turn me off it, I would probably never update again. for me that is a big NO, NO.

[2020-09-21 12:15] rojer commented on #34
@andyblac hm, interesting. can you elaborate why?
i quite like the idea of supporting multiple ecosystems.

[2020-09-21 12:19] andyblac commented on #34
plus I like that fact the HomeKit dose not require ANY WAN access.

[2020-09-21 12:20] bulgaro80 commented on #34
The issue about multiplatform compatibility with Shelly is the EPROM size, too small to install a firmware that is supported by Alexa and Home Kit

[2020-09-21 12:21] andyblac commented on #34
that too, would just limit even more what we could add to HomeKit side of it, RAM is limited already.

[2020-09-21 12:21] rojer commented on #34
not necessarily the case, i believe we can support both with some optimizations.

[2020-09-21 12:22] macomic commented on #34
Maybe not after it was new Coded from scratch. What happened last.

[2020-09-21 12:23] rojer commented on #34
space concerns aside, what are other disadvantages?
needless to say, it would be off by default, so no wan access by default.

[2020-09-21 12:27] andyblac commented on #34
yes, but anything you add to the firmware would have to be compatible with both enabled, this would reduce available RAM to HomeKit side. and limit what we could do in the future surely ?

[2020-09-21 12:28] macomic commented on #34
If you have the decision ether on or off. Then you can't have any disadvantages.

[2020-09-21 12:28] andyblac commented on #34
of course it is read above.

[2020-09-21 12:30] Supereg commented on #34
@rojer how does the Alexa sdk look like on the shelly side? Is this provided by Amazon or a custom implementation?

[2020-09-21 12:38] rojer commented on #34
hah, interesting glitch there: looks like another comment got mixed up with mine, i take it that this part

is yours, @andyblac ?

@Supereg i've had a brief look and it looks looks like just a couple MQTT topic subscriptions. mongoose os already has extensive support of mqtt, i don't think we'll need to bring in any additional libraries.

[2020-09-21 12:44] macomic commented on #34
IMO Alexa Integration would help the firmware to reach much more households and additionally talented helpers to write code or test new firmwares in new environments

[2020-09-21 12:44] rojer commented on #34
i think having choice is good.
privacy concerns are addressed by having these features off by default - if you don't trust google or amazon, don't use them.
space impact needs to be evaluated. this firmware is and will remain primarily about homekit support, but if we can afford it, i don't see why we shouldn't add it as an option.

[2020-09-21 13:01] andyblac commented on #34
just out of curiosity how much free RAM do we have atm for additional features. like schedules, dummy switches etc.

[2020-09-21 13:02] macomic commented on #34
BTW I read somewhere that a Part of Apple cloud services use AWS

[2020-09-21 13:05] andyblac commented on #139
can I close this now ?, for any addition feature please here https://github.com/mongoose-os-apps/shelly-homekit/issues/132

[2020-09-21 13:47] andyblac commented on #132
what do you think ?, until we can name devices in webUI, it should help identify the device. I would prefer to be able to edit device name.

![Screenshot 2020-09-21 at 14 45 45](https://user-images.githubusercontent.com/77936/93774562-4d54b380-fc19-11ea-8f9d-89c7e754e738.jpg)

[2020-09-21 14:02] andyblac commented on #74
I guess this should be another easy one, now that code rewrite is done.

[2020-09-21 15:43] rojer commented on #74
indeed. but only after the roller shutter is done!

[2020-09-21 18:06] yuvalbeck commented on #139
Thank you for your help the file you sent worked

[2020-09-21 18:33] andyblac commented on #139
thanks, has now been committed.

[2020-09-21 18:33] #139 closed

[2020-09-21 18:46] rojer commented on #34
right now we have about 7K code space (flash) left on our biggest target (Shelly25, which includes power metering).
there are ways to reclaim code space:
1) disable HAP logging, saves 44K, easy
2) reduce fs size from 256K to 128, reclaims 128K for code, also easy but adds a constraint to stock firmware compatibility: must be upgrading from 1.8 or newer, older versions cannot reconfigure fs size in

[2020-09-22 11:31] Elsandro12 opened #144 "Reboot function"
Hello
I have the problem that some of my devices are shown in the HomeKit app as ,,no Answer,, . Not the same device but every week another one.

When I go to the device directly with the ip address I can switch it normally . I also can reboot the device and the problem with HomeKit  is solved.

perhaps you can make a option that the device automatically reboots it`s self at night.

[2020-09-22 11:33] andyblac commented on #144
1st I presume your running 2.1.7 ?, if not please update, if you are this sounds like an on going issue being discussed here https://github.com/mongoose-os-apps/shelly-homekit/issues/129, 'reboot' has been deceased before and was ruled out.

therefore @rojer I think this ticket can be closed?

[2020-09-22 11:38] Elsandro12 commented on #144
thank you I will try to understand #129 you can close it

[2020-09-22 11:38] #144 closed

[2020-09-22 11:54] andyblac commented on #144
you can reopen if is not same issue.

[2020-09-22 11:57] andyblac commented on #36
I'll close this ticket, please reopen if still an issue.

[2020-09-22 11:57] #36 closed

[2020-09-22 11:58] andyblac commented on #95
I'll close this ticket, please reopen if it's still an issue.

[2020-09-22 11:58] #95 closed

[2020-09-22 14:03] andyblac commented on #99
still need help on this?

[2020-09-22 14:11] 400HPMustang commented on #99
No, sorry I forgot to close it. Apparently there's just no light on the
puck when using Mongoose and the relay doesn't click when it's just being
powered via USB for flashing/testing purposes. I managed to configure 3 of
them since I made my post.

On Tue, Sep 22, 2020 at 9:04 AM Andy Blackburn <notifications@github.com>
wrote:

[2020-09-22 14:12] andyblac commented on #99
thx I'll close ticket,

[2020-09-22 14:12] #99 closed

[2020-09-22 21:44] 49adrien opened #145 "Lock HAP type and auto off since FW 2.1.7"
Hello,

Since FW 2.1.7 when i use auto off function with lock HAP type, the icon don't update when the relay return to the initial state.

Thanks

[2020-09-22 21:57] 49adrien commented on #145
Yes...

[2020-09-22 22:20] #145 closed

[2020-09-22 22:21] rojer commented on #145
thank you for reporting!
found and fixed the bug, fix will be in the next release.

[2020-09-23 08:06] Marfre888 opened #146 "Physical Switch state in Edge Mode"
Hi @rojer , thank you so much for the latest update, been waiting for it for a while.

I have two small suggestions that would benefit my setup, and I wonder what you think about them;

Would it be possible to extend the new detached mode switch feature to Edge mode (obviously with the possibility of disabling the switch). Reason being, if shelly is currently functioning in detached mode, it adds

[2020-09-23 08:10] andyblac commented on #146
just so I understand you, you basically want Double and Long press exposed then, as single press would always be attached to the switch ?

[2020-09-23 08:17] andyblac commented on #146
thats a relay state, not a switch state surely ?

[2020-09-23 08:27] andyblac commented on #146
If you want the switch attached in Edge mode, and you only want you sensor to only turn on the light if OFF, then just simply add a 'Condition' to that automation. Is that what you're after ?

[2020-09-23 09:23] Marfre888 commented on #146
Sorry, I'm doing a horrible job explaining this.

Basically I'd like to be able to get the position of my physical switch (the one attached to my wall) into homekit. ie: UP/DOWN.

I'd like it in Edge or Toggle mode for purely reliability reasons, as I'm getting instances a couple of times a month where automations don't go through. So in edge/toggle mode, the physical switch is still able to turn

[2020-09-23 09:33] andyblac commented on #146
ok, I think I get you now, so you are wanting a to add a new Tile for the Switch State, that would be a dummy Tile only. there is a request for that here. https://github.com/mongoose-os-apps/shelly-homekit/issues/74

Add your support to that request, I think this is a duplicate of that request, if so please close this one, if not I'll let @rojer advise what is / is not possible.

[2020-09-23 09:39] Marfre888 commented on #146
Give me a second, I've come up with a way to show you

[2020-09-23 09:41] rojer opened #147 "Advanced input actions configuration"
It should be possible to specify multiple actions for a physical device input. Among them:
 * Control an output on the same device directly, in toggle/momentary/edge mode
 * Send a HAP event - through a Stateless Switch accessory
 * Call a web hook
 * ... more can be added later

[2020-09-23 09:42] rojer commented on #146
ok, so you want input to control a physical switch as well as send an event to a stateless switch tile in homekit?

i think this will have to wait for the "advanced input actions configuration". i filed https://github.com/mongoose-os-apps/shelly-homekit/issues/147 for that purpose.

[2020-09-23 09:42] rojer commented on #138
i filed https://github.com/mongoose-os-apps/shelly-homekit/issues/147 to track that and will close this one

[2020-09-23 09:42] #138 closed

[2020-09-23 09:51] rojer commented on #5
i've created a separate branch for this work and have pushed the first commit.
those who are curious can follow development [here](https://github.com/mongoose-os-apps/shelly-homekit/commits/rsh).
once i have something working to test, i will be cutting builds and posting them here.

[2020-09-23 09:51] Marfre888 commented on #146
So this is what I'm trying to do.

But this process involves;

Shelly switch ->> homekit ->> homebridge dummy switch
Shelly switch ->> homekit ->> shelly light

But in reality the shelly already knows all this information and shouldn't need to speak to homekit, other than to send it the result. Plus, more joint means that there is always higher chance that it will fail.

PS: It would also be nice

[2020-09-23 10:24] andyblac commented on #146
video link does not work .

[2020-09-23 10:30] Marfre888 commented on #146
@andyblac This should work now;

https://drive.google.com/file/d/1qs60wSDOJqni01WFzykXjBQn_wE4t6Su/view?usp=sharing

[2020-09-23 10:33] andyblac commented on #146
ye, so I was right, it just a dummy switch you're after. #74

[2020-09-23 10:41] Marfre888 commented on #146
Yes, but it would be even better, if when physical switch is turn on, Shelly could turn on the relay (light) without needing to ask homekit to do it, as it does in toggle/edge mode.

[2020-09-23 10:42] andyblac commented on #146
updated slightly read above.

[2020-09-23 10:45] andyblac commented on #146
unfortunately you can't group different switch types in HomeKit.

[2020-09-23 10:52] Ludelag commented on #5
Nice! thank you

[2020-09-23 11:07] Marfre888 commented on #146
Not exactly; because the 'dummy switch' is only intended to show physical switch state.

So if you manually turn the light off in homekit, using the light tile, the 'dummy switch' should still show up as on (as it physically hasn't been turn off from the wall)

So in reality on switch click; shelly would execute two separate actions. 1. to turn the light on, 2. to turn the dummy switch on. In a pe

[2020-09-23 11:08] Marfre888 commented on #146
Sorry, by group I meant, the 'separate tiles' feature. I have accessories that have different types of tiles grouped together, so surely there is a way to do that..

[2020-09-23 11:17] andyblac commented on #146
ye I know, not possible.

[2020-09-23 11:25] Marfre888 commented on #146
Light/Dummy Switch group together, with possibility of disabling stateless switch?

[2020-09-23 11:34] andyblac commented on #146
@rojer can confirm, but I am pretty the feature is only for multiple thing of the same type ie switches and sensors, they can't be different types, this why when you enable Detached mode, even though it is part of the same accessory it is not show in the single tile.

[2020-09-23 11:53] Marfre888 commented on #146
Ahh, I have definitely had a fan slider group with a switch before. I think homekit only lets users group the same type of tile, but a developer can choose how they want the tile to be exposed, but I'm obviously no expert.

Either way I'm not dying for that option, but would be nice to have

[2020-09-23 12:16] andyblac commented on #146
ye, If both are switches (switch set fan in homekit) just you can't have a stateless and a state switch in same tile, as they are 2 different types.

[2020-09-23 13:37] Marfre888 commented on #146
Haha, thank you @andyblac.

That took way too much time to explain, but thanks for your help

[2020-09-23 17:53] Pixel-Chris commented on #142
@Ludelag
Thanks!!
That works for now!

The most Hörmann Garagedoor openers have an implemented door closed output!

So when HAP type „Garage“ is implemented, the user should be able to use 1 sensor with Shelly 1 and 2 sensors with shelly 2.5
(If you also want a sensor for an completely opened door)

[2020-09-23 18:48] Ludelag commented on #142
@Pixel-Chris good to read it has worked! Thanks for the tips as well, I will check it out.

[2020-09-23 18:55] Pixel-Chris commented on #142
@rojer
Is it possible to use the „serial port“ gpios for a second sensor/Input ?

![image](https://user-images.githubusercontent.com/63644133/94056833-18925900-fddf-11ea-87f1-229d1d58ac81.png)

[2020-09-23 19:20] rojer commented on #142
in principle yes, in practice - unlikely. once you go up to any significant length of wires, noise becomes an issue and you will get false triggering all the time. you are better off just buying shelly 2.5.
correct me if i'm wrong, but garage door functionality sounds more like #5, no?

[2020-09-23 19:22] andyblac commented on #142
yes, bug normally garage door, only operate on one button that  does (OPEN, STOP, CLOSE, STOP, OPEN, etc)

[2020-09-23 19:24] rojer commented on #142
ok. i don't own and have never used a motorized garage door, i'll need detailed description of the operation and available inputs and outputs.

[2020-09-23 19:27] andyblac commented on #142
on mine, and I think the vast majority operate on a single push button type, each time you press the button it cycles through the above function list.

[2020-09-23 19:27] Pixel-Chris commented on #142
The problem is, that most garagedoor openers have only one button (direction 1 -> stop -> direction 2 -> stop -> direction 1 and so on)
So no separate buttons for up an down
And for the end positions normally magnetic sensors are used, Some of them have an door closed sensor included, some of them have also the open sensor included)

For my Hörmann promatic 2 (with included garage door closed sens

[2020-09-23 19:29] andyblac commented on #142
I use iSmartGate on mine, but the original opener, did not even have sensors, just end points where if no button was press to stop the motor it just stopped by itself as it hit the endpoint.

[2020-09-23 19:30] rojer commented on #142
can you find and link here some documentation for popular garage door systems that we'd be integrating with?

[2020-09-23 19:32] Pixel-Chris commented on #142
Hörmann promatic 2

https://www.tor7.de/media/pdf/e2/59/13/hoermann-promatic-2-anleitung.pdf

[2020-09-23 19:33] rojer commented on #142
um... in english, if possible :)

[2020-09-23 19:35] andyblac commented on #142
https://www.auto-roll.com/sites/default/files/AR433-%20plus%20instructions%20-%20updated.pdf

[2020-09-23 19:54] Pixel-Chris commented on #142
In English Hörmann Promatic 2
https://cdn.hoermann-cloud.de/fileadmin/_country/dok/Promatic_v2_Fitting_Instructions.pdf?v=1520493487

[2020-09-23 20:01] Pixel-Chris commented on #142
So for my Hörmann garagedoor opener I connected the Shelly as follows:

L(-) goes to 20
N(+) goes to 5
So the Shelly is powered with 24V

0 and I goes to the momentary switch input

SW to the 0V R- (where normally the optional Relais is connected)
(Detached mode, Auto off after 2 seconds)

[2020-09-23 20:03] Pixel-Chris commented on #142
![67FFC303-E7F3-467A-BDA2-5BBA4641CD10](https://user-images.githubusercontent.com/63644133/94063600-a161c280-fde8-11ea-8204-d103e29b3870.jpeg)

[2020-09-24 01:34] rojer commented on #5
First signs of progress: https://www.youtube.com/watch?v=oQQQxtC7kP8 (as of https://github.com/mongoose-os-apps/shelly-homekit/commit/4fd5549c7e33acef2b2d8a2a7fb569f1999908fc).

[2020-09-24 02:54] Lasso77 commented on #5
Thumbs up! Great work!

[2020-09-24 06:44] greensouth commented on #5
YAY!!!
Don't forget (as previous experience with the superb! work from Ravencore firmware) that:

- Need a delay when suddenly changing the direction to not break the motor.
- The calculations for percentage when using rolling shutters (like the ones used in Spain) is non-linear. As it rolls, it becomes bigger and every turn it does, it grabs more rolling shutter per round, so it accelerates. The

[2020-09-24 06:47] rojer commented on #5
yes, this is already the case: direction won't change without going through a complete stop.

good point, thanks

[2020-09-24 07:31] Ludelag commented on #5
Yes! Plenty of progress ! How could be set the calibration of the Shelly according to the motor ?

[2020-09-24 07:40] rojer commented on #5
calibration is already implemented. the way it works is:
1. activate output 1 until full stop (no current consumed)
2. ask user: is it fully open or fully closed? this way we know whether 1 is connected to open or close motor, 2 is then the opposite
3. activate output 2, move until no current and note the time.
4. when stopped, note the time. it will be used to calculate relative position.
5. cali

[2020-09-24 08:18] Ludelag commented on #5
Great¡! I can't wait to taste it already. Thank you very much @rojer

[2020-09-24 08:52] mat130780 commented on #5
Great work, thank you!! I will also test it from the first commit on.
However it must be ensured that never ever both relais switches (UP and DOWN) can be activated simultaneously. Is it already possible to actuate the roller shutter with external switches?

[2020-09-24 09:00] Pixel-Chris commented on #142
And if the Gpio pins can be used:

L(-) goes to 20
N(+) goes to 5

0 and I goes to the momentary switch input

SW to a magnetic door sensor (fully opened)

GPIO to the 0V R- (where normally the optional Relais is connected) (door closed)

[2020-09-24 10:05] Pixel-Chris commented on #5
Please keep in mind, that the upwards motion is always a little slower, because of the weight of the shutter

[2020-09-24 10:12] Pixel-Chris commented on #5
Sorry always mentioned above

[2020-09-24 10:46] Pixel-Chris commented on #142
Found a thread where they used the gpio pins:

https://community.openhab.org/t/setting-up-a-garage-door-opener-with-shelly-and-espeasy/98749

[2020-09-24 11:17] vkingxxx commented on #142
Why do you need 2 sensors? One magnetic or inside signal for closed door is sufficient. Sensor is active = door is close, inactive door is open.

[2020-09-24 11:47] Pixel-Chris commented on #142
The HAP Type „Garagedoor“ can show the actually states:
Door opened
Door closing
Door closed
Door opening

So both end positions would be nice
And when the opener provides an internal output for one of them why not use the gpio for that and an external magnetic switch for the other end position.

And when there are two recognised endpositions, and after x seconds none of them is the actual state -

[2020-09-24 11:59] Pixel-Chris commented on #142
And I found something:

let HMCharacteristicTypeObstructionDetected: String
An indicator of whether an obstruction is detected, as when something prevents a garage door from closing.

(https://developer.apple.com/documentation/homekit/hmcharacteristic/characteristic_types)

[2020-09-24 12:23] andyblac commented on #142
@Pixel-Chris my HomeKit opener only has 1 sensor and all 4 conditions are supported, when Closed and it start opening it show "Opening.." till the motor stops (no current) then it shows "Open" (from as the sensor is open, and same in reverse. So only 1 sensor is required. IMO.

[2020-09-24 12:39] Pixel-Chris commented on #142
But, Yes you are right
One sensor is normally enough

But when you have to sensors... why not use both? The Shelly can do it (an when not the gpio pins of an Shelly one - then an Shelly 2.5 can do it)

Motor stops because of an obstacle? Or what after an power loss? In which position is the door (open? Or in the middle?)

[2020-09-24 12:40] vkingxxx commented on #142
I have too 4 states with one sensor with another firmware. In this firmware is defined time to close XY seconds, when door is not in XY seconds closed/sensor activated = obstruction. I don't need detect obstruction for opening.

Is possible with @rojer firmware switch door status on SW contact?

[2020-09-24 12:41] andyblac commented on #142
shelly 2.5 is not dry contact, so can't always be used. ie I couldn't use it on mine, as NO VOLTAGE can go through to garage circuit.

[2020-09-24 12:43] vkingxxx commented on #142
@Pixel-Chris https://github.com/RavenSystem/esp-homekit-devices/wiki/Garage-Door

[2020-09-24 13:56] Pixel-Chris commented on #142
IMO
It should be possible to choose
- no sensor
- one sensor
- two sensors
and where there are connected
SW, GPIO x

Maybe rojer can include the new calibration mode form the roller shutter #5 type (https://github.com/mongoose-os-apps/shelly-homekit/issues/5#issuecomment-698174092)
to define the times

[2020-09-24 16:53] gregDEweb opened #149 "Flash Script"
@andyblac

Sorry for asking but how do i use the script to flash multiple shellys.
Not sure how to start it by the console.

[2020-09-24 17:11] yaourdt commented on #111
It took some time and I don't know if it is still relevant for you @testpaul999 , but [tasmota-to-mgos](https://github.com/yaourdt/tasmota-to-mgos) should now offer a way back. However, be aware that the method is still quite untested and could put your device in a state that can only be recovered by attaching a wired programmer.

[2020-09-24 17:12] andyblac commented on #149
in the tools folder type
`./flash_script -la` to list all devices
`./flash_script -a` to flash all devices
`./flash_script -h`for more help on what the script can do.

[2020-09-24 17:30] rojer commented on #5
i'm not super excited about the idea of making header gpios available for stuff, because they are not properly isolated.

[2020-09-24 17:39] rojer commented on #142
i'm not super excited about the idea of making header gpios available for stuff, because they are not properly isolated.

[2020-09-24 17:42] yehuda2525 commented on #5
Sorry for the noob question,
But if I flash the firmware from the firs page is it now a roller shutter? Or I have to do something else?

[2020-09-24 17:45] rojer commented on #5
no, there's no release with roller shutter feature yet. i need to tie up some loose ends and we can start testing. i will be posting builds here first, before it goes to release.

for now, i'm going to ignore the issue of relative position accuracy - ok, so 50% target will actually be 40 or 60 in reality, no big deal (or is it? we'll see). i'll make sure 0 and 100 work though.

[2020-09-24 17:46] gregDEweb commented on #149
Tools folder on a shelly device? How to access the folder?
Bot familiar with the console so far.

[2020-09-24 17:48] Pixel-Chris commented on #142
Shelly 2.5 ?

[2020-09-24 17:49] rojer commented on #142
i mean the additional GPIOs available on the programming header on any type of device.
shelly 2.5 provides 2 proper inputs, so yes, those can be used for remote sensing.

[2020-09-24 17:51] Pixel-Chris commented on #142
Ok,
Perfect !

[2020-09-24 18:29] andyblac commented on #149
tools for in git here https://github.com/mongoose-os-apps/shelly-homekit/blob/master/tools/flash_shelly.sh you need to download or clone the git first

[2020-09-24 19:18] rojer commented on #5
as i'm working on control from external inputs, question for all:
what kind of external control should we support?
we have an input for each output, so for now i'm implementing a simple scheme: input 1 activates output 1 (whether it's open or close), input 2 activates 2. output will be activated while inpout is activated, the effect being that to fully open or close the curtain user will need to h

[2020-09-24 21:21] freddair commented on #149
What's wrong?

Installing coreutils...
You may be asked for your password...
Traceback (most recent call last):
	10: from /usr/local/Homebrew/Library/Homebrew/brew.rb:23:in `<main>'
	 9: from /usr/local/Homebrew/Library/Homebrew/brew.rb:23:in `require_relative'
	 8: from /usr/local/Homebrew/Library/Homebrew/global.rb:28:in `<top (required)>'
	 7: from /usr/local/Homebrew/Library/Homebrew/global.rb

[2020-09-24 21:44] chstoll commented on #5
We need input for Toggle-Switches also. In my Setup I have Switches where I can toggle up and down, and if nothing is pushed, the Switch stays in the middle. So one push starts, second push stops. Single Button setup is rather unusual, I think.

[2020-09-24 21:52] rojer commented on #5
that's two inputs you are describing, so it's ok. does the switch stays on for the curtain to keep moving?

[2020-09-24 22:05] chstoll commented on #5
No, it is only an impulse. In german it is called „Taster“, I don't know the correct translation. At the moment, I'm using z-wave modules from fibaro, I could take a short video to clear things up, if you like.

[2020-09-24 22:26] rojer commented on #5
yes, please tell me about your setup.

[2020-09-25 01:44] rojer commented on #5
first alpha build that can be tested: https://rojer.me/files/shelly/2.2.0-alpha1/

*Important*: This is only suitable for motors with end switches that turn themselves off. Currently firmware has no overcurrent detection (though it's planned). In particular, I am testing with [this](https://www.amazon.co.uk/Roller-Shutter-Solroyal-Powerful-Warranty/dp/B00SFXPF5E) Solroyal 120W motor. if your setup

[2020-09-25 07:24] chstoll commented on #5
I took a short video: https://youtu.be/ciznJiDjT9c

At the end you can see the calibration-process.

[2020-09-25 07:36] pivale commented on #5
Hi have two setups at home at the moment:
In my living room, I already have a shelly 2.5 working with stock firmware and i use it with push buttons (momentary), one to open and another to close. On single press/push/impulse will start the shutters to move and a second push on the same button will stop movement.
In my other rooms I have no shellys and I use toggle buttons, one to open and another t

[2020-09-25 07:56] juancitomadrid commented on #5
sorry for the ignorance.
I want to do a test.
[This ](https://forum.creationx.de/index.php?attachment/3332-shelly2-5-rollladenschaltung-png/)would be the correct way to setup?

[2020-09-25 07:58] andyblac commented on #149
ok, it seems git command line is required, please try the attached version, and report back if it fixes issue.

Thanks
[flash_shelly.sh.zip](https://github.com/mongoose-os-apps/shelly-homekit/files/5281342/flash_shelly.sh.zip)

[2020-09-25 08:00] Patisone commented on #5
About the logic — scheme in **pivale**'s comment is absolutely right. I think there's usually an option in UI, where you choose your switch type, so the  firmware knows, with logic to use.

I've made a short video for better illustration — black one is classic switch and white is a button type: https://youtu.be/vN0WvdcHquA

Also about toggle switches — it's a usual case, that you toggle it in a ne

[2020-09-25 08:02] BlancoDeMallloca commented on #5
This is also my setup.
Thank you very much for your effort on this issue.

[2020-09-25 08:28] fahadalzoabi commented on #5
I have a legrand shutter switch, I recorded a video of operation, I hope it helps.
https://youtu.be/v4xl1vss_y0

[2020-09-25 08:52] yehuda2525 commented on #5
I also have this type of switch,
There are 2 types of switch
1.you have to hold the button to activate
2. One press to button to activate

[2020-09-25 09:22] rojer commented on #5
yes, this is correct.

[2020-09-25 09:39] Pixel-Chris commented on #5
IMHO the best is the Version from    pivale!

Momentary:
Short press and it moves to the end position
Short press (same button) it stops
Short press (other button) it moves to the end of the other direction

Long press it moves until you release

Optional double press
Double press and the roller shutter will move to a predefined position (a) (for example 95% - so that there are only the „holes“ of

[2020-09-25 11:40] rojer commented on #5
ok, thanks everyone for the comments.

@fahadalzoabi @yehuda2525 so these are toggle switches that stay closed while movement is happening. current behavior in alpha1 works like that, so it will do fine for you. this also described @pivale's second setup.

here's the plan for inputs:
1) i will implement momentary input mode with two buttons as @pivale and @Pixel-Chris describe.
2) i will also impl

[2020-09-25 11:41] rojer commented on #5
input controls aside, i'd like feedback on calibration, movement and positioning for alpha1.

[2020-09-25 11:46] chstoll commented on #5
Did you watch my video (https://youtu.be/ciznJiDjT9c) till the end? There you can see how the calibration mode works on the z-wave modules, this could be a possible solution.

[2020-09-25 11:55] rojer commented on #5
@chstoll oh, my apologies. now i have. it's possible to trigger calibration, but we also ask the user about the direction, that is not as easy to get.
for now i think calibration via web ui is fine, after all, the user will have to interact with it at least once - to set up HAP pin.

one question: when the curtain is moving, what does pressing the same button again do?

[2020-09-25 12:01] mat130780 commented on #5
For me (momentary switch with Schellenberg motor), this first alpha build is already working perfectly.
- calibration worked fine as per your video
- movement directions are correct (my Shelly is wired like [this](https://forum.creationx.de/index.php?attachment/3332-shelly2-5-rollladenschaltung-png/) ), in Home app and with external switch
- position shown in Home app is not quite correct yet, the

[2020-09-25 12:07] Patisone commented on #5
One more thought about calibration — you can just dedicate, that input/output one is always for up, and input/output 2 is always for down. That will remove the need to select it in UI. In fact many specialised controllers come with dedicated contacts for up and down, marked on their bodies. For example: https://katalog.gira.de/en/datenblatt.html?id=699157

[2020-09-25 12:16] yehuda2525 commented on #5
After installing,calibration works great but for example in home app if I switch to 10% in real it's like 40%

[2020-09-25 12:18] Thotty1986 commented on #5
In my oppinion thats normal because you forget the closing of the lammelas

[2020-09-25 15:55] juancitomadrid commented on #5
Alpha1 work fine.
Notes:
When it's going up or down, a press should stop it, but what it does is change the direction.
[Test video](https://www.dropbox.com/s/0ezhi85okzhjiv7/IMG_3437p.mov?dl=0)

[2020-09-25 15:57] Thotty1986 commented on #5
Can You sent me the Code so I can have a look at it ?
It should normely be easey to stop by tabbing,. when you remember you are moving

[2020-09-25 16:04] rojer commented on #5
yeah, i noticed that too. you'd think so, right? but the home app is quite clear: it wants us to go back.
when you tap a tile first, it sends target position either 0 or 100, i.e. either close fully or open fully.
when you tap it again while it's moving, it sends the opposite, 100 or 0 respectively.

i guess we should not take it literally then, and interpret reversal as "stop right there".
ok, i'

[2020-09-25 16:07] rojer commented on #5
that's because there's a "noise threshold": we won't start moving if we are within 2% of the target position.
but i see why the home app can be confused by this, i'll take a look. thanks for reporting!

[2020-09-25 16:09] rojer commented on #5
at the end of calibration it's supposed to go to 50%. does it do that? or is it off as well?

[2020-09-25 16:10] Thotty1986 commented on #5
Which Programm do you use  to Programm ?

[2020-09-25 16:12] rojer commented on #5
@Thotty1986 read https://github.com/mongoose-os-apps/shelly-homekit/wiki/Development

[2020-09-25 19:11] rojer commented on #5
ok, new build to test: https://rojer.me/files/shelly/2.2.0-alpha2/

changes:
 * No more user interaction during calibration, we always assume output 1 is to open, output 2 is close
 * Instead, two options are provided: swap inputs and outputs. swapping input without swapping outputs will address @mat130780 's case outlined in https://github.com/mongoose-os-apps/shelly-homekit/issues/5#issuecomment

[2020-09-25 21:56] rojer commented on #65
https://github.com/mongoose-os-apps/shelly-homekit/commit/95c21e455b836f81bdf320ce28ddbec400484d9e adds the API feature, @schemhad please add GUI when you have the time.

[2020-09-25 22:01] freddair commented on #149
Installing coreutils...
You may be asked for your password...
Updating Homebrew...
Traceback (most recent call last):
	10: from /usr/local/Homebrew/Library/Homebrew/brew.rb:23:in `<main>'
	 9: from /usr/local/Homebrew/Library/Homebrew/brew.rb:23:in `require_relative'
	 8: from /usr/local/Homebrew/Library/Homebrew/global.rb:28:in `<top (required)>'
	 7: from /usr/local/Homebrew/Library/Homebrew/glo

[2020-09-25 22:21] andyblac commented on #149
Is this from zip file above ?

[2020-09-25 22:22] andyblac commented on #149
Also please I need to see full output including command you used to start

[2020-09-25 22:26] andyblac commented on #149
@freddair please try the version in the zip above that should install git before it tries to install coreutils

[2020-09-26 07:46] freddair commented on #149
@andyblac yes I used the zip above and replaced the old .sh in the tools folder. Just did it again and here is the full output:

Frederiks-MacBook-Pro:~ frederikmueller$ /Users/frederikmueller/Documents/GitHub/shelly-homekit/tools/flash_shelly.sh -ay
Installing coreutils...
You may be asked for your password...
Traceback (most recent call last):
	10: from /usr/local/Homebrew/Library/Homebrew/brew.

[2020-09-26 08:46] mat130780 commented on #5
I have just installed and tested alpha2, well done! Some feedback:
- "Swap inputs" and "Swap outputs" is working as it should. However, directly after activating "swap outputs" there was some strange initial behaviour (Shelly did not execute command from Home app at first).
- Tiny target position changes now work as they should, the Home app is not confused any more.
- About target position interp

[2020-09-26 08:57] chstoll commented on #5
I would not „overengineer“ it in the first step. Simple start/stop with push buttons (as in my video) suits the most cases, in my opinion. Do we really need an additional „hold the button down and stop on release“ when you can just push twice? Even a direct reverse is a nice to have feature, but not really necessary. If it goes down, push up to stop and a second time to go up again.

[2020-09-26 09:45] andyblac commented on #149
hmm strange, it seems git is still missing, can you run `which git` in terminal please.

should see something like
[code]

[2020-09-26 11:30] freddair commented on #149
looking good:

`Frederiks-MacBook-Pro:~ frederikmueller$ which git
/usr/bin/git
`

[2020-09-26 11:36] andyblac commented on #149
hmm so why does brew not see it. can you try to reboot, and try script again

[2020-09-26 11:43] andyblac commented on #149
could also try the following please

[code]

let me know.

[2020-09-26 11:53] andyblac commented on #149
it might have something to do with upgrading to Big Sur, brew might need a update, try the above commands anyway let me know.

[2020-09-26 12:11] freddair commented on #149
I already tried rebooting before, nothing changed. Here is the outcome of your commands above:

Frederiks-MacBook-Pro:~ frederikmueller$ cd /usr/local/Homebrew
Frederiks-MacBook-Pro:Homebrew frederikmueller$ git pull origin master
xcrun: error: invalid active developer path (/Library/Developer/CommandLineTools), missing xcrun at: /Library/Developer/CommandLineTools/usr/bin/xcrun
Frederiks-MacBook-

[2020-09-26 12:14] andyblac commented on #149
hmm, did you have Xcode installed at any time ? is there an update available for it?

[2020-09-26 12:14] andyblac commented on #149
If that doesn't show you an update run:

[code]

[2020-09-26 12:20] freddair commented on #149
<img width="569" alt="Bildschirmfoto 2020-09-26 um 14 19 26" src="https://user-images.githubusercontent.com/63143560/94340583-51127c80-0003-11eb-8522-902752ddf356.png">

hmmm... Software can't be installed because it's currently not available on the software update server... maybe I really should wait until Big Sur is released.

[2020-09-26 12:22] andyblac commented on #149
try opening Xcode app, it may be require to complete Big Sur update.

[2020-09-26 12:25] freddair commented on #149
haha. xcode was not installed. now loading...
thanks @andyblac

[2020-09-26 12:27] andyblac commented on #149
Xcode should not be needed for script, but Big Sur thinks you previously had it installed, so it must have need to be updated. anyway let me know if script works when installed.

[2020-09-26 12:46] andyblac commented on #9
@rojer would it be possible to add an additional mode to "Detached Input" options that only allowed Double and Long Press to be configured, and actioned Single press from physical switch ? (even if you could not removed "Single Press" from detached button GUI in HomeKit, and it just simply ignored it.

I think this would be really useful.

[2020-09-26 13:26] freddair commented on #149
now it worked! But it only found 2 of 3 shelly devices in my network - why could this be?

[2020-09-26 13:28] andyblac commented on #149
hmmm, strange what does
`timeout 2 dns-sd -B _http . `

report ?

[2020-09-26 13:34] freddair commented on #149
Now I see: Could not resolve host: shelly1-8CAAB505BEF3

[code]

[2020-09-26 13:35] freddair commented on #149
I use pi-hole as DNS - but strangely 2 of 3 shellys do work.

[2020-09-26 13:36] andyblac commented on #149
can access it via web browser ?

[2020-09-26 13:37] andyblac commented on #149
could be related to this https://github.com/mongoose-os-apps/shelly-homekit/issues/108

[2020-09-26 13:54] freddair commented on #149
ahh no it's not accessible via web browser and also not responding in HomeKit... but my router shows it being connected. I will need to wait for the night when everybody sleeps so that I can cut the power of the living room ;-)

[2020-09-26 14:29] andyblac commented on #149
at least it working now, let me know if you have any more issues, or would like anything adding to it.

[2020-09-26 15:18] rojer commented on #9
@andyblac that's #147

[2020-09-26 15:20] andyblac commented on #9
oh ye, doh!!

[2020-09-26 15:22] andyblac commented on #9
just having issue with HomeKit Automations atm since putting my iPhone on iOS14, and HomePod still no iOS13.4.8 as no updates, detached buttons keep failing, I keep having to reboot bloody HomePod to fix it.

[2020-09-26 15:27] andyblac commented on #147
should we include #51 into this as well ?

[2020-09-26 15:35] rojer commented on #147
that's more like advanced _output_ configuration. let's keep it separate.

[2020-09-26 15:41] andyblac commented on #149
@gregDEweb did you get it working ?

[2020-09-26 15:52] andyblac commented on #147
ok

[2020-09-27 00:58] hfagelnour commented on #142
The reed switch (magnetic) .... does it have to be on by default or off?

[2020-09-27 01:08] rojer commented on #5
Beta1: https://rojer.me/files/shelly/2.2.0-beta1/

changes:
 * Input controls: mimick the two input modes stock firmware provides, i.e. momentary separate up/down and single button tah cycles through up and down via stop.
 * Added detached input mode
 * Added over-current detection (2x normal power)
 * Added obstruction detection (moving for too long without turning off)
 * New UI for mode change

[2020-09-27 01:09] rojer commented on #65
i was adding system settings section for roller-shutter and added hostname item to it.

[2020-09-27 07:24] freddair opened #150 "Shelly 1 Momentary Switch issue"
Hi, since updating from 2.0.12 to 2.1.7 (and now also 2.1.8) my momentary light switch occasionally needs to be tapped twice to initiate the switch action. After some switching, and after reboot, it again switches on the first tap as expected. After a while it again needs to be tapped twice. I guess that's a bug in the new 2.1.x Firmware?

[2020-09-27 08:13] andyblac commented on #65
@rojer just tested 2.2.0-beta1 for this, after changing the host name, you can indeed access the webUI via the new hostname, But the hostname does change when scanning via DNS-SD. can you check your are getting same result ?

as a result the flash_script no longer sees the device with changed hostname.

[2020-09-27 08:51] mat130780 commented on #5
Thanks. With this beta release, my external buttons are not working correctly any more. I have two separate switches like [this one](https://www.beleuchtung-mit-led.de/mutlusan-21200060101-8699430181483.html?refID=4&gclid=CjwKCAjw8MD7BRArEiwAGZsrBaBijOX7IDdJ0PqsEAP2kQ4nJKhFzM20_rM5fh3XdB8bt6zd3vkmxBoCY6gQAvD_BwE) . The shutter moves when I turn the switch, but it should stop when I flip the switch

[2020-09-27 09:02] gregDEweb commented on #149
@andyblac
Sorry could not will rk on it yet. Hab to leave town for a couple of days, will try it next weekend.

[2020-09-27 09:12] MilanBacaCz opened #151 "Blinking problem"
Hi, i have a problem with two of my Shellys 1. Sometime it can't turn off. Instead of permanently OFF I see attempt  to ON every ~2s interval. Is there any way how to see logs of shelly if this behavior occurs?

[2020-09-27 09:27] andyblac commented on #149
np, no rush, I'll push the fix in the mean time, let me if works when your return.

[2020-09-27 09:31] rojer commented on #5
it can be stopped by pressing the same button again.
this is how the stock firmware works and it makes code a bit simpler, so i decided to settle on that.

[2020-09-27 09:41] mat130780 commented on #5
I have made a short video: https://youtu.be/4_T50e91hN0
The first shutter is working as it should be (Shelly with stock firmware). For the second shutter, the external button does not stop the shutter when pressing it the 2nd time. This is not the normal behavior for these buttons.

[2020-09-27 10:04] andyblac commented on #150
I have had this too, but even before 2.0.12 I thought it was just my momentary switches, or releasing too fast.

[2020-09-27 10:33] freddair commented on #150
Now that you say that, I remind that I also had this issue some time earlier (I guess it was around April). It is for sure not a hardware issue. @rojer ?

[2020-09-27 14:55] rojer commented on #5
ok, what you have is a separate button mode + momentary button type in the terms that stock firmware uses, what i implemented is separate + toggle.
i actually think their description of momentary and toggle is reversed - description doesn't match the name and disagrees with what they use in the relay mode. ugh.

ok, i need to implement this additional mode.

[2020-09-27 15:42] pivale commented on #5
Great job @rojer! Thank you a lot for investing your personal time on this.

Tested and seems to be working exactly as I expected with my push buttons.

I think that what I mentioned before as a bonus for momentary (long press) could work as normal for toggle, where user "let go" is equivalent to switching off.

[2020-09-27 16:16] rojer commented on #5
@mat130780 added a new "separate, toggle" input mode that should work for you.

@pivale correct, that is covered by the new input mode.

please test https://rojer.me/files/shelly/2.2.0-beta2/

[2020-09-27 16:25] rojer commented on #65
there's a slight issue there, yes. while _hap._tcp name does get fully updated, _http._tcp does not until the device is rebooted.
it remains in a half-updated state:
[code]
here i renamed shelly 25 to shelly25-1, HAP has been fully renamed and hostname has been updated, but the web service is still advertised under the old name.
while it's possible to fix in the firmware, it's not very easy. inste

[2020-09-27 17:48] mat130780 commented on #5
@rojer Well done, I tested it and now it works like a charm! For me the beta2 is already a good replacement for the stock firmware now. The only thing missing is the correction of the % value of the shutter, but that can be fixed later.

[2020-09-27 17:49] juancitomadrid commented on #5
Thanks @rojer !!!
Tested and for me is working perfect!!!

The only thing left to try to fix is the % of aperture.
The problem is that once it is closed, the motor keeps turning until all the slats are completely closed. This counts as a total percentage. This means that "50% open" is actually about 25%.
Is there any way to fix this?

[2020-09-27 17:52] andyblac commented on #65
this what is get
![Screenshot 2020-09-27 at 18 52 14](https://user-images.githubusercontent.com/77936/94372046-9b265b80-00f2-11eb-8487-8f00f98bf6e0.jpg)

[2020-09-27 17:54] rojer commented on #5
thanks @mat130780 and @juancitomadrid ! there is a way to fix it of course but i'd like to do it after initial release. we'll create a new issue and come up with a way to express this correction. some cases will need just a linear correction, some will need non-linear calculation... it's not very clear to me at the moment and i'd like to get basic functionality out and then apply polish.

[2020-09-27 17:56] andyblac commented on #65
oh yeah using _hap

![Screenshot 2020-09-27 at 18 54 43](https://user-images.githubusercontent.com/77936/94372099-f6f0e480-00f2-11eb-930a-99804205e3ec.jpg)

but this mean we would have to check every device for compatibility, this will slow search down a lot.

[2020-09-27 17:57] rojer commented on #65
hm, true. i'll think about it, but at the moment all that's needed is a reboot.
can you confirm taht reboot fixes it?

[2020-09-27 17:59] andyblac commented on #65
yes it does, so maybe just do an auto reboot after name change ?

![Screenshot 2020-09-27 at 18 58 52](https://user-images.githubusercontent.com/77936/94372180-944c1880-00f3-11eb-8acc-226e97c04553.jpg)

[2020-09-27 18:01] andyblac commented on #65
but anyway, thinking about it I'll still have to check all _http as we ca not now search for 'shelly' in $7 any more.

[2020-09-27 18:20] andyblac commented on #65
checking all _hap add a lot of time to scan, best stick with _http

[2020-09-27 19:11] andyblac commented on #65
PR https://github.com/mongoose-os-apps/shelly-homekit/pull/152 should fix scanning, but a the reboot is required after hostname change.

[2020-09-27 23:17] rojer commented on #48
@schemhad i have expanded on your recent change and have automatic upload basically working.
slight problem is, we can't use GitHub URLs due to CORS restrictions, so we'll need to use urls from my site that sends the required header. but that's no big deal.

[2020-09-28 06:56] Perrako commented on #5
thanks rojer for your work! ;)
I've a separate+toogle with the beta2, and works fine, only on the homekit, if I press on the accessory it goes down, if I press again stop it, and when I press another it goes down again, doesn't go up, only if I enter on it and select a % or 100%.

[2020-09-28 07:00] macguru341 opened #153 "Returning to a stock - test and check?"
Hello
Used the mos way with terminal in windows to flash the original stock firmware and I want to ask if there's a way to check if it's working before I'm selling my Shelly. I can't reconnect it into the wall.

Thanks

[2020-09-28 07:23] Pixel-Chris commented on #5
What happens when you press the HomeKit button, when it is already completely down?

[2020-09-28 07:26] Perrako commented on #5
ok, it goes up, and when completely open, goes down. if this is the procedure, it's ok. thanks

[2020-09-28 07:29] Pixel-Chris commented on #5
Sorry....
I don’t know the normal behaviour of roller shutters in HomeKit

I only wanted to know, if this works or if it does nothing.

[2020-09-28 07:33] Perrako commented on #5
I'm asking because on the alpha when press once goes down and if press again goes up. but the actual method it's good for me

[2020-09-28 07:53] pivale commented on #5
Hey, not sure if this a problem on my setup/wifi or not, so I'm reporting it:
- My shelly2.5 has been rebooting from time to time for no apparent reason. It's currently up for 3 minutes.
- Sometimes I press close on Home, I hear the relay doing something, but nothing happens (the spinning gear appears as if closing) and if I press again it starts opening.
- Physical switches working flawlessly

[2020-09-28 08:09] rojer commented on #5
@Perrako yeah, it "prefers closing": on the way up, it will actually reverse on repeated press and go down, but it it won't reverse on the way down. strange. we (device) don't get any control over that, unfortunately.

@pivale does reboot happens in response to some action or just on its own and you only notice that uptime has reset?

[2020-09-28 08:11] rojer commented on #153
with serial connection you should be able to manage it on wifi, one thing that will not work is relays, so you won't hear it clicking when controlling from the  web interface for example.
i'd say, if it's available on wifi and you can access the stock web UI, you're good.

[2020-09-28 08:11] #153 closed

[2020-09-28 08:24] pivale commented on #5
@rojer not sure if it's related with the second point. when I'm able to replicate it, I'll let you know.

[2020-09-28 12:03] macguru341 commented on #153
After I've used the mos way to install the stock firmware and when trying to check my WiFi to see that I was succeed and didn't find nothing I see in the wiki that I must use the web interface as this firmware does not support pulling from remote URL like I did in mos.
How do I access the web i interface? What is the script I see and how do I use it?
Thanks for the support

[2020-09-28 12:07] macguru341 commented on #153
Also trying to use mos with link to the downloaded file and I get "all done" but I still can't see the Shelly 1 in my iPhone WiFi

[2020-09-28 12:10] macguru341 commented on #153
![image](https://user-images.githubusercontent.com/22807164/94430492-ae8e0100-019c-11eb-952c-6480c39f7ebf.png)

![image](https://user-images.githubusercontent.com/22807164/94430511-b5b50f00-019c-11eb-9b53-fb9e0ddf8769.jpeg)

Flashing blue

[2020-09-28 12:10] andyblac commented on #153
script is only for macOS or Linux, Windows is not supported.

[2020-09-28 12:14] andyblac commented on #153
if the device has been refreshed with stock, it should keep all settings from HomeKit firmware (wifi etc), do you see it connected to your Router. does it have an ip ?

if not try connecting to it as an Access Point from your computer. you should see 'shelly-xxxxx' as a AP.

[2020-09-28 12:17] macguru341 commented on #153
1. I also have a Mac, should I use the script ? Is it better to use this method and not the mos way?
2. How do I trigger the access point ? Because I don't see the Shelly WiFi address in my iPhone WiFi list.

Thanks for the support

[2020-09-28 12:19] pivale commented on #5
I can confirm the rebooting and some strange thing happening on Home.
Sometimes, when I press the tile, I hear the relay but nothing happens. On Home, the tile changes to open/close/open/close with the spinning gear showing without any action from the shutter. Some time later, the shutter starts moving and all seems to be working again.
On webui I can see that the shelly has rebooted (that explain

[2020-09-28 12:21] andyblac commented on #153
script only works if it is attached to your network, but you could try it

https://github.com/mongoose-os-apps/shelly-homekit/blob/master/tools/flash_shelly.sh

in terminal try `./flash_script.sh -la` this should list all found shelly devices on the network, and report what firmware is loaded. to revert to stock to `./flash_script -m revert hostname`. hostname is the one listed shown in the list.

[2020-09-28 16:36] Pixel-Chris commented on #142
The sensor contact should be closed, when the garagedoor is closed / when the sensor is near the magnet.

[2020-09-28 16:38] Pixel-Chris commented on #142
NC = normally close

[2020-09-28 17:19] juancitomadrid commented on #142
Can tests be done with current firmware for Shelly 1 ? (I have a garage door with 1 sensor, open/close).
What setup should I use?

[2020-09-28 17:58] andyblac commented on #132
@rojer been thinking about all these betas, would be possible when you release beta's to release it on your server in a beta folder, then I could add a -b flag to script for 'betas' it could search if there is a beta to test?

ie
`http://rojer.me/files/shelly/beta/$lfw/shelly-homekit-$model.zip`

[2020-09-28 18:04] andyblac commented on #132
and maybe a txt file in the root beta folder with release tag info.

ie
`http://rojer.me/files/shelly/beta/release.info`

[2020-09-28 19:18] Pixel-Chris commented on #142
Yes
Testing is possible with the stock firmware.
The closed door is visualised with a blue line in the power button:
![E34AA77C-3547-4C49-8219-D1331A0DF01D](https://user-images.githubusercontent.com/63644133/94475898-0abe4880-01d0-11eb-8bb2-1737d35936e1.jpeg)

[2020-09-28 19:39] Pixel-Chris commented on #142
My garagedoor opener can power the Shelly with 24v
And the closed sensor is included....

https://github.com/mongoose-os-apps/shelly-homekit/issues/142#issuecomment-697941414

[2020-09-28 20:35] Stundenplan7b commented on #142
Hello Ludelag, if i do this what happens in the HomeKit App? Will i see a Counter or a garagedoor? If i see the normal Counter how does it work? Is the Counter active while Door is open and inactive while the door is closed?

[2020-09-28 20:39] rojer commented on #48
added update check and automated install, and a button to revert to stock firmware.

[2020-09-28 20:39] #48 closed

[2020-09-28 20:59] rojer commented on #149
@andyblac FYI, in https://github.com/mongoose-os-apps/shelly-homekit/commit/ccc07452f04dec9e1fab1471dde6780faf2c08f5 i added `stock_model` to Shelly.GetInfo (now that web ui also needs it), so you can use that directly when constructing stock firmware URLs.

[2020-09-28 21:14] edgarclerigo commented on #27
Hi guys,

Whats the current status of this ? Anyone with this firmware is not able to see any data about the power consumption, even on the Eve App ?

[2020-09-28 21:23] rojer commented on #27
current state: not supported, no ETA

[2020-09-28 22:28] rojer commented on #132
yeah, i've been thinking about it myself.
i've been putting some groundwork for it, maybe will get to it for the next release cycle (i.e. after 2.2)

[2020-09-28 22:33] rojer commented on #5
beta3: http://rojer.me/files/shelly/2.2.0-beta3/

 * Added debug log file and a way to fetch it from UI
 * Integrated automated version check and update from UI

@pivale (or anyone else who experiences strange behavior) please install this firmware and as soon as strange things happen, go to `/debug/log` location of the device (i.e. http://a.b.c.d/debug/log) and capture it. Post it as a Gist or, i

[2020-09-28 22:49] rojer commented on #150
@freddair please install [2.2.0-beta3](http://rojer.me/files/shelly/2.2.0-beta3/) and capture logs after such misfires (add `/debug/log` to the address in the web UI).

[2020-09-29 07:31] pivale commented on #5
Hey @rojer,

I managed to replicate right after install. Here is the log.
[log.log](https://github.com/mongoose-os-apps/shelly-homekit/files/5297204/log.log)

[2020-09-29 07:40] Pixel-Chris commented on #142
Actually it works only with the stock firmware, no HomeKit!

[2020-09-29 08:03] rojer commented on #5
yes, reboot occurs at this point:

118807986 shelly_hap_window_c:308 WC 1: Target pos 72.11 -> 0.00 (HAP)
118820130 shelly_hap_window_c:288 WC 1: State transition: idle -> move (0 -> 20)
450895 mgos_rpc_channel_mq:203 0x3fff3884 shellyswitch25-D8F15B132789/rpc
462743 mgos_rpc_channel_ua:313 0x3fff42fc UART0

can you capture a couple more?
the most common cause of crash is some sort of pointer issu

[2020-09-29 08:07] pivale commented on #5
Not sure if it helps, but it seems to happen only when clicking the tile on Home.
If I use the slider to choose percentage, I haven't been able to replicate.
Using physical switches has also been working correctly.

ofc, the last 2 might be only by bad luck that I can't replicate the bug...

[2020-09-29 08:15] rojer commented on #5
i've been tapping like crazy here - still nothing :)

[2020-09-29 08:20] pivale commented on #5
Managed to do it again...

The weird thing is that I can hear the relay on the shelly, but nothing happens!
Maybe it's a hardware problem?

Also, wifi connection is not great by the window, but if I'm earing the relay, it's because it got there.

[log2.log](https://github.com/mongoose-os-apps/shelly-homekit/files/5297481/log2.log)

[2020-09-29 08:36] rojer commented on #5
there's no sign of reboot in this one. in fact, there was no movement for about 105 seconds when you saved the log.

[2020-09-29 08:40] pivale commented on #5
How long is the log? Maybe I was slow to come to the computer and fetch the log :P

[2020-09-29 08:45] andyblac opened #154 "HomeKit section in webUI"
in beta3 this section no longer shows ***** in the homekit code if one is set, and you can enter a new one and save button can be clicked.

IMO I think this text field should be showing **** and unable to change text, and Save button should be disabled, until reset button has been clicked.

[2020-09-29 09:56] maf-o opened #155 "Turn AP off and after holding switch for 10sec turn AP on"
Hello,
I use the Shelly 1 in my stairwell to trun off the lights after 50sec when button was pushed.
The main power distributor, where shelly hangs, is out of range of Wifi so get no connection.
Would be nice if i can turn on AP after holding switch/button for 10 sec, than i can adjust behavior and after 5min automatically turn AP off until i hold for next 10sec.

[2020-09-29 12:30] Ludelag opened #156 "Input 1"
I just update to version 2.1.8 and I see in the Home app input 1 not configured
Someone could please tell me how to configure input 1? and what and how to use it.

Thanks

[2020-09-29 12:35] andyblac commented on #156
long press on the tile you should something like

![IMG_0296](https://user-images.githubusercontent.com/77936/94558976-79df7f80-0258-11eb-9a08-fb3be13f185a.jpeg)

look at actions, tap on the action you want to add, and set as a normal homekit action.

[2020-09-29 12:46] andyblac commented on #155
if you can't connect it to a WiFi AP as signal is too weak, why not just leave the device in AP mode all the time, ie don't set wifi settings, then you can just walk up to it with your phone connect to it's own AP and configure via 192.168.33.1 ?

[2020-09-29 13:03] maf-o commented on #155
Because of environmental polution (energy and frequenzes)
I dont need an accespoint in the basement.
I dont need an accespoint where someone tries to hack in and switching my lights.

[2020-09-29 13:04] Ludelag commented on #156
Thank you for the info, So is where I can for example wire the door magnetic sensor?, but it wont appear in the homekit as a door sensor, isn´t it?

[2020-09-29 13:08] andyblac commented on #155
I'll leave this for rojer to comment on, but imo the range of AP is very limited, and regardless if it is AP or wifi mode it still emitting as you say pollution, so sorry but that makes no sense.

[2020-09-29 13:12] maf-o commented on #155
In Arduino IDE i can switch of the Wifi of ESP. Then there is no AP or Wifi transmission.

[2020-09-29 13:35] andyblac commented on #156
thats not support yet, iirc.

[2020-09-29 13:38] Ludelag commented on #156
What is not supported? the door sensor wiring or how will it be showed in the apple homekit?

[2020-09-29 13:42] andyblac commented on #156
Both iirc

[2020-09-29 13:43] rojer commented on #156
the only way to represent an independent input in homekit that is currently supported is a stateless switch.

other possibilities are:
 - contact sensor
 - motion sensor
 - occupancy sensor

this work will happen some time in the future, https://github.com/mongoose-os-apps/shelly-homekit/issues/147 will track that

[2020-09-29 13:43] #156 closed

[2020-09-29 13:43] rojer commented on #147
additional relevant HAP services for an input:

* contact sensor
* motion sensor
* occupancy sensor

[2020-09-29 13:52] Ludelag commented on #156
If I got it, now is possible to represent it as:

contact sensor
motion sensor
occupancy sensor

[2020-09-29 13:57] rojer commented on #156
not yet, but it might be

[2020-09-29 13:59] Ludelag commented on #156
So, it means right now Input 1 is useless, I mean there is any action to be applied?

[2020-09-29 14:01] andyblac commented on #156
yes, any homekit device to control, that is not the shelly, ie group of lights, power socket, etc etc, ie you use the physical switch to control something else.

[2020-09-29 14:09] andyblac commented on #155
so you basically want to disable the Wif totally. tbh I don't see this that something most people would use. but again I'll revert to @rojer on this matter.

[2020-09-29 14:11] andyblac commented on #147
https://github.com/mongoose-os-apps/shelly-homekit/issues/124

[2020-09-29 14:11] rojer commented on #155
i agree, this seems too niche of an application

[2020-09-29 14:11] #155 closed

[2020-09-29 14:12] andyblac commented on #124
I'll close this as new ticket has been issued to track this.

[2020-09-29 14:12] rojer commented on #124
no, not quite. this is about support for hardware shelly door/window sensors.

[2020-09-29 14:14] andyblac commented on #124
ok, my apologises.

[2020-09-29 14:15] rojer commented on #124
https://shelly.cloud/products/shelly-door-window-2-smart-home-automation-sensor/

[2020-09-29 14:15] andyblac commented on #65
@rojer did you add a automatic reboot after setting Hostname ?

[2020-09-29 14:16] maf-o commented on #155
can you point me where i can do the magic myself?

[2020-09-29 14:17] andyblac commented on #124
add `SHELLY MOTION` to the list once it's released then.

[2020-09-29 14:18] andyblac commented on #155
https://github.com/mongoose-os-apps/shelly-homekit/tree/master/src

[2020-09-29 14:22] rojer commented on #65
not yet, but i'll get to it before 2.2

[2020-09-29 14:23] andyblac commented on #65
ok I'll leave this open for time being then.

[2020-09-29 14:24] andyblac commented on #154
![](https://github.com/mongoose-os-apps/shelly-homekit/wiki/resources/HomeKit-Settings.jpg)

[2020-09-29 17:44] heiligsblech commented on #5
Hello Rojer, I'm following this thread for a while and really appreciate your work.

I do have following setup:
Moving up while the up button is constantly engaged or vis versa.

![Screenshot 2020-09-29 185932](https://user-images.githubusercontent.com/72095499/94589745-f6d51e00-0285-11eb-9899-496161f3c48e.png)

It kind of works with homekit, but if I do use the up/down button it immediately jumps

[2020-09-29 18:06] rojer commented on #5
@heiligsblech ok, so i see that the curtain is initially fully open, then there is some activity on input 1 (open), which doesn't do anything as we are already fully open.
we get target position from home app to move to 83, shortly updated to 94 and then 93. we reach the position of 93.95 (which is within 1% of the target) and stop.
then we get input event on input 2 (close) and start moving from

[2020-09-29 18:29] heiligsblech commented on #5
Hello Rojer,
I would guess out of 10 times it does work ones.
Therefore I assume we are not too far off. Makes quiet sense after your explanation.
In below debug file it did work ones. Maybe you can see how long it took for that event.
Thx for your support

7441976071 HAPPlatformTCPStrea:120 0x3fff6b0c 192.168.0.22:49655 Incoming HAP connection, ns 0/0/9
7441990210 HAPPlatformTCPStrea:274 0x3fff6b

[2020-09-29 18:38] schemhad commented on #154
I cloud disable the Save button and textfield when "Paired" is "yes"...

If it isn't a bug, I could set the textfield to ***-**-*** too.

[2020-09-29 18:39] rojer commented on #5
i think a better approach will be to introduce an intermediate state between kMove and kMoving where we wait for the motor to ramp up.

[2020-09-29 18:40] andyblac commented on #154
I'll leave this to @rojer to decide.

[2020-09-29 18:42] rojer commented on #154
@schemhad i'll fix this in the next 2.2 beta, don't worry about it.
if you are looking for a UI challenge, https://github.com/mongoose-os-apps/shelly-homekit/issues/50 is the one to tackle. will make UI more dynamic and improve UX for sure.

[2020-09-29 18:43] rojer commented on #50
challenges:
 * ensure connection is re-established as necessary (e.g. when device reboots)
 * when applying new state updates, do not stomp over pending changes to fields made by the user.

[2020-09-29 18:45] rojer commented on #50
https://github.com/mongoose-os-libs/wifi-setup-web-ui can be used for inspiration

[2020-09-29 19:27] andyblac commented on #149
added a wiki for flash script here https://github.com/mongoose-os-apps/shelly-homekit/wiki/Flashing#Flashing-script

[2020-09-29 19:31] freddair commented on #150
48118481865 HAPPlatformLog.c:65     Characteristic [0000000000000001 shelly1-8CAAB5061CC9] [0000000000000102 on] Calling read handler.
48118500912 HAPPlatformLog.c:65     Characteristic [0000000000000001 shelly1-8CAAB5061CC9] [0000000000000102 on] Calling read handler.
48119365402 shelly_input.cpp:72     Input 1: long (state 0)
48120814812 shelly_main.cpp:464     Uptime: 48120.81, conns 0/7/9, RAM

[2020-09-29 20:20] Ludelag commented on #150
what are the changes in beta 3 2.2.0?

[2020-09-29 20:34] rojer commented on #150
@freddair ok, now please describe what you were doing, what was happening and what you expected to happen.
one weird thing i see is that events always seem to start with 1 -> 0 transition end with 0 -> 1.
do you have a switch that is normally closed and opens when pressed?

@Ludelag major new feature is roller shutter mode (#5), but it's also an almost complete rewrite of all other functionality.

[2020-09-30 02:31] rojer commented on #5
beta4: https://rojer.me/files/shelly/2.2.0-beta4/ (or just check for update in the web UI if using beta3)

 * Added motor ramp-up state: allow up to 5 seconds for motor to get up to 75% of expected power (measured during calibration). @heiligsblech
 * Added `/debug/core` HTTP handler - it will serve core dump from last crash. @pivale please send contents along with the log next time. it's about 12

[2020-09-30 06:22] heiligsblech commented on #5
works perfectly with beta 4. Thanks a lot.

[2020-09-30 06:34] juancitomadrid commented on #50
I can work in UI.
Let me know needs.

[2020-09-30 09:07] juancitomadrid commented on #149
I am trying to run the script, and [this](https://www.dropbox.com/s/xc5ujcsg5lrrnzk/Captura%20de%20pantalla%202020-09-30%20a%20las%2011.07.10.png?dl=0) is what I get.
I am doing something wrong?

[2020-09-30 09:37] juancitomadrid commented on #149
Forget about this.
Working!

[2020-09-30 09:54] andyblac commented on #154
fixed in beta4

[2020-09-30 09:54] #154 closed

[2020-09-30 09:55] andyblac commented on #114
@rojer while your doing update to webUI, I this some that could be added ?

[2020-09-30 10:01] andyblac commented on #149
for others, yeah, it just installing the tools required for script to work.

[2020-09-30 10:03] pivale commented on #5
I couldn't reproduce the situation.
I suspect it's related to test/use right after reboot (maybe some background things still happening and memory is low?).

I'll install beta4 and report asap.

[2020-09-30 11:11] pivale commented on #5
@rojer any other reason for the uptime to change?
I'm pretty sure the counter came back to 0, but I can't see any reboot in the logs and there was no core dump generated.

I'll keep trying to replicate the situation and send you the logs.

[2020-09-30 11:19] rojer commented on #5
no, uptime reset is a pretty solid indication that device has restarted.
log size is limited to 16K, maybe it already rotated?
the fact that no core was generated suggests that it wasn't a crash.
it could be a hardware issue or maybe wiring - for example, we could have voltage dips or some sort of transitional noise that makes it through the internal voltage regulator and causes device to reset.

[2020-09-30 14:33] yehuda2525 commented on #5
One problem I found,
When using fiscal switch can't stop the operation...
What I mean is in the switch there is an up zero and down when I press up and move to zero for stopping the roller it doesn't stop...

[2020-09-30 14:43] rojer commented on #5
@yehuda2525  sounds like you want to stop when you release the switch. this is not the default behavior, you need to change input mode to "separate - toggle" in the ui.

[2020-09-30 16:33] fahadalzoabi commented on #5
This could be silly but I'm a beginner with Shelly and homekit, to install this firmware do I go to the shelly ip e.g. (http://xx.xxx.x.xxx/ota?url=https://rojer.me/files/shelly/shelly-homekit-Shelly25.zip) or it's a different case here ? If so can someone direct me,😅

[2020-09-30 16:36] rojer commented on #5
@fahadalzoabi if you want to try beta4, use this:
[code]
we are getting closer to release, it will be pushed to the main location soon.

[2020-09-30 17:38] rojer commented on #65
ok, i fixes the issue on the 2.2 branch, will be in the next beta

[2020-09-30 17:38] #65 closed

[2020-09-30 17:42] andyblac commented on #81
is this still an issue ?

[2020-09-30 18:30] Cibernello commented on #81
No, I was finally able to flash the firmware with one of the latest updates

Cheers

Marco

Inviato dal mio incredibile iPhone 11 Pro

[2020-09-30 18:31] andyblac commented on #81
thanks for letting me know, I'll close ticket.

[2020-09-30 18:31] #81 closed

[2020-09-30 18:35] andyblac commented on #142
@rojer should I close this ticket https://github.com/mongoose-os-apps/shelly-homekit/issues/105 in favour of this one ?

[2020-09-30 18:48] Ludelag commented on #142
When I just updated to the last version of the Shelly 1 immediately came to my mind this blue bottom that works when the switch Shelly is detached, with the new version you actually got more o less the same when detached you get the input 1 which could be use to connect a door sensor abs detect if the door is open or close. Even can be coded to appear in HomeKit as garage door showing the open or

[2020-09-30 20:38] freddair commented on #150
one more try. I find it difficult to read/understand the log. What I did:
- load log web page
- tap switch
- reload log web page
- tap switch
and so on.

The Shelly switches not every time when I tap the wall switch. I don't know if it is normally closed and opens when pressed. But I do know that it should work as expected anyway: The light should switch on/off every time when the switch is presse

[2020-09-30 20:56] pivale commented on #5
Managed to do it again
[log4.log](https://github.com/mongoose-os-apps/shelly-homekit/files/5308177/log4.log)

Still no core dump.
I'll check my wiring as soon as I can to confirm all well and tight...

[2020-09-30 21:00] rojer commented on #5
@pivale and again we see - motor starting to move and device restarting abruptly:
[code]

no coredump means that it didn't crash, or at least not the usual way it happens when there's a bug.
so, i'm leaning towards flaky hardware or wiring. high current consumption associated with motor starting to move causes some sort of disturbance that resets the device.

[2020-09-30 21:04] pivale commented on #5
I would say that you should ignore my situation for now :)

I will:
- order some other shelly 2.5 and replace it to test
- test this one in another window/motor
- test this one with stock firmware

I won't be able to do it anytime soon for personal reasons, but I'll send you some feedback asap.

[2020-09-30 21:42] rojer commented on #5
@pivale great, thanks!

ok, everybody, beta5 time (use the UI button to update or get the files [here](https://rojer.me/files/shelly/2.2.0-beta5/)).
this will be the last one before release, unless something bad crops up. but if it does - please speak up!

changes:
 * Add UI controls to open and close the window
 * Disable debug log by default, add a toggle to enable
 * Make UI spinners less jitte

[2020-10-01 08:29] andyblac opened #161 "webUI beta5 issues."
1st see below drop boxes for Shelly1 vs Shelly2.5 inconsistencies.

Shelly1
![Screenshot 2020-10-01 at 09 27 53](https://user-images.githubusercontent.com/77936/94786276-a7e3d180-03c8-11eb-9964-78aef23ca8ce.jpg)

Shelly2.5
![Screenshot 2020-10-01 at 09 27 41](https://user-images.githubusercontent.com/77936/94786247-9f8b9680-03c8-11eb-8816-10da1c9d9c59.jpg)

[2020-10-01 08:32] andyblac commented on #161
also Model is missing on both Shelly1 / 2.5
![Screenshot 2020-10-01 at 09 31 38](https://user-images.githubusercontent.com/77936/94786574-0d37c280-03c9-11eb-93af-8cc861021d21.jpg)

[2020-10-01 08:35] andyblac commented on #161
hmm, OK ignore issue 1 , seems was a browser issue, looks ok now after a reboot.

[2020-10-01 08:38] andyblac commented on #65
confirmed working thanks.

[2020-10-01 08:55] rojer commented on #161
i think (1) is due to stale style.css, eventually it gets reloaded.

re: model - oops, yeah, added a field and forgot to populate it.

[2020-10-01 11:05] Pixel-Chris commented on #142
With the stock firmware the sensor is connected to the detached switch.
And the input and output is wired the the momentary switch input of the garage door opener.
So the switch must be in detached mode and the auto-off needs to be set (for example „2 seconds“).

So you can control the garagedoor over the Shelly App or an url
And you can see the state of the door in the Shelly app

Now the HAP Typ

[2020-10-01 11:20] Pixel-Chris commented on #142
@rojer
Sorry I have to ask again ;-) (GPIOs)

When you add an option to the Shelly 1 webui... for example:
„Has the opener an integrated sensor?“
„Is the Shelly powered with 24V from the garage door opener“
or can the Shelly recognise on its own, how it is powered? 12v/24v/230v ???

When that would be possible... and the Shelly 1 is powered over 12v or 24v - and only then - the option to use the g

[2020-10-01 11:32] maf-o opened #165 "Bad default state and button type combination"
Hello,
I want EDGE switch with auto off.
Everytime the Switch is hit after 50s the lights should go out.
![index](https://user-images.githubusercontent.com/60689016/94803942-53514e00-03ea-11eb-8806-ffba2eb45c1c.jpg)
any suggestion?

kind regards

[2020-10-01 13:04] pivale commented on #5
@rojer since we have a limited amount of space for the log, is it possible to not disply these details?
Or maybe have incremental log priorities/configurations (I know it's not something user friendly)

Also, instead of a log rotation, deleting the first row and adding a new one could make sure we wouldn't loose critical information on the log file because it hit the max size.

(these are suggesti

[2020-10-01 13:31] andyblac commented on #165
sorry, but that not HomeKit firmware, thats stock firmware. if you want to use stick firmware you are better off asking the question over on the Shelly Facebook page here https://www.facebook.com/groups/ShellyIoTCommunitySupport/

[2020-10-01 14:39] rojer commented on #5
yes, verbosity of messages needs tweaking. we already have verbosity levels in mos, this is INFO.

line-wise rotation requires too much I/O, not really feasible.
we can have multiple log files, though there isn't a way to serve them right now.
i needed something quick, this will definitely be polished later.

[2020-10-01 14:54] epiphany11 commented on #5
Hi,
i have three shelly 2.5 with your Software and a Gira switch with seperated keys for up and down.. All working perfect, thanks for this.
Now i want to install a 4. roller shutter with the same installation. The problem is, that the calibration is not working. it began calibration and the roller shutter is getting open or close (depending on it's starting position). But the calibration didn't e

[2020-10-01 17:00] rojer commented on #5
ironically, we don't log at high enough verbosity during calibration.

i pushed beta6, @epiphany11 please update and repeat.

 * Populate the model field in the UI
 * Improve logging during calibration

[2020-10-01 17:23] rojer commented on #161
fixed in beta6

[2020-10-01 17:23] #161 closed

[2020-10-01 17:24] epiphany11 commented on #5
@rojer thank you for the help and the new beta. Open/Close Buttons without function. Calibrate only start, when roller shutter is closed --> shutter is moving in open position --> shutter stops but calibrationg is working on. Manual switch working without problems.

Log:

27696599895 shelly_main.cpp:463     Uptime: 27696.53, conns 0/0/9, RAM: 41216, 25212 free
27697966930 mgos_http_server.c:187  0

[2020-10-01 17:25] epiphany11 commented on #5
Calibrating only stops when I reboot the shelly over the reboot button.

[2020-10-01 17:28] rojer commented on #5
they only work when calibrated. i guess we shouldn't even show them until calibrated.

manual switches work in pre-calibration mode, that's expected.

did you update to beta6? i don't see records in the log that i expected. and uptime is way too high, device hasn't rebooted in a while.

[2020-10-01 17:33] andyblac commented on #161
release notes for beta6 are linked to https://github.com/mongoose-os-apps/shelly-homekit/issues/5#issuecomment-701662473.  ie about beta5 ??

[2020-10-01 17:34] epiphany11 commented on #5
Updated directly to beta6.
Open/Close buttons showing after calibrating is a good idea.
Manual switches work, i can open and close the shutter without problems (swap inputs is on)
New log, i rebooted again:

27696599895 shelly_main.cpp:463     Uptime: 27696.53, conns 0/0/9, RAM: 41216, 25212 free
27697966930 mgos_http_server.c:187  0x3fff5914 GET /
27697990090 mg_http.c:368           '/index.html.