[2021-01-24 15:44] FXGPV commented on #430
perfect... thank you very much

[2021-01-24 15:46] andyblac commented on #430
can i close this issue ?

[2021-01-24 15:49] andyblac commented on #431
duplicate issue, see here https://github.com/mongoose-os-apps/shelly-homekit/issues/204

[2021-01-24 15:49] #431 closed

[2021-01-24 15:50] andyblac commented on #395
any update.

[2021-01-24 15:51] andyblac commented on #382
how many ios devices do you have in the home ?

[2021-01-24 16:24] simonfield76 commented on #422
Andy sorry for the question but could you give us more details about the old connections? After how long does the device will become stale?

During summer I usually return home every 7/9 days i don’t want arriving home and nothing works with my phone because I’ve been out.

In next release could you put an option to automatically cancel old connection if not used?

Inviato da iPhone

Il giorno 24

[2021-01-24 16:27] rojer commented on #422
@simonfield76 Andy was not quite correct in his description of the behavior.
in fact, we do not actively drop connections if there is no slot shortage, connections will stay open indefinitely.
but if we are at limit (used to be 9, now 12) and a new connection comes in, we will find the connection that has been idle the most time (time since last request) and evict it to make room for the new one.

[2021-01-24 16:29] rojer commented on #365
this has been implemented in https://github.com/mongoose-os-apps/shelly-homekit/commit/f2ead0dddcbfe7e2efedaf3e4b2666a543b69389 and pushed out in 2.7.2

[2021-01-24 16:29] #365 closed

[2021-01-24 16:51] timoschilling commented on #422
And dropping the connection even doesn’t mean unpairing. It only means that your 13. device isn’t connected and only controls the device indirectly through an other iOS device

[2021-01-24 16:52] rojer commented on #422
correct. this is about dropping a TCP connection, not pairing associaction.

[2021-01-24 17:18] andyblac commented on #422
Sorry for the confusion.

[2021-01-24 17:38] simonfield76 commented on #422
Thank you very much for the clarification!!!

Your work is very much appreciated!!!

Inviato da iPhone

Il giorno 24 gen 2021, alle ore 18:18, Andy Blackburn <notifications@github.com> ha scritto:

﻿

Sorry for the confusion.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/mongoose-os-apps/shelly-homekit/issues/422#issuecomme

[2021-01-24 19:46] Marcusg562 commented on #204
Thanks @andyblac haven‘t seen it... but yeah, I have the same issue.

[2021-01-25 08:54] ursusHU commented on #382
2 Phones only

[2021-01-25 09:29] simonfield76 commented on #382
In my experience it looks like a wifi issue.

Inviato da iPhone

Il giorno 25 gen 2021, alle ore 09:54, ursusHU <notifications@github.com> ha scritto:

﻿

2 Phones only

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/mongoose-os-apps/shelly-homekit/issues/382#issuecomment-766658284>, or unsubscribe<https://gith

[2021-01-25 13:14] ari-ido-999 opened #432 "homekit location based automation do not work"
Hello,

I tried a few scenarios where I leave/arrive home and none of them seem to to turn on/off the shelly 1 switches I have.  I have a homepod mini and all the locations settings seem correct. Are these supposed to work?

[2021-01-25 13:15] andyblac commented on #432
works here np, anyway this is HomeKit issue not of thise Firmware.

[2021-01-25 13:17] ari-ido-999 commented on #432
Thanks, any idea to figure out where is the problem?

[2021-01-25 13:19] andyblac commented on #432
do you only have a single hub ?

[2021-01-25 13:21] andyblac commented on #432
do you location enabled in HomeKit in yours system settings ? (settings icon in main iOS)

[2021-01-25 13:26] ari-ido-999 commented on #432
yes of course , all the settings that appear here are configured correctly https://techtechandmoretech.com/guides/how-to-fix-homekit-location-automation/
    On Monday, January 25, 2021, 03:21:40 PM GMT+2, Andy Blackburn <notifications@github.com> wrote:

do you location enabled in HomeKit in your system settings ? (settings icon in main iOS)

—
You are receiving this because you authored the thre

[2021-01-25 13:28] andyblac commented on #432
no AppleTV's if you do, disable HomeKit on them, they can cause issue with automations and HomeKit.

[2021-01-25 13:36] #430 closed

[2021-01-25 13:37] ari-ido-999 commented on #432
I use homepod mini 
    On Monday, January 25, 2021, 03:28:32 PM GMT+2, Andy Blackburn <notifications@github.com> wrote:

no AppleTV's if you do, disable HomeKit on them, they can cause issue with automations and HomeKit.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-01-25 13:38] andyblac commented on #432
it should work then, can you post some screenshots of your workflow ?,

[2021-01-25 13:45] ari-ido-999 commented on #432
This automation for example is supposed to turn off the shelly 1 but it doesn't. Is it supposed to be immediate or can take time. I waited for about 10 minutes 100 meters from my home. 

Sent from Yahoo Mail for iPhone

On Monday, January 25, 2021, 3:39 PM, Andy Blackburn <notifications@github.com> wrote:

it should work then, can you post some screenshots of your workflow ?,

—
You are receiving

[2021-01-25 13:51] andyblac commented on #43
pull request here https://github.com/mongoose-os-apps/shelly-homekit/pull/433

[2021-01-25 14:05] andyblac commented on #385
@agarwalsndp can you report back ?

[2021-01-25 14:06] andyblac commented on #374
@singas77 any updates ?

[2021-01-25 14:07] andyblac commented on #372
still need assistance ? or this issue be closed ?

[2021-01-25 14:08] andyblac commented on #377
any updates?

[2021-01-25 14:10] singas77 commented on #374
Sorry I work away from home I will grab a log and upload in a few days
I reverted firmware back from latest and had no issues thou

[2021-01-25 14:15] andyblac commented on #327
is this still an issue in 2.7.3 ?

[2021-01-25 14:18] andyblac commented on #254
still an issue?

[2021-01-25 14:21] andyblac commented on #214
can this be closed ??

[2021-01-25 14:26] andyblac opened #434 "Issues and Labels - PLEASE READ"
Guy's when creating an issue, please tag the device with the correct Device Label, and if any other labels seem approiate please tagged them to it.

[2021-01-25 14:28] andyblac commented on #434
you can also now click on a label to see ALL issues in that label, please check no issue has been submitted before creating a new issue
thanks

[2021-01-25 14:31] andyblac commented on #421
i'll close this, as it has been answered by @timoschilling thx

[2021-01-25 14:31] #421 closed

[2021-01-25 14:32] pivale commented on #254
The original problem was solved.
Not sure if anyone else still has problems.

[2021-01-25 14:34] andyblac commented on #254
ok, I'll close as it has not been updated in a month, and as the OP is happy issue is sorted.

[2021-01-25 14:34] #254 closed

[2021-01-25 14:39] andyblac commented on #359
was names ok updating to 2.7.3 ? or is this still an issue ?

[2021-01-25 14:43] #354 closed

[2021-01-25 14:45] andyblac commented on #397
this still an issue ?, or can it be closed ?

[2021-01-25 14:46] andyblac commented on #257
@rojer any updates ?

[2021-01-25 14:46] andyblac commented on #257
@Tomer51m can you please report if still an issue in 2.7.3

[2021-01-25 14:48] jsiegenthaler commented on #359
Hi

Upgrading 2.7.1 to 2.7.3 last night occurred without any issues. You can
close this ticket.

On Mon, 25 Jan 2021 at 15:40, Andy Blackburn <notifications@github.com>
wrote:

[2021-01-25 14:49] andyblac commented on #352
closing as not really releated to this firmware.

[2021-01-25 14:49] #352 closed

[2021-01-25 14:49] andyblac commented on #359
thx

[2021-01-25 14:49] #359 closed

[2021-01-25 14:51] andyblac commented on #368
is this still an issue, or can it be closed ?

[2021-01-25 14:55] andyblac commented on #274
@pivale can you offer any assistance ?

[2021-01-25 14:57] andyblac commented on #257
my thoughts are that automation issues are normally down to HomeKit hub issues.

[2021-01-25 14:57] pivale commented on #274
@torto-85 , have you tried these steps?
I had a similar problem and after revert to stock and reinstall homekit I got it to back to work

[2021-01-25 15:09] Steve1468 commented on #397
Hi Andy, I have changed the Shelly and solved it with that.
Today I saw, when I unplug the reseted Shelly and put it elsewhere the. I can reuse it.
Thanks a lot for your help.
And yes you can close it.
Stay safe and thanks again.

Stefan
Cell: +39 3406492025
email: stefanlanger@mac.com
WhatsApp: +39 3406492025

http://www.thelangerbooks.com
Author of:

   and

[2021-01-25 15:10] #397 closed

[2021-01-25 15:10] andyblac commented on #397
thanks for the update.

[2021-01-25 16:28] andyblac opened #435 "webUI: relay button control."
@ZeevoX  suggestion for webUI for relays On / Off indicator, could you remove the on / off text and align the button up, and turn button GREEN button with ON text when ON, and BLUE button with OFF text, instead on ‘Turn On’ / ‘Turn Off’ ??, I think it would be more intuitive that way

This bit
https://files.gitter.im/5f786ddbd73408ce4ff09679/Fsro/Screenshot-2021-01-20-at-20.35.45.jpg

Or even BLUE

[2021-01-25 16:35] andyblac commented on #177
@ZeevoX any reason you closed the pull request ?

[2021-01-25 16:53] Whiterabbit64 commented on #432
I think 100m is not enough. Location works with a radius of 300 or 400m. You can’t set less than that.

[2021-01-25 16:57] andyblac commented on #432
yeah IIRC the HomeKit specs are a Minimum of 200m is required, but the more distance assures better activation of automation iirc @Whiterabbit64 is correct 300m+ is recomended.

[2021-01-25 17:11] leilok commented on #368
Same problem... not solved yet.

[2021-01-25 17:44] ZeevoX commented on #177
@andyblac because HTML `<table>` should not be used purely as a means to layout document content, and instead for presenting tabular data. I am going to re-do the layout using `<div>`s and CSS.

[2021-01-25 17:45] simonfield76 commented on #432
I have disabled the function away/back to home to my gate for the same reason. Whenever I go out with my dog for his walk it take action too far on my way back and returning from job the distance is too short to keep the door open.  Moreover due to the fact that it is configured as garage door it needs an extra confirmation by logging into the phone.

Same happened with my old gate Bluetooth opene

[2021-01-25 18:33] andyblac commented on #432
so, can i close issue ?

[2021-01-25 22:31] andyblac commented on #381
@oliversaa can yu provide an update ?

[2021-01-26 03:24] agarwalsndp commented on #385
I can confirm that after disconnecting power from panel the SW input starts working in stock firmware

[2021-01-26 03:24] #385 closed

[2021-01-26 05:29] stevenringo opened #436 "Garage door: “open sensor” instead of “closed sensor” possible?"
Hi,

Thank you for sharing this awesome firmware. You all have made it so easy to configure. Getting a stock Shelly 1 to work *properly* in HomeKit (with all 4 states) using HomeBridge or Home Assistant seems really tricky, and I am so glad this exists.

I installed this to my garage today using a **Shelly 1**, and it works brilliantly. The one thing I noticed is that the firmware assumes the reed

[2021-01-26 06:54] freddair opened #437 "Unable to Update a single Shelly 1"
This Shelly 1 otherwise works alright and my 6 other Shellies (1/1L/1PM) updated just fine...

Log:

315453175 mgos_ota_core.c:587     begin: waiting for user
315469786 mgos_ota_core.c:587     begin: waiting for user
315481456 mgos_ota_core.c:587     begin: waiting for user
315492687 mgos_ota_core.c:587     begin: waiting for user
315502976 mgos_ota_core.c:587     begin: waiting for user
315514114

[2021-01-26 11:24] andyblac commented on #437
i'll leave this one for @rojer

[2021-01-26 12:15] ari-ido-999 commented on #432
Yes, it works with my son's phone so it is something else not your software

[2021-01-26 12:15] #432 closed

[2021-01-26 14:25] andyblac opened #438 "Request: allow user to determin LONG PRESS duration"
can we add support to control how long the button has to be held down to action as a LONG PRESS, when in detached mode.

Some familly members and guests are holding the button to long and it is being detected as a LONG PRESS, but they just wanted a SHORT PRESS, it would be good if we can allow control of this in the webUI.

@ZeevoX is this something you could take a look at ?

[2021-01-26 14:40] mjorgef commented on #346
This is still not working right? just install the last build and can't do this with two switches on the same room, only one switch works.

[2021-01-26 14:41] andyblac commented on #346
edge mode for shelly1L switch has not been added yet.

[2021-01-26 15:16] rojer commented on #438
makes sense

[2021-01-26 16:50] mjorgef commented on #346
Will it be on next update?

[2021-01-26 17:54] andyblac commented on #346
thats upto @rojer

[2021-01-26 17:56] andyblac commented on #438
yeah maybe @timoschilling or @ZeevoX could take a look.

[2021-01-26 20:02] rojer commented on #346
we'll see. it doesn't fit within the current architecture, requires some thinking.

[2021-01-26 20:10] rojer commented on #434
nice! thanks Andy!

[2021-01-26 20:10] rojer commented on #437
device won't accept update if it's in "doing something" mode. that includes auto-off timer. do you use auto-off and is it active at this time?

[2021-01-26 20:21] freddair commented on #437
Yes this Shelly uses auto-off timer and obviously it was the issue. Thanks for pointing that out. I wasn't aware that the timer was still active even after reboots... maybe it would be helpful if we would get a corresponding warning / error message when trying to start an update. Thank you @rojer !

[2021-01-26 20:23] mjorgef commented on #346
@rojer it Will be amazing if you were able to make it.
I have a couple of Shelly’s that work like that.
Kind regards! 🙏

[2021-01-26 21:22] thaetig commented on #362
What about „keeping it simple (KIS)“ for the beginning?
Do NOT store the values in a timeline (like eve devices), save this (advanced issue) for later, but...
... expose only the already/current measured values in the WebGUI (Actual Watts, Total Watts) ... just like Fibaro does in its device? This should be a quick (but very helpful) add-on.

if you figured out how to store the data (I think the f

[2021-01-26 21:33] pivale commented on #362
It already does current and total consumption @thaetig ;)

[2021-01-26 21:45] timoschilling commented on #437
Maybe we should disable the update button with a note if auto-off is on.

[2021-01-26 21:54] freddair commented on #437
Also it would be helpful to expose the countdown timer visible in the switch auto-off section

[2021-01-26 21:56] andyblac commented on #437
imo, no, only if auto-off is 'running', just having the option enabled does not harm, most of my devcies have it enabled, and i have never run into an issue updating.

[2021-01-26 21:59] timoschilling commented on #437
sorry if it's running, updated my post

[2021-01-26 22:00] thaetig commented on #362
@pivale: Sorry, but... it´s not (please read my comment again... but slowly). the values are already measured and written to the webGUI (:= the picture you have posted), BUT: it does NOT write these into the Apple HomeKit / eve app (so you have to switch between HomeKit and WebGUI to see the values). its possible to include these values (as attributes of a device) directly i to Apple HAP (like Fin

[2021-01-26 22:08] timoschilling commented on #438
@rojer could you point out the place where the value is set/used?

[2021-01-26 22:41] timoschilling commented on #362
Both characteristics aren't supported by HAP, they are custom char's defined by Eve. @rojer would you accept PR for it?

[2021-01-26 22:54] rojer commented on #362
i don't mind as long as the accessory continues to work in the Home app.

[2021-01-26 22:56] #342 closed

[2021-01-26 22:57] andyblac commented on #438
i found these

https://github.com/mongoose-os-apps/shelly-homekit/blob/eb9dd677e677b9180a9f37eecf7b523cceeed81c/src/shelly_input_pin.cpp#L31
https://github.com/mongoose-os-apps/shelly-homekit/blob/47e0c4673637c3b7b5e5d6ec8022195de0a6c912/src/shelly_input_pin.hpp#L30

[2021-01-26 22:58] rojer commented on #438
default values are constants - set [here](https://github.com/mongoose-os-apps/shelly-homekit/blob/22a1d9a84f0083dd4edd8188459249ed8f71a0ff/src/shelly_input_pin.cpp#L30-L31)

[2021-01-26 23:02] andyblac commented on #435
@timoschilling  maybe you take this one too ??

[2021-01-26 23:14] rojer commented on #436
it's a bad idea but i guess i have no choice, as it just keeps coming up... :)

[2021-01-26 23:18] timoschilling commented on #435
Maybe, if I find some time in the future, I currently working on rgbw2 support.

I think gray isn't a good color for a button, it looks like disabled, maybe green / red.

[2021-01-26 23:19] stevenringo commented on #436
Thank you for considering it. Why do you think it's a bad idea?

[2021-01-26 23:23] rojer commented on #436
when we have only one sensor, we only know one door position definitively and the other we just assume.
when the only sensor is a "fully closed" sensor, then when the app says "door closed" you know it is - the sensor says so.
however, when the sensor is "fully open", we know the door is not open, but when we say "closed", it may mean anywhere from "fully closed" to "just barely". it's a less secu

[2021-01-26 23:50] stevenringo commented on #436
Makes sense, thank you. I think I need to find a way to have it sense "closed" (i.e. the way its currently supported).

[2021-01-26 23:51] andyblac commented on #368
what exactly happens in web browser?

[2021-01-26 23:53] andyblac commented on #437
@freddair would you like to create a issue for this feature request ?, i will then close this issue.

[2021-01-27 00:01] andyblac commented on #429
@pivale can you help on this ?

[2021-01-27 00:06] andyblac commented on #358
@Mikerosoft90 still an issue ?

[2021-01-27 00:08] andyblac commented on #360
@pivale can you help out ?

[2021-01-27 00:09] andyblac commented on #349
@johannes4576 still need help, or can this be closed ?

[2021-01-27 00:12] andyblac commented on #324
@pivale can you offer any assistance ?

[2021-01-27 00:13] andyblac commented on #248
@rojer can you offer any assistance here ?

[2021-01-27 06:03] johannes4576 commented on #349
Yes, it can be closed. Thx

[2021-01-27 07:25] leilok commented on #368
I can’t connect to Shelly device.... IP address in the web browser doesn’t
open the HomeKit web interface.

El El mié, 27 ene 2021 a las 0:51, Andy Blackburn <notifications@github.com>
escribió:

[2021-01-27 10:16] col-tom opened #443 "UI: Think about a scaleable, future-proof Framework for Frontend"
The project is continuously growing and therefore also the User Interface is faced with a lot of challenges in the future:

* more state (that is in sync with UI and device)
* handling state that must be persisted on the device and therefore handling success, loading state and failture (+ user feedback)
* different UI controls / forms that depend on other state
* form validation
* async data
* mob

[2021-01-27 10:25] freddair opened #444 "Make running auto-off timer visible in UI"
Let's expose the countdown timer visible in the UI beneath each switch auto-off setting.

Let's also disable the update button with a note if auto-off is running (thanks @timoschilling ), because device won't accept update if it's in "doing something" mode, including auto-off timer (thanks @rojer ).

https://github.com/mongoose-os-apps/shelly-homekit/issues/437

[2021-01-27 10:26] freddair commented on #437
https://github.com/mongoose-os-apps/shelly-homekit/issues/444

Done, this may be closed.

[2021-01-27 10:50] #349 closed

[2021-01-27 10:53] #437 closed

[2021-01-27 10:53] rojer commented on #443
one thing to keep in mind is that our space budget is very tight - current filesystem size is 256K but will likely be reduced to 128K as we are almost out of code space and will need to resize. we also need to leave some space for config, logs and other miscellaneous stuff, so realistically we don't want web content to exceed 50K in size, all told.
there is also a reason for not having multiple fi

[2021-01-27 10:54] C-Git-C commented on #248
hello Andy,
hello Rojer

yesterday I upgraded both of my shutters to the latest version version: 2.7.3 (build 20210124-130648/2.7.3-g883914a-master).

The problem persists unchanged.

Regards
C

[2021-01-27 10:58] rojer commented on #444
SGTM

[2021-01-27 10:59] rojer commented on #444
real solution for the auto-off timer is to persist its state and restore on reboot so it continues running, but for now disabling update will do.

[2021-01-27 10:59] andyblac commented on #444
@ZeevoX or @timoschilling could one of you guys take this on ?

[2021-01-27 11:00] andyblac commented on #444
and maybe this could be done at the same time ?  https://github.com/mongoose-os-apps/shelly-homekit/issues/209

[2021-01-27 11:07] andyblac commented on #368
did you try my script ? see it that see's all your devices.

[2021-01-27 11:20] timoschilling commented on #444
I can take a look on this issue, but #209 sound like a different feature.

[2021-01-27 13:07] leilok commented on #368
I didn't know the exist of your script....
I will try this afternoon and reply here asap
Thanks!!!

[2021-01-27 14:08] joha1971 opened #445 "Shelly 2.5 as roller shutter - calibration doesn´t work propper"
Hello, this is my 3rd shelly 2.5 which i want to use as roller shutter in homekit. The firts two are working very well with the SW version 2.7.1. The calibration ran well without issues.
Now i wanted to install the 3rd shelly 2.5 which has issues in the calibration session. This shelly downloaded the SW version 2.7.3. This is my issue:
If i start the calibration, the shelly will NOT close the roll

[2021-01-27 14:18] andyblac commented on #434
@everyone please make sure when creating issues, you 1st check no existing exists, by clicking on the label associated with your issue, they maybe be an exisitng issue that could help you out.

for example there are loads of issues on Roller Shutters, as i dont have one or have used the setup i can't help, but it seems to me that the vast majority of them are all about the same issue "Calibration"

[2021-01-27 20:44] leilok commented on #368
I tried your script... and only found the 3 devices accesible by web browser... one with Homekit version, 2 with stock version.

I used your script to update all of them the the last version...

But the script didn't find the 2 devices I can't access to....

what can I do now???

Thanks for your time, Andy!!!

[2021-01-27 22:31] andyblac commented on #368
hmm, so lets recap the 2 devices that are older firmware are still seen in HomeKit, just now by the webUI or by the script, is that correct ?, if so what version of the firmware are they on ?

[2021-01-28 06:18] trendchiller opened #446 "Password protected GUI"
Hi,
This comes as a feature request:
It would be great to have an option to password protect the GUI.
Son grabs the IP scanner and starts playing 😳

[2021-01-28 07:37] pivale commented on #429
Hey @Setsuko34 ,

Calibration on both stock and Homekit firmware are bound the ability of the motor to stop at the end of movement (0w power consumption).
This will tell firmware for how long it needs to run and access percentages of open/closed.

If you say that if not stoping "forces" on the motor, it seems that you shutter motor doesn't stop on it's own.
This will render calibration (and roller

[2021-01-28 07:39] pivale commented on #360
Not sure if I can help...

@rojer is there any kind of timeout or max run time for the calibration process?

[2021-01-28 08:31] timoschilling commented on #446
duplicate of #82

[2021-01-28 09:20] andyblac commented on #446
thanks @timoschilling

[2021-01-28 09:20] #446 closed

[2021-01-28 09:36] leilok commented on #368
that's correct... one device is Shelly 1, and another one is Shelly 2.5...

Please check version in the attached pictures
![IMG_2466](https://user-images.githubusercontent.com/74515217/106118682-aba81a80-6154-11eb-97b4-52bb76ae9472.PNG)
![IMG_2467](https://user-images.githubusercontent.com/74515217/106118708-b19dfb80-6154-11eb-8267-7ff6404ffb5f.PNG)

[2021-01-28 09:55] pivale commented on #324
@rojer , is there anyway we can give a min time for calibration higher to accommodate this situation?

Actually I think it's something "bigger" and firmware should still keep power for a couple of seconds even if power consumption is 0... It would solve other problems and power fluctuation... (although not for calibration)

I don't see a drawback with this, since motors need to have auto stop anyw

[2021-01-28 09:59] andyblac commented on #368
i'm not sure what that firmware is, but it is this firmware. as it say's version 3.2, we are only 2.7.2 atm, are you sure you did not flash another firmware?

any way, atm i think the only way to update / reflash to this firmware is to do via serial connection see here https://github.com/mongoose-os-apps/shelly-homekit/wiki/Serial-connection

[2021-01-28 10:09] leilok commented on #368
Sure I didn't install another version... because I thought this HomeKit firmware was the only one available to connect shelly to Homekit

[2021-01-28 10:09] andyblac commented on #368
no there is a few that does it.

[2021-01-28 10:13] andyblac commented on #368
i think those 2 have this firmware https://github.com/RavenSystem/esp-homekit-devices

[2021-01-28 10:17] leilok commented on #368
sorry... I was thinking on it, and maybe you were right... Let me explain.

The first order I placed to buy shelly devices was in a website who sell the devices with the HomeKit firmware installed.

In the attached picture is the device I updated yesterday with your script.

The next order I bought them with the stock version, and I installed "your" HomeKit version... so probably the firmware wich

[2021-01-28 10:19] andyblac commented on #368
ye, the 1st 2 you bought, has HAA on them, the only way to flash them with this firmware is via serial connection.

[2021-01-28 10:26] leilok commented on #368
Ok... so this issue is solved...

So I have to buy a connector... I am trying to understand wich one do I have to buy, but I don't understand pretty much...

Or maybe is easy to me forget both of them and install new one!!!!

lol

Thanks Andy!!!

[2021-01-28 10:30] andyblac commented on #368
here something like this https://www.amazon.it/DSD-TECH-Adattatore-seriale-Compatibile/dp/B07BBPX8B8/ref=sr_1_1_sspa?__mk_it_IT=ÅMÅŽÕÑ&dchild=1&keywords=DSD+TECH+USB+to+TTL&qid=1611829743&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExN0FQS0taVUMxNFZFJmVuY3J5cHRlZElkPUExMDI1MjY0MVNOSzA4T0tVTUZDTCZlbmNyeXB0ZWRBZElkPUEwMzc3NTMxMjNLMkQ4QTY2TUVTQyZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVj

[2021-01-28 10:33] andyblac commented on #368
oh and cable https://www.amazon.it/Ganvol-40-Pezzi-solderless-breadboard-Raspberry/dp/B01LVVIOUO/ref=sr_1_7_sspa?__mk_it_IT=ÅMÅŽÕÑ&dchild=1&keywords=male+to+Female+Breadboard+Jumper+Wires&qid=1611829952&s=electronics&sr=1-7-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzV0ZIVDIwQlQwSkUmZW5jcnlwdGVkSWQ9QTAwMDkyOTlRRk9aOU05S1BFTUUmZW5jcnlwdGVkQWRJZD1BMDc0NTAxNjI1RTlDOThFNEY0OVkmd2lkZ2V0TmFtZT1zcF9tdGY

[2021-01-28 10:35] andyblac commented on #368
i'll close this issue, but if you need help flashing etc, please feel free to open a new issue 😄

[2021-01-28 10:35] #368 closed

[2021-01-28 10:38] grizz479 opened #448 "Firmware 2.7.3 problem with Shelly1 "garage door opener" mode problem with close sensor"
Hi there,
Since last update my -before totally functional- shelly1-garage door opener is giving false lectures from the close sensor. It warns  perfectly of the "open state" but after 5 seconds returns a "closed state" even though the door is still opening and the opening time is set to 20 secs.
When closing it backs, it sends (and logs) the same inputs: First "open gate" followed closely by a "cl

[2021-01-28 10:40] Storkn commented on #404
Are there any updates or news? :-)

[2021-01-28 10:40] grizz479 commented on #409
7 shelly1 up and running with static íps here, whith 2.7.2 up to yesterday, and now with 2.7.3

[2021-01-28 11:37] trendchiller commented on #82
+1 from me for password protected HTTP(s) GUI

[2021-01-28 15:22] joha1971 commented on #445
Additional information: Here are my log. The calibration mode worls always for 1.08 sec. Then he is ready. That menas that the roller never shuts down completly.

132383880 shelly_output.cpp:56    Output 1: off -> on (move)
132393452 shelly_hap_window_c:322 WC 1: State: move -> rampup (20 -> 22)
132420113 shelly_hap_window_c:544 P = 0.00 -> 0.00
132430119 shelly_hap_window_c:322 WC 1: State: rampu

[2021-01-28 17:00] juangamnik commented on #404
@Storkn: I am finished with my implementation. This evening I will cleanup the code and start a pull request. Then it is up to @rojer, whether he likes the feature/my implementation.

[2021-01-28 21:26] juangamnik commented on #404
I started a pull request

[2021-01-28 22:25] rojer commented on #82
so let me outline the solution as i see it. i think we can use HTTP digest authentication, for both serving contents and RPC.
RPS already supports digest auth, it just needs to be enabled. and when used over HTTP/WS, it takes credentials that browser sends, so we should be all good.
we just need to enabled digest auth for serving the index page, configure RPC auth and tighten ACLs to require authe

[2021-01-28 22:26] rojer commented on #448
actually, there haven't been much changes in the GDO recently. can you please enabled debug log and post it here while?

[2021-01-28 22:31] rojer commented on #404
it's not too bad, but please explain why we have two movement times? move_time_ms is already supposed to give time for full movement of the curtain.

[2021-01-29 00:43] #303 closed

[2021-01-29 02:00] timoschilling commented on #82
I think we should not enable it for the http UI, only for websocked and rpc. Then the UI can be served and the UI can ask the User for the credentials

[2021-01-29 02:36] ZeevoX commented on #379
I have started work on a pull request but have not implemented the part of the GitHub workflow to upload the produced firmware files, as I would like to ask for clarification on how this ought to be done.

If we have a 'latest' GitHub release that would imply tagging every commit on master so that it always pointed to the latest commit. Should the script instead attach files to the last tag? (e.g.

[2021-01-29 07:27] juangamnik commented on #404
@rojer come down from your high ross (as we germans say) 😉. It‘s not my language (C++) and I feel home in cloud native environments, native apps and SPAs/PWAs in my daily business....

But anyway, I‘m happy to participate here. I am ready to add some documentation to the wiki with an explanation of the values and when to use the feature and when not (accompanied with a screenshot).

Regarding your

[2021-01-29 08:55] rojer commented on #82
sure, if we can have a nice login form that's better UX.
but if we can find a way to facilitate built-in digest auth so we don't need to worry about generating tokens, cookies, etc, that'd make things easier.
i don't know if it's possible to trigger digest auth process for a background load, maybe it is.

[2021-01-29 09:41] AnMiPe commented on #324
In my opinion and experience with my roller shutter motor 2-3 seconds will be enough.

[2021-01-29 09:50] timoschilling commented on #82
The reason why web sockets didn't need CORS is why they didn't inherit the cookie or basic / digest auth from the web page, like it happens by xhr requests. So there is a need that the user must give the password to the js app.

[2021-01-29 10:40] timoschilling commented on #379
Maybe we can remove rojer.me and direct work with the GitHub release api?

[2021-01-29 12:53] grizz479 commented on #448
Hi Rojer,
After a couple reboots and repairing with home app everything seems to work fine now. I did not remember but when I installed I had some issues with the close sensor after first install. It appeared to me it took it several "runs" to take the input right, even though I suppose it is not even possible.

[2021-01-29 17:33] andyblac commented on #379
thats how it was originally, but was moved to Roger.me for better controll.

[2021-01-29 17:47] pelo76 opened #451 "Security"
Hi, is it possible to secure the configuration site of the shelly?

[2021-01-29 18:03] timoschilling commented on #379
What was the concrete reason / problem?

[2021-01-29 18:03] timoschilling commented on #451
Double of #82

[2021-01-29 18:07] andyblac commented on #379
not sure was rojer decision.

[2021-01-29 18:08] andyblac commented on #379
think it was so he could control beta releases.

[2021-01-29 18:12] #451 closed

[2021-01-29 20:53] juangamnik commented on #404
@rojer: So will you merge my pull request and link it to this Issue? If I should add corresponding documentation, it would be nice if you could give me the corresponding rights on the wiki.

[2021-01-30 03:37] rojer commented on #404
sorry, i didn't mean to offend. it was meant as a complement, actually :) the change needs some work in terms of code, but i also need to think about higher-level approach, need to be careful about what parameters are added and UI changes.

what you are saying makes sense to me, and this concept of "extra movement time" may apply more generally. i wonder if we can improve accuracy by allowing user

[2021-01-30 03:41] rojer commented on #82
we send CORS headers with our responses though, it should be fine.

[2021-01-30 03:48] rojer commented on #379
we need a plain HTTP location for stock -> HK update as stock firmware can't flash from HTTPS location (at least not from github).
we could use github urls for HK -> HK updates but for me it's just easier to have everything in one place.

[2021-01-30 09:09] juangamnik commented on #404
I tried to stay as near as possible at your coding style and implement it at least invasive I could. If there is some improvement necessary on the code side please feel free to give me some hints (or if it’s easier to do it on your own, then please give me hint when you’re ready so that I can have a look at it). What I do not like completely that there are now many ifs with `calibrated || man_cal`

[2021-01-30 09:30] mattod0 commented on #404
Hey guys, I started this thread and I must say: great news :-)
I am not a developer but I work with developers (as a product manager/owner) and I can feel how you are all in to this.

Just wanted to comment on the move_time_ms / additional_time_for_limit_pos.
I think this is only necessary if the roller shutter opens and closes fast so that the time for getting from 99% to 100% (end position/closi

[2021-01-30 11:27] Rappelsack opened #452 "New Feature: below Wh - Switch off"
Hello

I do not know how to describe it correctly.
It would e a awesome feature it f.e. a Shelly Plug S could be set up to: below XY Wh, cut the current.

So I could plug my TV, activate the Shelly and when I set the TV to standby the current drops below a limit and after that the shelly switches off.

Hope u understand.

Kind regards.

[2021-01-30 11:29] andyblac commented on #452
plesse add your support to this issue https://github.com/mongoose-os-apps/shelly-homekit/issues/26, i'll close this one as duplicate thx.

[2021-01-30 11:32] Rappelsack commented on #26
I wrote this feature request: https://github.com/mongoose-os-apps/shelly-homekit/issues/452

I do not understand why this should be placed in this post, but again:
This feature would be great.

[2021-01-30 11:34] andyblac commented on #26
it about getting power consumtion data in to HomeKit, so you can create an automation to do what you describe.

[2021-01-30 11:38] Rappelsack commented on #26
No. I do not request power consumption in homekit.

Just a setting simmilar to the: switch off after xx minutes:
![64DC4EF3-70CE-462D-8680-70EEC9DDB4A0](https://user-images.githubusercontent.com/67721205/106355418-029a2500-62f8-11eb-98aa-f36a7663ac4c.jpeg)

Like this.

[2021-01-30 11:40] andyblac commented on #26
I'll reopen, post this info in the issue, i'll let rojer decide if it something he wants to code.

[2021-01-30 11:42] Rappelsack commented on #452
Thanks!

I do not mean the power consumption readout in homekit.

I mean a simmilar function like „auto off delay“:
![D9A734E8-0406-43BF-9B5D-DB5C0B66A808](https://user-images.githubusercontent.com/67721205/106355486-90761000-62f8-11eb-963a-457531a98bc0.jpeg)

But „auto off if the consumption drops below 0,5W“ for example.

[2021-01-30 12:53] andyblac commented on #379
it also makes it easier to maintain script.

[2021-01-30 14:32] trolli-ch commented on #448
Thanks for reporting this. I have the same issue.
Before 2.7.3 the status was always correct, now its as described by grizz479.
So opening the door will show some second the status "opening" and then switch to ".closed"
So the door is open now, but the status is closed.

74298538656 mg_rpc.c:305            Shelly.GetInfo via WS_in 192.168.4.107:51802
74299533423 mg_rpc.c:305            Shelly.GetI

[2021-01-30 15:52] juangamnik commented on #404
@mattod0 at work I’m not programming that much anymore, too (architect, scrum master, team lead), but I really do like Programming! For me the second time has two purposes: recalibrate & correct relative positions (because 50% more or less feels like 75% on a normal shutter). And for sure you can have 52s and 65s, for example.

I chose 2 different „full“ times (instead of one full time and one add

[2021-01-30 16:04] timoschilling commented on #26
That is only supported as a characteristic of a valve. I will work on that after #433 is merged.

[2021-01-31 08:44] Marcusg562 opened #454 "Shelly2 Auto on"
Hey guys, has anyone the same issue? Every morning my Shelly turn on at an specific time. There is no HomeKit automation set and the initial stage is for both switches off. Any ideas?

[2021-01-31 09:02] petergPRG opened #455 "Homekit shows Shelly 2.5 as a bridge"
Since update to 2.73 my Homekit shows a shelly2.5 as a bridge. Correct?

[2021-01-31 10:27] simonfield76 commented on #454
Could you give more details?

Inviato da iPhone

Il giorno 31 gen 2021, alle ore 09:45, Marcusg562 <notifications@github.com> ha scritto:

﻿

Hey guys, has anyone the same issue? Every morning my Shelly turn on at an specific time. There is no HomeKit automation set and the initial stage is for both switches off. Any ideas?

—
You are receiving this because you are subscribed to this thread.
Reply

[2021-01-31 10:28] simonfield76 commented on #455
Always been recognized as bridge at least from my first installation with 2.6

Inviato da iPhone

Il giorno 31 gen 2021, alle ore 10:03, petergPRG <notifications@github.com> ha scritto:

﻿

Since update to 2.73 my Homekit shows a shelly2.5 as a bridge. Correct?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/mo

[2021-01-31 10:52] Marcusg562 commented on #454
What exactly do you wanna know?

HAP Type: Switch
Input Mode: Toggle
Inverted input: off
Initial State: off
Auto Off: off

Version: 2.7.3 (build 20210124-130626/2.7.3-g883914a-master)

[2021-01-31 11:55] andyblac commented on #455
yes, correct behaviour.

[2021-01-31 11:55] #455 closed

[2021-01-31 12:15] rojer commented on #455
yes, bridge accessory configuration is used as a means of exposing independent services (such as independent detached inputs). there is no bridging taking place, as such.

[2021-01-31 12:16] rojer commented on #454
there is nothing in the device that can possibly cause this, there is no scheduling functionality at all.

[2021-01-31 12:18] andyblac commented on #454
He has a poltergeist, playing games with him 😄

[2021-01-31 12:22] andyblac commented on #381
as the OP has not responded, i'll close this issue.

[2021-01-31 12:22] #381 closed

[2021-01-31 12:23] andyblac commented on #372
as the OP has not reponded i'll close the issue.

[2021-01-31 12:23] #372 closed

[2021-01-31 13:51] Marcusg562 commented on #454
I will test it tomorrow - since this only happens in the morning

[2021-01-31 14:07] HomeKid0815 commented on #404
Hi Johannes,
It’s really great work all of you are doing here!
I recently installed 9 shelly 2.5 roller shutters connected to Apple HomeKit. Everything worked well, but one makes trouble. It is the shelly that is connected to a motor which operates two shutters. My problem is that I cannot calibrate it under Shelly HomeKit Firmware. During calibration process the shutter goes up and down about ten

[2021-01-31 14:41] ToblerCGN opened #456 "Shelly 1 as impulse relay"
Hi folks! I'm using a Shelly 1 as a replacement for an impulse relay. It mostly works fine, when I manually switch on or off. When I use an automation to switch off the relay it switches off the light and instantly switches it on again. Because of this I can't use automations with it. Input mode is momentary.

[2021-01-31 14:43] andyblac commented on #456
what type of physical switch you using ? for momentary you need a momentary switch ie push button.

[2021-01-31 14:45] jsiegenthaler commented on #456
You mean an Eltako? I have a Shally1 wired up to the Eltako

On Sun, 31 Jan 2021 at 15:43, Andy Blackburn <notifications@github.com>
wrote:

[2021-01-31 14:47] andyblac commented on #456
in UK we also call them "RETRACTIVE". ie spring loaded

[2021-01-31 14:54] ToblerCGN commented on #456
I am using the Eltako S12 100 and would like to replace it. And I am using push buttons. The Shelly works fine, when I manually switch it on or off. When I use an automation to switch on, ist works fine as well. But when the automation says switch off, ist switches off and after a second ist switches on again.

[2021-01-31 14:57] andyblac commented on #456
i mean what type wall switch are you using ???

[2021-01-31 15:00] andyblac commented on #456
if you turn off manually in homekit does it turn on again ?

[2021-01-31 15:01] ToblerCGN commented on #456
When I turn it off manually in HomeKit, it doesn‘t turn on again.

[2021-01-31 15:02] andyblac commented on #456
then it sounds like your automation is at fault.

[2021-01-31 15:04] andyblac commented on #456
i have loads of shelly1's being used with automations, and have no issues.

[2021-01-31 15:05] andyblac commented on #456
can you post screenshots of your automation ?

[2021-01-31 15:06] ToblerCGN commented on #456
I am using automations and Shellys as well and they all work fine. But in this special wiring ist doesn‘t.

[2021-01-31 15:07] andyblac commented on #456
can you post it maybe i can spot something ?

[2021-01-31 15:13] ToblerCGN commented on #456
I already deleted it and unwired the Shelly. But ist was an ordinary automation. On sunset switch on, on sunrise switch off, as ist did. But on sunrise and and other automation to switch off, ist switched off and after a second or so switched on again. I googled the problem and found another User on Youtube, who had the same problem.

[2021-01-31 15:15] ToblerCGN commented on #456
Maybe jsiegenthaler can contact me. He is using the Eltako as well.

[2021-01-31 15:22] andyblac commented on #456
did you not remove and replace it with the shelly ?, so then it just becomes a normal relay, nothig speacial. if it was switching on / off in homekit via manully press of the tile in homekit, then shelly is working correctly, then it down to HomeKit automation / HomeKit hub.

[2021-01-31 16:04] theflexa1 opened #457 "Problem using Shelly 2.5 and 1 outside my house."
Hello to everyone.

I can´t reach my Shllies from 4G... I can with wi-fi but I cannot reach them by 4G....

Is there something I am doing wrong?

[2021-01-31 16:05] andyblac commented on #457
do you have a homekit hub ?

[2021-01-31 16:06] theflexa1 commented on #457
I have an Ipad, an Apple TV and a Homepod....

The strange thing... is that I set another Shelly 1 1 month ago... and i works with 4G...
Really rare...

[2021-01-31 16:08] andyblac commented on #457
should be no reason why then, check in home app that at least one hub is connected,

[2021-01-31 16:11] theflexa1 commented on #457
I´ve already check that!

Conected is the status, but... I cannot think about what it´s wrong. In the photo you can see two Shelly 1. One instaled 1 month ago, the other today. Same process... (I think I did the same...)

![Captura de pantalla 2021-01-31 a las 17 10 13](https://user-images.githubusercontent.com/78312412/106390130-3142f900-63e7-11eb-9df8-65937780809b.png)

[2021-01-31 16:15] theflexa1 commented on #457
The only strange thing I have done is changing the name of the device....
![Captura de pantalla 2021-01-31 a las 17 15 04](https://user-images.githubusercontent.com/78312412/106390281-e5448400-63e7-11eb-8d69-9171037f6604.png)
![Captura de pantalla 2021-01-31 a las 17 14 55](https://user-images.githubusercontent.com/78312412/106390283-e5dd1a80-63e7-11eb-8331-1edb2f29ded3.png)

[2021-01-31 16:26] theflexa1 commented on #457
No, this last thing is not the problem.... I´ve just tested... no way to make it work outside the wi-fi :(

[2021-01-31 16:40] theflexa1 commented on #457
More info:

I hace reset the firmware to original. The shelly app let me control the Shelly 1 and 2.5 from the app runing 4G. So the issue must be on the 2.7.3 of the new firmware of homekit...

If someone know how to fix this... just write hehe

[2021-01-31 17:35] andyblac commented on #457
can you enable debug log please, then reboot device, open log clicking on log link in webui on a pc/Mac, wait few mins for clients and hubs to connect. then try on 4g and copy paste log to a file and post here.

[2021-01-31 19:56] theflexa1 commented on #457
The debug log... where can I access that in the homekit software?

[2021-01-31 20:03] theflexa1 commented on #457
![Captura de pantalla 2021-01-31 a las 21 03 25](https://user-images.githubusercontent.com/78312412/106396373-c655ea00-6407-11eb-9816-057ac039f368.png)
This is the log you ask me :)

[2021-01-31 20:04] simonfield76 commented on #457
In the web server pointing the ip address of the shelly in the browser

Inviato da iPhone

Il giorno 31 gen 2021, alle ore 20:56, theflexa1 <notifications@github.com> ha scritto:

﻿

The debug log... where can I access that in the homekit software?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/mongoose-os-app

[2021-01-31 20:09] andyblac commented on #457
look for the ip of the main hub, does it get a connection ?

[2021-01-31 20:11] theflexa1 commented on #457
The main hub... you mean the Apple TV?

[2021-01-31 20:12] andyblac commented on #457
tbh i wpuld disable homekit on appletv imo you will get nothing but problems, as you said you have homepod use that.

[2021-01-31 20:13] theflexa1 commented on #457
I´m going to test that. ;)

[2021-01-31 20:15] andyblac commented on #457
here is mine
![IMG_0463](https://user-images.githubusercontent.com/77936/106396629-0cf41600-6401-11eb-9a68-aea8c40ded81.jpeg)

[2021-01-31 20:18] andyblac commented on #457
it can take 5 mins for a hub to change status, so give it time after disabling appletv, check in home app for a disabled status, then find the connected hub ip, make sure it gets a connection in the shelly log.

[2021-01-31 21:36] juangamnik commented on #404
@HomeKid0815 this is exactly the issue I had too. The issue is fixed and my attempt to a solution is _in review_.

This project is from @rojer and some more contributors. I just helped with this issue.

[2021-02-01 06:45] Marcusg562 commented on #454
It seems as this issue was caused by an Eve Button in my Homekit

[2021-02-01 06:45] #454 closed

[2021-02-01 12:55] joha1971 commented on #445
Hi all,
is noboby able to support my issue? Now i have replaced my shelly 2.5 against a new one. But the issue is still the same. The curton down mode works only for 1,08 sec. and shelly thinks it´s closed, which is not. One additional information. I have two roller shuter motor connected to one switch. Could this be the problem? May be that the current flow is too high?
Need support. I am lost. T

[2021-02-01 13:35] andyblac commented on #445
have checked the other roller shutter isues, maybe they could help ?

[2021-02-01 13:42] joha1971 commented on #445
Of course you are right. I saw that there is already an open issue with the same issue. I also saw that there is a request for an extention to use the roller shutter with typing in a calibration time manually. now i will wait until this issue is fixed and a new firmware will be released. Thank you

[2021-02-01 15:35] joha1971 commented on #404
Hi Johannes,
i have a question to your new codes. I have copies all codes into the original 2.7.3 files and replaced them into the zip file. then i uploaded them into the shelly. But nothing has changed. What didi i wrong? Or whar should i see?

[2021-02-01 16:33] andyblac commented on #445
ok, i'll close this issue as duplicate. thx

[2021-02-01 16:33] #445 closed

[2021-02-01 17:37] juangamnik commented on #404
@joha1971 the code has to be compiled and you should not copy two versions into each other. Either you wait for the version that contains the new feature or you build it yourself and deploy it (by checking out my fork and deploying it via OTA to the device).

[2021-02-01 17:38] juangamnik commented on #404
Here you can find how to do this: https://github.com/mongoose-os-apps/shelly-homekit/wiki/Development

[2021-02-01 17:45] joha1971 commented on #404
Ok. Thank your for your answer. I will wait for the new version.

[2021-02-01 18:48] HomeKid0815 commented on #404
That sounds promising! Does anyone knows how long it takes until a new version will be released?

[2021-02-02 12:44] C-Git-C commented on #248
Hi Rojer,

I reproduced the issue again. Version: 2.7.3 (build 20210124-130648/2.7.3-g883914a-master)

At the beginning Shutter position was open
I pushed the button three times to open the shutter - shutter didnt start to move there was only a short jerk
(Failed to start moving)

I pushed the button a fourth time to open the shutter - shutter started to move and opend

Sometimes it works instantl

[2021-02-02 16:05] grizz479 commented on #448
Had the same issue again. But it was after changing device ip. The first 5-6 times The gate is operated it takes wrong values from the sensor, but after that is working properly again.

[2021-02-02 19:20] Gedoense commented on #404
Hi at all! At first I want to thanks everybody who has worked on this firmware for HomeKit. With one curtain it works fine to calibrate. But with two curtains which are connected with a separate relay it doesn’t work as the other mentioned in their posts.

So the idea to insert the time would be the best solution and hopefully it will be there soon :-)

But as workaround I just installed the 2.5 a

[2021-02-02 23:26] Gedoense commented on #404
@juangamnik How can I use your modification?

[2021-02-03 08:19] danny1605 commented on #43
There is already new information regarding Water valve support ?

[2021-02-03 10:07] sebastianheise commented on #377
No. Sorry. I have tried a few more times to update, but is fails. No clue why.

[2021-02-03 10:08] sebastianheise commented on #377
(Not sure why I didn't receive a notification of your response though...)

[2021-02-03 11:58] Tomer51m commented on #257
Hi, I had disconnection that was solved by cutting the power to the device, and turning it back on - this is before I updated to 2.7.3.

Other than that, automations work flawlessly in the past couple of months.

My only issues are random disconnections from wifi here and there (one device out of nine, every 2-3 months) - I have static IP's, 5Ghz turned off, and auto channels switching off.
Power

[2021-02-03 14:08] TimE90 commented on #72
Hey, thanks for these firmwares! Are there any news on the RGBW2 support?

[2021-02-03 15:48] bugfixer1992 commented on #2
Hello,
I am experiencing a problem when trying to flash the shelly-homekit-Shelly1.zip
mos flash --esp-baud-rate 921600 shelly-homekit-Shelly1.zip
leads to an error message. "Image 0x1fc000 overlaps with system params area (16384 @ 0x1fc000)"
Does anyone have an idea how to fix this?
Thanks o lot in advance!

[2021-02-03 16:00] timoschilling commented on #72
I'm currently working on the RGB version, an RGB+W version and 4xW version will follow.

[2021-02-03 16:19] timoschilling commented on #2
Maybe this wiki pages will help:
- https://github.com/mongoose-os-apps/shelly-homekit/wiki/Development
- https://github.com/mongoose-os-apps/shelly-homekit/wiki/Serial-connection

[2021-02-03 16:37] bugfixer1992 commented on #2
Thank you for the fast answer, @timoschilling.
I followed the wiki and get the same mistake again.
"mos flash http://rojer.me/files/shelly/shelly-homekit-Shelly1.zip"
leads to the error
"Image 0x1fc000 overlaps with system params area (16384 @ 0x1fc000)"
I attached a screenshot for further investigation.
![homekitError](https://user-images.githubusercontent.com/54179038/106778410-3d78c180-6646-11e

[2021-02-03 17:01] lieberjott commented on #377
Seem that I'm having the same issue but with the difference, that I'm trying to flash a brand new Shelly I3 with stock firmware.

Stock firmware tells me:
"The current Firmware version of your Shelly device is 20200421-183805/master@d834f204 No newer firmware available."

I've tried to do the OTA update/flashing to shelly-homekit several times, but 'nothing' happens, this is the output after doing

[2021-02-03 17:45] andyblac commented on #2
maybe @rojer can offer some assistance here ?

[2021-02-03 19:33] juangamnik commented on #404
@Gedoense you can build my fork yourself and deploy it (via OTA to the device).

here is a guide how to do this:
https://github.com/mongoose-os-apps/shelly-homekit/wiki/Development

[2021-02-03 20:41] rojer commented on #2
this looks like old mos utility version what does `mos --version` report?

[2021-02-03 21:07] bugfixer1992 commented on #2
Thanks a lot @rojer!!!!!
My version was
![mos version old exe](https://user-images.githubusercontent.com/54179038/106809506-0d441980-666c-11eb-93ec-aaebf70682ae.PNG)
when I downloaded the new mox.exe everything works like a charm.
![mos version new exe](https://user-images.githubusercontent.com/54179038/106809563-1fbe5300-666c-11eb-9ba0-8fc46c4c6269.PNG)
Thank you sooooo much! You all made my day!

[2021-02-03 21:18] rojer commented on #2
any time :)

[2021-02-03 21:31] ursusHU opened #460 "Previous firmware download place?"
Where can I found the previous version 2.7.2? Sorry, if it is obvious, but I was looking for it but couldn’t find it.
The restart feature was more reliable for me in that version.

[2021-02-03 21:34] rojer commented on #460
attached to github releases - https://github.com/mongoose-os-apps/shelly-homekit/releases
or on my server here - http://rojer.me/files/shelly/

[2021-02-03 21:34] #460 closed

[2021-02-03 21:54] #401 closed

[2021-02-03 21:59] torto-85 commented on #401
I closed this thread because you can find the same issue and solution in progress here:

https://github.com/mongoose-os-apps/shelly-homekit/issues/404#issue-787119014

[2021-02-03 22:01] andyblac commented on #460
or github https://github.com/mongoose-os-apps/shelly-homekit/releases

[2021-02-03 23:37] timoschilling commented on #43
Basic valve support is now merged, timer support maybe follow.

[2021-02-04 01:16] POFerro opened #461 "Can't Inject RPC Event to stateless switch configured as Toggle"
Hi :),

I'm trying to inject an event through rpc to a stateless switch to activate the associated homekit scenario. My stateless switch is configured as Toggle so I'd like to inject a single press event to homekit.
I tried every combination ( sending a kChange event, kSingle, kToggle, etc.) but nothing seems to work, my event is allways ignored, looking at the code it seems that kChange events ar

[2021-02-04 10:30] andyblac commented on #461
show me the url you are using.

[2021-02-04 10:31] andyblac commented on #461
for more help see here: https://github.com/mongoose-os-apps/shelly-homekit/wiki/Development#API

[2021-02-04 11:43] Gedoense commented on #404
Thank you very much! I will test it on the only one Shelly which not work.
BTW in the Original Software of Shelly there is also the same possibility to insert times in case you can’t calibrate it.

[2021-02-04 11:43] POFerro commented on #461
Hi @andyblac ,

Yes that was the documentation I was following.
Here is my url: http://192.168.1.109/rpc/Shelly.InjectInputEvent?id=1&event=1
I was hopping that this triggered the homekit event associated with single press but it doesn't.

I managed to get it working by: setting switch InputMode = Momentary->Sending event->setting switch back to toggle.
Seems like the button configured as toggle i

[2021-02-04 12:15] andyblac commented on #461
@POFerro glad you got it working, all be it with a work around.

@rojer is this expected behaviour ? or could it be a bug ?

[2021-02-04 16:37] juangamnik commented on #404
The `working time` in the Original Firmware is not an alternative to calibration, unfortunately. You cannot use positioning controls without calibration.

[2021-02-04 18:27] Gedoense commented on #404
Sorry, but I‘m absolutely a beginner and I just tested with the Shelly software and you are right!

[2021-02-04 18:34] juangamnik commented on #404
Wasn't meant as criticism by me :)

[2021-02-05 01:56] singas77 commented on #374
202455586 shelly_rpc_service.:223 SetConfig ok, 0
202486857 mgos_sys_config.c:232   Loading conf2.json
202510871 mgos_sys_config.c:232   Loading conf3.json
202644829 mgos_sys_config.c:174   Saved to conf9.json
202670164 mg_rpc.c:305            Shelly.GetInfo via WS_in 192.168.1.98:55266
202891746 shelly_hap_window_c:491 WC 1: P1 = 237.799
203176900 mg_rpc.c:305            Shelly.GetInfo via WS_in

[2021-02-05 02:02] singas77 commented on #374
so when open it reports as open and when closed it reports as closed so that's all good the only issue is calibration stops at 10% open I guess apart from that all ok

[2021-02-05 12:20] joha1971 opened #463 "Request to extend the Shelly range, No Issue"
Dear developers,
i have a request to extent the range of shelly. What about the shelly DW? This is the door/windows contact to control the status. I can imagine that a lot of users are interested in. What do you think? How complex is it for you? Hope it´s not too complex.

[2021-02-05 12:27] andyblac commented on #463
hi, nice idea, but already suggested, add your support here https://github.com/mongoose-os-apps/shelly-homekit/issues/124

[2021-02-05 12:27] #463 closed

[2021-02-06 07:18] Steve1468 opened #465 "Shelly1 as Switch for my Alarm system"
Hello all, I use a Shelly1 to switch in and off my Alarm System, it works but I have to click to times in the HomeKit switch icon. Is there a possibility to configurate the Shelly1 that when it shows "on" on the icon that the alarm in on, and when it shows "off" on the icon that the alarm is off. All that with only one click?

[2021-02-06 07:33] sebastianheise commented on #377
No, no static IP. But it's also not "fetching". I see the same, if I choose to upload the file. As if there wasn't enough memory on the device or something. I've tried to revert to stock firmware - no luck. Feels like it's "bricked" - except that it works fine. Just no firmware updates anymore. It's very strange....

[2021-02-06 07:35] sebastianheise commented on #377
Is there anything in regards of debug logs, that I could try to get off the device? Anything that might help discovering what's going wrong?

[2021-02-06 07:43] Gedoense commented on #404
@juangamnik hi! Is it possible to send me the compiled file? So that I can Update it ota? Sorry, but I‘m to stupid to make it on my own. I‘ve only little skills with programming VB not with C++ and firmware development 😞

[2021-02-06 07:54] jsiegenthaler commented on #465
You can do that with a simple Homekit automation:
When Alarm is on, turn on the switch
When Alarm is off, turn off the switch

[2021-02-06 07:58] Steve1468 commented on #465
Yes, but my alarm needs two impulses not only one.

Inviato da iPad

[2021-02-06 08:15] jsiegenthaler commented on #465
Two pushed of a switch? Do that in the Automation
Two switches? Add another Shelly1

[2021-02-06 08:18] Steve1468 commented on #465
That could be working.
What I saw now, the “sw” on my Shelly is not connected.
Maybe is that, otherwise I connect another Shelly or an rele

Stefan
Cell: +39 3406492025
email: stefanlanger@mac.com
WhatsApp: +39 3406492025

http://www.thelangerbooks.com
Author of:

   and

[2021-02-06 10:08] socialsubs opened #466 "Add option to only active the Auto Off, if light was turned on via REST API"
Hi,
II know this request is similar to [#209](https://github.com/mongoose-os-apps/shelly-homekit/issues/209), but I would like to know whether it is not easier, in this case, to enter an auto-off timer directly into the URL of the REST API command.

I'd like to use the new "Shelly Motion" sensor to turn on the lights when sensor detects motion and set an auto-off timer in the same REST API command

[2021-02-06 10:33] HomeKid0815 commented on #404
Same here! @juangamnik, would be great to get it. :-)

[2021-02-06 11:22] andyblac commented on #466
i'll close this, and add it to the other issue, just to mke it easier to follow.

[2021-02-06 11:22] #466 closed

[2021-02-06 11:38] andyblac commented on #209
ok as the main shelly code has added more suport for other things since this request I'll update it here.

Can we add support for multiple auto timers as follows.

Physical switch action. (only started when the switch is pressed)
HomeKit action.  (only started when HomeKit activated the relay)
REST API action.  (this does not need to show in webUI but just a flag used the url. ie for 10min we coul

[2021-02-06 11:39] andyblac commented on #466
@socialsubs i have updated #209 please add your supported to it thx.

[2021-02-06 11:46] socialsubs commented on #209
Thanks andyblac, the 3rd option is exactly what I requested in the #466.

[2021-02-06 11:47] andyblac commented on #465
@Steve1468 why do you need to click it 2 times ?   on, then off ?

[2021-02-06 11:50] andyblac commented on #465
sounds like this https://github.com/mongoose-os-apps/shelly-homekit/issues/406 if so i have made a request here https://github.com/mongoose-os-apps/shelly-homekit/issues/408, please add you support to it, and report back here, and i'll close this issue.

[2021-02-06 13:17] Steve1468 commented on #465
Now it works with one click thanks to your info jsiegenthaler, problem is now the switch turns on and after some seconds turns off and remains always turned off, so I don't see in the status of HomeKit app if the alarm is on or not.

[2021-02-06 13:20] jsiegenthaler commented on #465
Adapt your Home Automation as you need to. You can do whatever you want in your automation.

[2021-02-06 13:44] andyblac commented on #465
@Steve1468 i think you need the option i posted above.

[2021-02-06 13:45] andyblac commented on #465
it can't be done with automations, he need "Inverted Output". ie relay open but shows in HomeKt as ON.

[2021-02-06 14:00] Steve1468 commented on #465
Yes right.
Now I have status: off
HAP Type: switch
Input Mode: Momentary
Inverted input: enabled
Initial state: off
Auto off: enabled
Auto off delay: 0:00:00:01.100

No possibility right now for "inverted output"
Where can I find that?

[2021-02-06 14:01] Steve1468 commented on #465
Do I have to update the Shelly1 Software?

[2021-02-06 14:01] andyblac commented on #465
no, it is waiting to be merged, and then built, should not be long.

[2021-02-06 14:03] andyblac commented on #465
anyway, i'll close this issue, as it is a duplicate, pleaes add your support the other issue here https://github.com/mongoose-os-apps/shelly-homekit/issues/408

[2021-02-06 14:03] #465 closed

[2021-02-06 14:04] Steve1468 commented on #408
Okay thanks

[2021-02-06 14:05] andyblac commented on #465
once it meged, and built, test and if it does not fix your issue, please feel free to reopen this issue.

[2021-02-06 14:07] Steve1468 commented on #465
Okay thanks

[2021-02-06 15:36] BlancoDeMallloca commented on #375
@ZeevoX: Could you already take a look into this? It would be great to have the doorbell mode. Thanks for your support

[2021-02-06 16:52] mac-alx commented on #448
Hello,

I have a pretty similar problem.
usecase: Shelly 1 as garage door opener with close sensor

When opening the garage door everything works fine.
When closing the door the status is closing until the door is closed. Then the status changes to „closed“, back to „opening“ and again back to „closed“.

The last changes are all in around 2 seconds.

This happens when closing the door with the She

[2021-02-06 17:39] AnakinSpain opened #467 "Improve update mode"
Will be possible to improve the way to update. I am not usually turn on my mac.

Could it be possible?

Maybe from one shelly to others...

[2021-02-06 17:40] andyblac commented on #467
sorry what do you mean?

[2021-02-06 17:42] andyblac commented on #467
from stock to this firmware ? or update this firmware to latest ?, all can be done on your phone.

[2021-02-06 18:00] AnakinSpain commented on #467
Update to latest.

From my phone I enter every static IP in my browser and update from web gui. But I have 15 shellys

[2021-02-06 18:03] andyblac commented on #467
unforunatly there is no other way without your mac, with your mac there is a script that update all of them at once.

[2021-02-06 18:18] andyblac commented on #467
ok you could also try it on https://pyto.app, i managed to get it to run

![IMG_0481](https://user-images.githubusercontent.com/77936/107126404-9dba6e00-68a7-11eb-808d-6ca389264db8.jpeg)

it not free but only 2.99 for basic version, and free for 3 day to trial it.

[2021-02-06 18:23] andyblac commented on #467
i'll close this issue, as not much can be done.

[2021-02-06 18:23] #467 closed

[2021-02-06 20:39] juangamnik commented on #404
[fw.zip](https://github.com/mongoose-os-apps/shelly-homekit/files/5937604/fw.zip)

This is the compiled version of the firmware with my adaptions. Use it on your own risk :smile:.

[2021-02-06 21:05] Gedoense commented on #404
Thanks Johannes! But I just had an idea. What do you think is possible just to change the Shelly which will not be calibrated to one which is calibrated? My drives and the curtains are exactly the same. But at first I will test your version tomorrow!

[2021-02-06 21:06] HomeKid0815 commented on #404
Fantastic! Thx @juangamnik! Can I upload it from file right away or do I have to unzip it?

[2021-02-06 21:27] juangamnik commented on #404
OTA (over the air) update can be done like this:

[code]

Then try  out whether everything is OK (you have 2 minutes) and afterwards commit that the firmware version persists (if you do not call this, the firmware version will be rolled back):

[code]

The IP address has to be changed to the address of your device.

[2021-02-07 11:15] rojer commented on #377
unfortunately stock firmware does not provide any feedback or logs, update either works or it doesn't...

[2021-02-07 12:02] HomeKid0815 commented on #404
@juangamnik : Sorry for bothering again! I am still struggling with it.
http://<IP-Address>/update“ is clear and I will put my IP there, no problem.
But where do I have to put those commands („$ curl -F commit_timeout=120 -F file=fw.zip“) first? Is there a shelly terminal or so?
Many thanks in advance for your support!

[2021-02-07 12:04] andyblac commented on #404
are you on a mac or pc ?

[2021-02-07 13:10] HomeKid0815 commented on #404
hi @andyblac! I am on a mac.

[2021-02-07 13:39] andyblac commented on #404
open 'Terminal' located in /Applications/Utilities folder, nacigate to the folder that has your fw.zip,and type comand as above.

[2021-02-07 13:55] AnakinSpain opened #468 "Problems with Shelly 2.5 and wifi AP"
My Shelly 2.5 with firmware 2.7.3 doesn’t appear in my homekit nor scan lan.

Then i decided to restore Wifi Shelly and stock firmware but i can not join to Shelly AP

it sounds clic-clac ( the relay) but wifi SSID doesn’t appear

i have two Shelly wirh the same problem

[2021-02-07 14:35] juangamnik commented on #404
@andyblac: Thanks. @HomeKid0815: Please proceed as Andy writes 🙂

[2021-02-07 16:32] simonfield76 commented on #468
It seems not correctly restored.

In my opinion you should flash original firmware via Ttl interface

Inviato da iPhone

Il giorno 7 feb 2021, alle ore 14:55, AnakinSpain <notifications@github.com> ha scritto:

﻿

My Shelly 2.5 with firmware 2.7.3 doesn’t appear in my homekit nor scan lan.

Then i decided to restore Wifi Shelly and stock firmware but i can not join to Shelly AP

it sounds clic-cla

[2021-02-07 17:44] AnakinSpain commented on #468
I have an TTL USB but I need a wire with a small connection to Shelly. Where I can buy it?

[2021-02-07 17:48] simonfield76 commented on #468
I used the copper from an Ethernet cable (cat 6 as the copper is stronger)

Inviato da iPhone

Il giorno 7 feb 2021, alle ore 18:44, AnakinSpain <notifications@github.com> ha scritto:

﻿

I have an TTL USB but I need a wire with a small connection to Shelly. Where I can buy it?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/mongo

[2021-02-07 18:08] AnakinSpain commented on #413
There is another way to do that??

[2021-02-07 18:11] timoschilling commented on #413
@andyblac maybe we can add an `--ip/-i` flack to the python tool, like we do it with `--hap-code`?

[2021-02-07 18:30] AnakinSpain commented on #468
Finally I could update my shelly 2.5 from my MAC. I always do from my iPad or iPhone. But it responses very slow to load the web GUI.
`
235777527 shelly_main.cpp:554     Up 235.70, HAP 0/6/9 ns 6, RAM: 20684/41008; st 63; 4.1: c:0 mp:0.00 mt_ms:0 cp:0.00 tp:0.00 lemd:0 lhmd:0
243710632 shelly_main.cpp:554     Up 243.70, HAP 0/6/9 ns 6, RAM: 21328/41008; st 63; 4.1: c:0 mp:0.00 mt_ms:0 cp:0.00 tp:0

[2021-02-07 18:45] Gedoense commented on #404
@andyblac and @juangamnik how does it work on a PC? I´m really sorry for asking this, but if I try to update from the UI of the shelly and select fw.zip on my pc it doesn´t work. Thanks for your help

[2021-02-07 18:53] juangamnik commented on #404
@Gedoense: sorry, but I don‘t get it. What is your question? Whether you can calibrate the Shelly-2.5 on one curtain and then use it for another one, which has the same movement time? If this is your question, IMHO: No. Why that? Even an (automatically) calibrated Shelly uses the power measurement for movements to the limit position. So using it with the stock firmware and setting the working time

[2021-02-07 19:01] HomeKid0815 commented on #404
@andyblac Thx again; it looks like I got one step further. I did the following command (with Shellys real IP instead of XXX):
andre@MacMini Shelly % curl -F commit_timeout=120 -F file=fw.zip http://XXX.XXX.XX.XX/update
But I got the following message: Update failed to start
The zip file is in the folder Shelly, so I think I am in the right spot. Do you have an idea what went wrong? Cheers, André

[2021-02-07 19:28] AnakinSpain commented on #468
![Captura de pantalla 2021-02-07 a las 20 27 06](https://user-images.githubusercontent.com/4932853/107157177-fc084f00-6982-11eb-9a13-09f7b02d0b79.png)

[2021-02-07 19:40] andyblac commented on #413
can you provide me a a fill output of `http://{host}/rpc/Shelly.GetInfo` ?

as when i only set sta ip i am getting

[code]

[2021-02-07 19:42] AnakinSpain commented on #468
Now, after turn off and turn on again. I can see it

![Captura de pantalla 2021-02-07 a las 20 41 13](https://user-images.githubusercontent.com/4932853/107157558-f90e5e00-6984-11eb-8bcc-4ab5842f23ea.png)

[2021-02-07 19:46] andyblac commented on #413
think it needs

`ip
gw
mask
dns
`

[2021-02-07 20:04] timoschilling commented on #413
Maybe you simply provide empty values like the UI does

[2021-02-07 20:07] andyblac commented on #413
can you show me config please from static ? do you use ?, just my confg no sta section at all.

[2021-02-07 20:09] andyblac commented on #413
this is from stock
[code]

[2021-02-07 20:11] andyblac commented on #413
and with stock on static
[code]

[2021-02-07 20:12] andyblac commented on #413
but would like to see info on this fw with static ip working.

[2021-02-07 20:17] timoschilling commented on #413
Sorry I’m on the mobile device at the moment. Try to add ‘“gw”: null’ and so on to the request.
But maybe only setting the IP didn’t work on the network layer without the gw & co

[2021-02-07 20:18] grizz479 commented on #413
Mine with fixed ip and flashed shelly1:

`   "sta": {
      "enable": true,
      "ssid": "DOPAVIIs",
      "pass": "whateverpassword",
      "user": "",
      "anon_identity": "",
      "cert": "",
      "key": "",
      "ca_cert": "",
      "ip": "192.168.1.189",
      "netmask": "255.255.255.0",
      "gw": "192.168.1.1",
      "nameserver": "",
      "dhcp_hostname": "" `

[2021-02-07 20:19] timoschilling commented on #413
@grizz479 use 3 back ticks to fix the formatting

[2021-02-07 20:21] andyblac commented on #413
fixed it for him :)

[2021-02-07 20:21] andyblac commented on #413
thx

[2021-02-07 20:28] andyblac commented on #413
@grizz479 i take it if ip is ""  ie empty it reverts to dhcp ?

[2021-02-07 20:29] AnakinSpain commented on #468
with 2.7.1 again:

It is conected to LAN but web GUI doesn't load.

[2021-02-07 20:32] Gedoense commented on #404
I tried to update the Shelly with your zip file. I downloaded it to my windows pc. So then I moved on the Shelly and tried to make an update with the option select a file and upload it. So what I‘m doin wrong?

[2021-02-07 20:45] timoschilling commented on #413
@andyblac maybe this helps https://mongoose-os.com/docs/mongoose-os/api/net/wifi.md

[2021-02-07 21:02] grizz479 commented on #413
Setting “ip”: “” enables dchp client mode.
[code]

[2021-02-07 21:43] AnakinSpain commented on #468
then I returned to 2.6.1 and few minutes later It blocked again. I press the button once and then the web GUI load, perfectly. Now I am waiting what happens in a few minutes

[2021-02-07 21:46] andyblac commented on #413
ye, got it all working, just need to workout how force a reboot

{"reboot": true}

is not working

[2021-02-07 21:47] andyblac commented on #413
cmd will be `./flash-shelly.py --ip-type=static --ip=192.168.3.69 --mask=255.255.255.128 --gw=192.168.3.126 --dns=192.168.3.1 shelly1l-ADF044.local`

[2021-02-07 21:47] andyblac commented on #413
doing `./flash-shelly.py --ip-type=dhcp shelly1l-ADF044.local` removes static ip

[2021-02-07 21:49] andyblac commented on #413
@rojer how can i get the device to reboot via rpc ?

[2021-02-07 21:52] timoschilling commented on #413
@andyblac take a look on the UI it does a RPC reboot

[2021-02-07 21:53] timoschilling commented on #413
Does that new settings are working doting the stock -> hk update?

[2021-02-07 21:53] andyblac commented on #413
only found this https://github.com/mongoose-os-apps/shelly-homekit/blob/a3d9f7cf819ffdc213119d79d85d1a7d4a5eeb18/fs_src/index.html#L183

[2021-02-07 21:55] andyblac commented on #413
atm it does not require a flash to use, but i can add it after hap_setup, so it can be done all in one

[2021-02-07 21:56] andyblac commented on #413
here is what i have for function
[code]

[2021-02-07 21:57] andyblac commented on #413
[code]

[2021-02-07 22:01] andyblac commented on #413
as it can't be used with scan, i think it better to leave as seperate from flashing.

[2021-02-07 22:01] timoschilling commented on #413
https://github.com/mongoose-os-apps/shelly-homekit/blob/c8defd1f3178543eb60fc64d0c567c0e5b9ebb22/fs_src/script.js#L340

[2021-02-07 22:09] andyblac commented on #413
from static to dhcp 😄
[code]

[2021-02-07 22:10] andyblac commented on #413
back to static
[code]

[2021-02-07 22:10] andyblac commented on #413
@rojer you with those commands flags ?

[2021-02-07 22:12] juangamnik commented on #404
@Gedoense: What does it say?

@HomeKid0815: I am not sure what is going wrong. Do you have the latest stock version/shelly-homekit version installed?

[2021-02-07 22:19] HomeKid0815 commented on #404
@juangamnik : I think so. It says Version: 2.7.3 (build 20210124-130648/2.7.3-g883914a-master)

[2021-02-07 22:20] timoschilling commented on #413
True and it only works with one device at a time. Maybe only if we flash one device?

[2021-02-07 22:21] andyblac commented on #413
atm it coded for hk fw, but i need to make sure it will work with stock too imo.

[2021-02-07 22:23] andyblac commented on #413
here is beta if you want try it. [flash-shelly.py 2.zip](https://github.com/mongoose-os-apps/shelly-homekit/files/5940151/flash-shelly.py.2.zip)

[2021-02-07 22:28] juangamnik commented on #404
@HomeKid0815: I tried it via the Web UI... it takes some time, the says on an empty page `1 Update applied, rebooting` and when I then go back after 10s to the base address (`http://<IP-Address>`) I have the new version installed. Perhaps using the WebUI is a solution for you?

[2021-02-07 22:34] juangamnik commented on #404
@HomeKid0815: I found the mistake with the curl command. There is an `@` missing. Open `Terminal` app, `cd` into the folder where you downloaded `fw.zip`. Try:

[code]

And do not forget to call the following if everything is OK in less then 2 minutes after the update:

[code]

Sorry for the confusion.

[2021-02-07 23:16] Gedoense commented on #404
@juangamnik I just tried it again just with the iPhone. It says file uploaded and update installed. Version is now 20210206-203008/2.7.2-12-g27219b7-master)
Is this correct? But I can‘t find a textbox for the time. But anyway good night for today 😉

[2021-02-07 23:43] andyblac commented on #413
@timoschilling ok i have tweaked code so it now can set either after a flash or when just trying to set the ip, only 1 host is allowed

i still need to test stock fw, do that tomorrow

[flash-shelly.py 2.zip](https://github.com/mongoose-os-apps/shelly-homekit/files/5940422/flash-shelly.py.2.zip)

[2021-02-07 23:44] andyblac commented on #413
command lines are
`./flash-shelly.py --ip-type=static --ip=192.168.3.69 --mask=255.255.255.128 --gw=192.168.3.126 --dns=192.168.3.1 shelly1l-ADF044.local`

`./flash-shelly.py --ip-type=dhcp shelly1l-ADF044.local`

[2021-02-07 23:48] andyblac commented on #413
noticed a slight bug last minute

[flash-shelly.py 3.zip](https://github.com/mongoose-os-apps/shelly-homekit/files/5940444/flash-shelly.py.3.zip)

[2021-02-08 08:21] col-tom commented on #443
ok, let's get into the discussion:

* space budget: especially for that, it's nice to have such a framework (reusable components) and with a bundler that does a lot of stuff to extremely (!) compress all the asset files (HTML, JS, CSS, ...) With a bundler we can even automatically check and warn if size is e.g. over 20k and so on
* UI development: what's the long-term solution here? IMHO the curre

[2021-02-08 08:26] juangamnik commented on #404
Sorry this is my first change to this project. I'm investigating the issue. It is the same for me. Long story short: I changed the computer between my last build and your build. I was not aware, that in the repo there is a copy of the web ui called `index.html.gz`, which has been reloaded fresh from the repo with an "old" state (without my frontend changes).

I retest this and will ask the contrib

[2021-02-08 08:33] juangamnik commented on #404
OK here is a new firmware with the updated  web ui:

[fw-20210208-082340-2.7.2-12-g27219b7-master-dirty.zip](https://github.com/mongoose-os-apps/shelly-homekit/files/5942220/fw-20210208-082340-2.7.2-12-g27219b7-master-dirty.zip)

I renamed it, so that you cannot mix them up (you have to update your `curl` command accordingly, if you want to upload it from the terminal). It was the exact issue I me

[2021-02-08 08:35] juangamnik commented on #404
The firmware version can be read from the file-name. Here how it should look like:
<img width="716" alt="shelly-homekit-man_cal-1" src="https://user-images.githubusercontent.com/2939856/107194950-fb0e0680-69f0-11eb-82b4-47988d42d3db.png">
<img width="692" alt="shelly-homekit-man_cal-2" src="https://user-images.githubusercontent.com/2939856/107194966-02351480-69f1-11eb-8db9-e2cd3898a13c.png">

[2021-02-08 09:37] timoschilling commented on #443
We only want to have files in the firmware which are in the stock (original shelly) firmware, too. The reason is that then the stock firmware will overwrite our files if a user switches back to stock.

Other wise we can run in the case that we mess up the filesystem space and we will brick the stock firmware then.

But if we bundle our assets into the index.html like we do it now, we are fine. The

[2021-02-08 11:33] Gedoense commented on #404
Thanks a lot! I will test it in the evening when I´m back home! I will elt you if it works or not!

Have a nice day :-)

[2021-02-08 12:24] hamlet-archer commented on #346
Same issue. Would be great if two-way switches are supported. Thanks! 👍

[2021-02-08 13:10] grizz479 commented on #413
Great job @andyblac!
You figured it out on your own, but ticks in 'true' were the problem with rebooting.

Testing it right now in several devices.

[2021-02-08 13:11] HomeKid0815 commented on #404
@juangamnik Great!!! It worked like a charm! It is really fantastic work you are doing here! Many Thanks!

[2021-02-08 13:17] #434 closed

[2021-02-08 13:19] andyblac commented on #413
here is the latest version [flash-shelly.py 4.zip](https://github.com/mongoose-os-apps/shelly-homekit/files/5943892/flash-shelly.py.4.zip)

handles both stock and homekit fw type.

[2021-02-08 13:19] grizz479 commented on #413
Works perfect in flashed 2.7.3.

But "list all" returns a problem:
[code]

[2021-02-08 13:20] andyblac commented on #413
./flash-shelly.py --ip-type=static --ip=192.168.3.69 --mask=255.255.255.128 --gw=192.168.3.126 --dns=192.168.3.1 _hostname_`

`./flash-shelly.py --ip-type=dhcp _hostname_`

[2021-02-08 13:21] andyblac commented on #413
try with ver4 zip

[2021-02-08 13:23] grizz479 commented on #413
Yup, not happening with v4

[2021-02-08 13:32] andyblac commented on #413
cool, please report any issues, you should beable to use it when flahing too 😄 so it could flash from stock to hk, then setup ip, all in 1 commad line

[2021-02-08 15:02] andyblac commented on #409
can this be closed? @iDevelopControlTechnology do you still have issues ?

[2021-02-08 15:17] andyblac commented on #413
this has been merged, i'll close again.

[2021-02-08 15:17] #413 closed

[2021-02-08 15:24] rojer commented on #443
i don't know, i don't fee particular strain on the framework (or lack thereof) at the moment.
so it' not like things are on fire, i think we can scale current approach for some time still.

that said, i'm not opposed to using a framework of some sort, and i've heard good things about preact in particular.
if it can be made to work within the constrains that i explained above, then i'm all for it.

[2021-02-08 15:32] rojer commented on #209
in general, we tend to delegate all the "smarts" to homekit controllers. that said, if features are easy to implement and non-intrusive, i see no problem.
in this case, i think adding a "single shot auto-off" option to the RPC call (i.e. API) would be simple enough to do. no need to expose it in the UI and homekit (there' no way to do it anyway).

[2021-02-08 15:34] andyblac commented on #209
and point 1 / 2 ? doable ?

[2021-02-08 15:35] rojer commented on #209
now, this is a bit too complicated to my taste. is it possible to do with automations instead?

[2021-02-08 15:36] andyblac commented on #209
not really, HomeKit "turn off after" is awfull does not work reliably.

[2021-02-08 15:38] andyblac commented on #209
3 mins is about HomeKit max, else it just seems to forget to turn it off again.

[2021-02-08 15:38] rojer commented on #461
this is working as intended but in your scenario i don't understand one thing: why do you have the stateless switch input set to toggle? it seems that just leaving it in momentary mode would allow you to inject events, so... why not?

[2021-02-08 16:05] col-tom commented on #443
Can you give a little background to me how all the things work with the local filesystem or is there a good, lightweight documentation about it? Can we increase it?

[2021-02-08 16:51] timoschilling commented on #443
I will update the wiki about the local dev topic.
tl;dr: open `fs_src/index.html` in your browser, input the host name of a shelly and it will work.

[2021-02-08 16:57] timoschilling commented on #443
@rojer I think using preact will be a great benefit and will be maybe not const as much in size, while we can drop some of our code and can write more reusable code. I would expect that we came to +3-4k only.

[2021-02-08 17:34] Gedoense commented on #404
@juangamnik Awesome, it works very good! Well done Johannes! 😘

@rojer Please update the 2.7.3 😆

[2021-02-08 17:39] juangamnik commented on #404
@rojer I will rebase the pull request this evening.

[2021-02-08 18:41] juangamnik commented on #404
@rojer @andyblac: I'm not sure whether this is something that goes back to my changes, but using the shelly 2.5 with manual calibration and different move- and limit times leads to small position corrections when using the switch inputs (at least in momentary mode). I have to test this in more detail, but perhaps this relates to my changes...

[2021-02-08 19:02] POFerro commented on #461
Hi @rojer ,
That’s because my physical switch is of type toggle, if I configure it as momentary my wife kills me since the way the switch works becomes weirder for her 😂.
The system that injects the events is just a playground for me to be able to simulate the switch press from my pc, so it’s secondary to my wife’s needs ;).

Since it’s as designed, no worries, I’ll use the workaround.
Thanks and

[2021-02-08 19:18] andyblac commented on #461
ok, i'll close.

[2021-02-08 19:18] #461 closed

[2021-02-09 13:50] timoschilling opened #475 "What are the browser requirements of this project?"
Does we still support IE11 for example?

[2021-02-09 20:14] rojer commented on #475
um... no. no, no, no. :)

since it's targeted at Apple users, obviously safari support, mobile and desktop, is a must.
chrome also should work, the rest - don't care, pretty much.

[2021-02-09 20:14] #475 closed

[2021-02-09 20:15] rojer commented on #461
@POFerro ok, i understand :)

we do not currently support change events injection... i don't remember exactly why, but it seemed not trivial to it correctly at the time and i didn't need it.

[2021-02-09 20:21] rojer commented on #443
if that's possible and you think will bring benefit - sure, go ahead. i have no upfront objections but the final result must represent a clear improvement over what we have today, in terms of size and/or readability.

[2021-02-09 20:31] rojer commented on #209
since this is not present in the stock firmware and there is already "turn off after" feature in homekit, i think this would be an overreach on our part.
if the feature doesn't work, it should be reported to apple and hopefully get fixed.

i am fine with implementing (3) - per-request auto off time override for the API, that's easy to do.

[2021-02-09 21:02] andyblac commented on #209
`turn off after` does work as one off, just not with sensors verry well. using short timer it works just you can;t timer say 10mins / 20 mins, it the same with shortcuts, long timers dont work. it always been this way, lots of people have submitted bug reports apprently but it is never changed.

[2021-02-09 21:03] andyblac commented on #209
@rojer can we go back to your 1st sugestion then?

how does that sound?

and option 3 aswell.

[2021-02-09 21:21] timoschilling commented on #475
Ok nice

[2021-02-11 10:07] Ioan-Popovici opened #479 "Does this firmware work with shelly uni?"
I want to make a temperature and humidity switch with two channels out of it.
Is it possible to make it homekit compatible?

[2021-02-11 12:24] timoschilling commented on #479
Not at the moment but I will work on it in the next weeks.

[2021-02-11 17:44] Jose-2021 commented on #252
I have a similar problem. One of my 2 Shelly2.5 is rebooting randomly for the last 3 days.

**In my case it** doesn't seem to be a problem of WiFi range but **could be associated with a malfunction of my Asus Router**, which is also rebooting from time to time (nevertheless, they are not synchronised, the Shelly is rebooting while the router is working well - I cannot confirm the other way around

[2021-02-11 17:46] Jose-2021 commented on #252
Have you tried going back to stock, disabling that option and installing Mongoose again?

[2021-02-11 17:47] Jose-2021 commented on #252
@rudyemm , have you tried going back to stock, disabling that option and installing Mongoose again?

[2021-02-11 21:10] juangamnik commented on #404
Sorry for the delay... I synced the fork. The index.html.gz (that caused my confusion) is now gone from the repo. Thanks :).

The check was successful and the current built may be downloaded now here:

https://github.com/mongoose-os-apps/shelly-homekit/suites/2022082155/artifacts/40563570

[2021-02-11 22:44] rojer commented on #252
we don't respect the stock setting for this but the firmware does have logic in it to reboot if wifi is configured but has been down for more than 5 minutes.
the reboot should not be noticeable and it preserves the state of the outputs and only happens if the device is otherwise idle.

[2021-02-11 22:45] rojer commented on #252
so it does mean that if wifi router goes down, shelly devices will be on a 5 minute reboot cycle. but again, it should not actually result on any state changes of the outputs.

[2021-02-11 23:15] andyblac commented on #435
how does this look ?

![Screenshot 2021-02-11 at 23 12 46](https://user-images.githubusercontent.com/77936/107711134-0b5b0580-6cbf-11eb-91c8-91f1dd5719b2.jpg)

[2021-02-11 23:25] ZeevoX commented on #435
Aesthetically looks good for sure, however, not sure this is the clearest in terms of user interface. The status is not "Turn off", and because of the green colour it adds even further confusion as to whether it is currently "turned off" or whether pressing the button should turn it off.
Since this is a binary selection between on/off, could we have something similar to the toggle switches? (also

[2021-02-11 23:27] andyblac commented on #435
I'll have a go 😄

[2021-02-11 23:30] rojer commented on #404
@juangamnik i have not forgotten about #404, thanks for putting it up. but more thought and work is required before this can be integrated, so i'm thinking about the best way to do it.
let me think aloud a bit and let's discuss.

so, i think allowing movement without power consumption monitoring, purely based on time is good in general, no objections here.
i also think that adding a separate "star

[2021-02-11 23:33] rojer commented on #435
agree with Timothy here - green to turn off is confusing. and replacing with toggle switch is a good idea as well, i like it.

[2021-02-12 00:01] andyblac commented on #435
![Screenshot 2021-02-12 at 00 00 53](https://user-images.githubusercontent.com/77936/107714573-6bed4100-6cc5-11eb-9c72-b465e0efafd9.jpg)

[2021-02-12 00:14] andyblac commented on #435
and with power meters
![Screenshot 2021-02-12 at 00 13 42](https://user-images.githubusercontent.com/77936/107715475-3fd2bf80-6cc7-11eb-89e9-44aea3a4fb26.jpg)

[2021-02-12 00:17] andyblac commented on #435
or
![Screenshot 2021-02-12 at 00 17 08](https://user-images.githubusercontent.com/77936/107715655-af48af00-6cc7-11eb-8d9d-bfc668942a6e.jpg)

[2021-02-12 07:04] patricks commented on #252
This is strange, I still have problems with random light on/off problems with one of my Shelly's. If you say the state is restored after reboot, this has to be an other problem.

[2021-02-12 09:40] pivale commented on #435
I like these last two concepts most.
It's consistent with apple, homekit and with the rest of the UI that already had those toggles.

[2021-02-12 09:49] andyblac commented on #435
ye, me too now, atm i have an issue where the status is not auto updating, if i change the power state in HomeKit, it is not auto refresh, works if i manually refresh page.

still learning html5 and JS. 😄

[2021-02-12 10:59] Cyrille556 opened #485 "Suggestions for improving the Shelly 1 with Push button"
#Hello ,
I am using a Shelly1 with two push buttons with a 5 minute Auto OFF, how can I use the push buttons only to turn on the light and restart the 5 minutes of auto OFF?

[2021-02-12 12:00] Jose-2021 commented on #252
Thanks @rojer for the responses. The 5min reboot logic seems good to me.

I'm digging a bit more in my problem:
- It is happening to the 2 Shelly2.5 I have and not to the 2 Shelly1 (all of them with the latest version)
- I know that it is affecting both Shelly2.5 because of their uptime value but, it seems that lights don't turn off with one of them.
- It is not a reboot every 5 minutes, sometimes

[2021-02-12 12:57] andyblac commented on #435
PR submitted https://github.com/mongoose-os-apps/shelly-homekit/pull/486

[2021-02-12 13:07] andyblac opened #487 "update badge does not auto update correct status"
the update badge does not auto show hide on auto refresh
Ie

1. when on 2.7.2
2. open webUI
3. used tools/flash-shelly.py to update, but you can confirm by have 2 webui windows open, one to update, one to show status bug.
4. after device reboot
5. webui still shows “update”
6. refresh page
7. update badge gone

[2021-02-12 14:53] andyblac commented on #485
change input mode to activation

![Uploading Screenshot
2021-02-12 at 14.51.09.jpg…]()

https://github.com/mongoose-os-apps/shelly-homekit/wiki/Switch-Settings
• Activation: use it for motion sensor, any input turns "ON" and resets Auto OFF timer.

[2021-02-12 14:58] #485 closed

[2021-02-12 14:59] Cyrille556 commented on #485
thank you so much! it works very well !

[2021-02-12 15:39] #435 closed

[2021-02-12 15:43] thaetig commented on #362
As I hat time to Look into the HAP protocol now I understand the issue. By default Apple only supports fixed/enumerated data types for objects (described here: https://developer.apple.com/documentation/homekit/hmcharacteristic/characteristic_types). EVE has set a „de facto standard“ to enhance these... not as simple as I thought then, either :( But this must be quite common/widely spread, too- as

[2021-02-12 15:53] rojer commented on #177
fixed by #488

[2021-02-12 15:53] #177 closed

[2021-02-12 16:32] ZeevoX commented on #375
@BlancoDeMallloca and everyone else

Regarding the support status of doorbells in HomeKit. The service type is still present on [Apple's developer docs](https://developer.apple.com/documentation/homekit/hmservicetypedoorbell). However, it is not mentioned even once in the code for the [HomeKit ADK](https://github.com/Apple/HomeKitADK/). Back in July 2018 [Apple removed the entire doorbell category

[2021-02-12 16:42] basroovers commented on #375
I would be fine it fakes a camera somehow. I just want it for the notifications.

[2021-02-12 16:45] jsiegenthaler commented on #375
I use https://github.com/Sunoo/homebridge-camera-ffmpeg with a GIF stored on my raspberry pi for the image and it works well on my iPhone with iOS 14.4 (and prior versions) . It also works with a static image or with no image. You could always add a default image, one of the existing icons and maybe some text, if you can pack that into the tiny memory space.

[2021-02-12 16:52] BlancoDeMallloca commented on #375
@ZeevoX and all: Thanks for the time spent on this issue.

For me its also fine to have a predefined image or an icon. As @basroovers already wrote the main feature is the notification.

Trank you very much

[2021-02-12 17:08] DerKoller-eu commented on #375
I attached two screenshots how it looks like in my home app.

i have a Shelly 1 with the stock firmware and Homebridge-Shelly-doorbell plug-in from @sl1nd installed.

The Bell itself doesn’t show up in HomeKit but the Homepods ring if someone pushes the button. Additionally you get two switches where I can turn the mechanical gong at my door as well as the digital gong for the HomePods on or off.

[2021-02-12 20:53] juangamnik commented on #404
@rojer I agree, that the solution should be well thought and I appreciate that you like my "idea". I first used "end position", but then saw, that you used "limit" on other occasions in the code. I tried to stay in the existing naming scheme. Perhaps `move_to_end_time`? I think, that having different states in the state machine for `moving` and `moving_to_end`, whereas the latter does not add to t

[2021-02-12 20:54] juangamnik opened #493 "Improve Development Documentation"
I would like to add some developer documentation  describing the architecture in the wiki a llittlebit (so that one does not have to read the complete mongoose os docs but gets a good idea of how it works).

@rojer what do you think?

[2021-02-12 20:59] juangamnik opened #494 "More Testing"
I would like to add some end2end tests. I have not planned any details, yet. Is there interest?

[2021-02-12 21:01] Jose-2021 commented on #252
No.... both lights turn off and on...
But no problems with any of the Shelly1

[2021-02-12 21:06] timoschilling commented on #375
@ZeevoX The post that are you liked to is outdated or wrong, doorbells are back and they worked, only the Home app tile says unsupported.
Hier is it listeded in Apple Docs https://www.apple.com/ios/home/accessories/#section-bell
<img width="844" alt="Screenshot 2021-02-12 at 21 52 19" src="https://user-images.githubusercontent.com/165599/107821369-9817c900-6d7c-11eb-8144-bb654561f2bb.png">

The Ho

[2021-02-12 21:40] ZeevoX commented on #375
@timoschilling Yes! Thank you for pointing this out, indeed it says unsupported but pressing it causes a notification.

![image](https://user-images.githubusercontent.com/8385172/107825331-ceecdf80-6d7a-11eb-9fbc-e1b0a943095d.png)

But I guess since there is no UI that means there is no switch for digital and mechanical gong like in the screenshot @DerKoller-eu posted?

[2021-02-12 22:40] andyblac commented on #493
sure go for it. any help maintaining wiki i'd be greafull.

[2021-02-13 06:11] DerKoller-eu commented on #375
The switch is created by the Homebridg plug-in. S as this is a nice feature I would love to see this in a Shelly HomeKit Firmware as well..

[2021-02-13 11:36] guarnacciaa commented on #346
I came here cause I'm failing to use this firmware on a 3-way installation and I guess I just found out why.
I guess the only option as of now is to go back to the stock firmware and see if it can be integrated through Homebridge.
I hope you guys will work on this asap as having no control over the Switch 2 is indeed going to impact a lot of implementations.
Keep up with the good work!

[2021-02-13 11:46] andyblac commented on #346
for the time being just setup the detached button in HomeKit as a ShortCut automation to toggle the light on / off

[2021-02-13 11:51] mjorgef commented on #346
That’s a great way to do it, can you show the shortcut that you did?
Maybe I’m gonna try that option!

[2021-02-13 11:53] andyblac commented on #346
follow this example https://github.com/mongoose-os-apps/shelly-homekit/wiki/Stateless-Toggle-Switch

[2021-02-13 12:03] andyblac commented on #487
on reading the update code it seem it was done this way on purpose, @ZeevoX any reason that you only check once on manual page load ?

[2021-02-13 12:28] ZeevoX commented on #487
otherwise we were pinging rojer.me every second, it was slowing the autorefresh service down

[2021-02-13 12:33] andyblac commented on #487
ah ok, makes sense, i'll close this one then

[2021-02-13 12:40] rojer commented on #487
i think it makes sense to perform an update check if the version reported by the device has changed.
i.e. if Shelly.GetInfo returns a version different from the one that it was on the first update, UI should reset the update check timestamp and reload itself

[2021-02-13 12:42] rojer commented on #375
this can be done in a separate update.

[2021-02-13 13:27] rojer commented on #494
there's plenty of interest, for sure.
i think best start is to use the ubuntu port, it requires no additional hardware. after that we can consider adding tests on real devices.

[2021-02-13 13:28] juangamnik commented on #494
The idea is more or less to have some selenium/webdriver tests that try out some features. They can either be executed on a real device (configuring the target address of the web UI) or a simulated machine... is there a simulator (I do not know the capabilities of mongoose here, sorry)

[2021-02-13 13:32] rojer commented on #494
`make ShellyU` will build a binary that can be run on a Ubuntu linux system and represents a fully functioning device, except of course there are no real outputs. but web interface is fully functional (except for wifi) and the accessory can be discovered and added to the Home app. in addition, the binary is build with address sanitizer enabled, so it will catch leaks and other memory management bu

[2021-02-13 13:33] rojer commented on #494
in fact, i do most of my developemnt on the ShellyU port:

[code]

[2021-02-13 15:43] timoschilling commented on #494
Maybe we can use the GitHub action runner for Mac and use docker inside to run the ubuntu build. Then we can use the Mac home app to control the Ubuntu device.

[2021-02-13 19:05] juangamnik commented on #494
Sounds great, I will start with something easy and come back to you.

[2021-02-13 23:45] andyblac commented on #487
@rojer like this https://github.com/mongoose-os-apps/shelly-homekit/pull/496

[2021-02-14 10:38] timoschilling commented on #494
Just a notice I’m currently working on a rewrite using the preact framework. Maybe this will effect your work. Maybe then we should wait with the tests?

[2021-02-14 13:02] rojer opened #498 "Testing 2.8.0"
Starting the 2.8 release cycle.

What are we testing:

- Valve support (#433) (no timer support and only generic valve and irrigation at the moment)
- Doorbell support (#375) (set Input to detached and Input HAP Type to Doorbell)
- Web UI changes, making sure stuff still works after cleanups and refactoring
- Inverted output mode (#408)
- Longer ramp-up time for roller-shutter (#324)
- Longer sens

[2021-02-14 13:03] rojer commented on #375
@DerKoller-eu @BlancoDeMallloca i've cut 2.8.0-alpha1, please help test - https://github.com/mongoose-os-apps/shelly-homekit/issues/498

[2021-02-14 13:03] #375 closed

[2021-02-14 13:03] rojer commented on #43
please help test at https://github.com/mongoose-os-apps/shelly-homekit/issues/498

[2021-02-14 13:05] rojer commented on #498
@timoschilling one thing i noticed is that after the mobile layout change we have spinners overlap with button labels. it looks meh, can you please avoid that, at least in cases where we have enoughwidth and can afford it?

[2021-02-14 13:16] BlancoDeMallloca commented on #375
Thank you very much. Need to go to the workshop to get add. installation material. Will test it asap.

[2021-02-14 13:26] timoschilling commented on #498
👀

[2021-02-14 13:41] scrublife93 opened #499 "Static IP setting"
Please add the abiulity to set static IP over the Homekit Interface. Now I have to revert it to stock, set static ip and flash it again

[2021-02-14 14:27] rojer opened #501 "Better WiFi configuration"
We need a better, more advanced WiFi configuration.
1. We should allow configuring static IP settings: IP, netmask, gw
2. There should be up to 3 independent wifi configs. Mongoose OS already supports this, there are 3 identical sections: wiif.sta, wiif.sta1 and wifi.sta2 that will be tried one after another until a working one is found.

Suggested UI: 3 identical tabs in the WiFi section, 1 for e

[2021-02-14 14:27] rojer commented on #83
closing in favor of #501

[2021-02-14 14:27] #83 closed

[2021-02-14 14:28] rojer commented on #358
closing in favor of #501
having multiple wifi configurations will allow for smooth migration of networks.

[2021-02-14 14:28] #358 closed

[2021-02-14 14:28] rojer commented on #313
closing in favor of #501

[2021-02-14 14:28] #313 closed

[2021-02-14 14:29] rojer commented on #499
created #501

[2021-02-14 14:29] #499 closed

[2021-02-14 14:50] andyblac commented on #499
could always use the script for time being.

[2021-02-14 15:08] danny1605 commented on #498
Hello i have extensively tested the 2.8.0-alpha1 version with a shelly 1 HAP Service Type Valve. I couldn't find any errors. Can I leave the alpha version installed until the current version comes out? Many thanks again for the migration

[2021-02-14 15:09] rojer commented on #498
thanks @danny1605 . leave it on the device, once 2.8.0 is released you will be able to update to it via regular update check.

[2021-02-14 15:41] andyblac commented on #498
valve type is limited to one device type, you should be able to choose in homekit sprinkler, valve, etc.

[2021-02-14 18:36] juangamnik commented on #494
You are right. We are using react (and react native) with typescript a lot at work. I didn‘t know preact... sounds good. Please use Typescript and not plain JavaScript, ok? 😇

[2021-02-15 06:39] col-tom commented on #501
What about adding also a better, more understandable WiFi quality display like bad, good, .... (not just some negative numbers)

[2021-02-15 09:53] pnuding commented on #310
Just to chime in that this remains a headache. After a successful pilot I've switched 25 shellies here at home to this project (2.7.3) and while all of them were rock-solid with uptimes in months on the stock FW, they're now a mixed bag. 18 of them have been running for a week without a hitch. 6 have had a few hiccups and 1 (which gets poor signal strength) is rebooting a dozen times every day.
Wh

[2021-02-15 11:37] gate546 opened #505 "firmware version 2.7.2 shelly 2.5 trouble with chain actuators windows - original firmware work well"
Closed

[2021-02-15 11:40] gate546 commented on #505
firmware version 2.7.2 shelly 2.5 trouble with chain actuators windows - stock firmware work well
just for to be sure I try many older firmware and the problem seem to be the same.
with original fw all work well.
For some reasons the calibration process don't run well, the process start and stop continuosly

[2021-02-15 12:12] timoschilling commented on #501
@rojer if you have some range suggestions I can do that.

[2021-02-15 13:10] andyblac commented on #505
Take a lot here, if this sounds your issue, please close thus issue, and chat in that one, if not please give more information about your problem.

[2021-02-15 13:32] gate546 commented on #505
OK
You are right, the issue is the same.

[2021-02-15 13:36] andyblac commented on #505
ok i'll close this issue.

[2021-02-15 14:32] gate546 commented on #404
any update on this?
on my system the fw : fw-20210208-082340-2.7.2-12-g27219b7-master-dirty.zip have trouble, only the open switch run, the other side remain disabled
The original fw work well.
In my case the current is very low, like 3 or 4 watt, but is present

[2021-02-15 16:03] BlancoDeMallloca commented on #498
Installed the 2.8.0-alpha1. Where can I find the doorbell mode? I only see switch or garage opener mode.

[2021-02-15 16:31] andyblac commented on #498
it is located in "Detached" and in "Input1" as "Doorbell"

[2021-02-15 16:35] BlancoDeMallloca commented on #498
Thanks. Going to test it later.

[2021-02-15 18:14] juangamnik commented on #404
@gate546 I didn‘t change anything to the handling of switches, so behavior should not differ. I made just a minor change.

[2021-02-15 18:16] juangamnik commented on #404
@rojer is my end position handling ok for you using/enhancing the state machine? I do not start with this if it is clear from beginning, that it is an improvement from your pint of view...

[2021-02-15 18:38] Marcus-1976 opened #506 "Shelly 1 sporadically no longer accessible - power interruption necessary."
Hello,
I am brand new here in the forum.
Maybe you can help me.
I have some Shelly 1 and ShellyPlug in use.
They are all flashed with the Homekit firmware you programmed.
The current firmware 2.7.3 is installed on all Shellys.

Unfortunately, one Shelly 1 keeps giving me problems.
I have already replaced it, but the same thing happens with the new one.

Shelly 1 is connected to the heating valve i

[2021-02-15 19:02] andyblac commented on #506
sounds like a wifi issue, but -65 should not casuing any issues, is there any differant about that location ?, like differant access point, anything that could be causing interference ?

[2021-02-15 19:12] Marcus-1976 commented on #506
Hello andyblac,

thank you for your quick reply.
It is indeed only the one Fortigate access point that is installed centrally in the flat. There is no other access point. The AP sends out a WLAN SSID for 2.4GHz and 5GHz.
Many of the other Shellys are much further away from the AP and always work without problems.

The previous Shelly, which was installed on the heating valve, also always showed th

[2021-02-15 19:30] andyblac commented on #498
Valve support seems ok for generic and irrigation, but Faucet and Shower Head do not work on my Shelly1, i just get no response.

[2021-02-15 19:33] simonfield76 commented on #506
You could try setting a second ssid only with 2.4 ghz active if your router has this option.

Inviato da iPhone

Il giorno 15 feb 2021, alle ore 20:13, Marcus-1976 <notifications@github.com> ha scritto:

﻿

Hello andyblac,

thank you for your quick reply.
It is indeed only the one Fortigate access point that is installed centrally in the flat. There is no other access point. The AP sends out a WLA

[2021-02-15 19:37] Marcus-1976 commented on #506
Hello simonfield76,

unfortunately I can't set different SSIDs for 2.4GHz and 5GHz, the AP doesn't support that.

But if that were the problem, other shellys should also cause problems?

The next Shelly, which is actually installed right next to the heating Shelly, is the Shelly that controls the light in the kitchen and always does so without any problems.
The two Shellys are installed about 30 c

[2021-02-15 19:47] andyblac commented on #506
@Marcus-1976 is there anything close to the device that could be casuing interearance ?, as @simonfield76 seperating the 5Ghz and 2.4Ghz would help out shellys, it has been known to casue issues, but as you say it would be happing to the other shelly devices you have.

it definatly sounds like wifi issues.

[2021-02-15 20:00] Marcus-1976 commented on #506
Until last week, the heating shelly was installed in a flush-mounted box (switch box) directly next to the light shelly, not 3 cm apart.
Now the heating Shelly is about 30 cm away from the light Shelly, but the situation has not changed.
As I said, changing the shelly hardware didn't help either.
The following Shellys are installed in the kitchen:
- Light Shelly (3 automations are controlled with

[2021-02-15 20:02] andyblac commented on #506
is it near your microwave oven it could be that.

[2021-02-15 20:03] andyblac commented on #506
something near the device it causing interfearance to the wifi signal.

[2021-02-15 20:31] Marcus-1976 commented on #506
No, no microwave.
Last week there was only a building site, no kitchen or kitchen furniture was installed at all, because we got a new kitchen on Friday, and it happened again that the Shelly was suddenly no longer accessible.

[2021-02-15 20:46] andyblac commented on #506
sounds like you may need an aditional access point near that area.

[2021-02-15 20:52] kamilpop opened #507 "Reverse status in HomeKit"
I have several Shelly 2.5 installed as blind control on the window and a sun awning. In HomeKit, these are displayed as active or open when retracted. But this should be inactive (gray). How can I change it?

![ED18C038-E596-48D2-AFFB-B40C8F890EED](https://user-images.githubusercontent.com/79114494/107991865-c80ed880-6fd7-11eb-9cb6-7db485020a72.png)

![B8CF25A7-BF56-4F35-B0DE-D29A45FDA0F0](https:/

[2021-02-15 20:54] Marcus-1976 commented on #506
The access point is right next to the kitchen door.
The other Shellys, which are distributed throughout the flat, have far worse network connections, see here:

Sleeping Room:
RSSI: -71Host: shelly1-483FDA91AEA7.localIP: 10.30.0.129
RSSI: -81Host: shellyplug-s-B48A93.localIP: 10.30.0.135
 RSSI: -80Host: shelly1-483FDA9187CA.localIP: 10.30.0.136

And these always work.

[2021-02-15 22:00] Cyrille556 opened #508 "Secure web interface"
Good evening, I wanted to know if it was possible to block web interface access with a code? I would like to be the only one on my network to be able to access the settings of the Shelly.

[2021-02-15 22:22] timoschilling commented on #443
FTR: I'm working on a preact UI rewrite, preview PR will follow in the next days

[2021-02-15 22:23] timoschilling commented on #508
double of #82

[2021-02-15 22:32] #508 closed

[2021-02-15 22:38] andyblac opened #510 "[Valve] Faucet and Shower Head broken"
do not work on my Shelly1, i just get no response, as reported here https://github.com/mongoose-os-apps/shelly-homekit/issues/498#issuecomment-779412674

[2021-02-15 23:20] ZeevoX commented on #501
Taking Android as an example, it uses a range of -55 to -100 and splits it up evenly between 5 levels (zero to four bars) – https://android.googlesource.com/platform/frameworks/base/+/ccbf84f/wifi/java/android/net/wifi/WifiManager.java#944

[2021-02-16 06:09] jsiegenthaler commented on #506
Try reducing the WiFi signal strength by 19dB. Either just at the problem Shelly1 or centrally. You can do this by loosely covering it with tin foil. Make sure all terminals and wiring are insulated to avoid contact.

[2021-02-16 07:13] BlancoDeMallloca commented on #498
Testes ist in a test environment and seems to work fine. No issues discovered.

[2021-02-16 08:24] grizz479 commented on #448
Still having this problem.
It worked fine for a few days but after a wifi issu troubleshooting it began guving wrong state again.

i just erased the accessy from homekit, rebout and linked again. Same problem. Here the log:

[code]

[2021-02-16 09:59] andyblac commented on #507
have you tried swap outputs ?

[2021-02-16 10:56] Ludelag opened #511 "Shelly i3 with PIR sensor"
Hello, I just wold like to ask if someone has tasted the shelly i3 with a PIR sensor using Mongose OS App, if yes how it works and wiring schema? any recomendations of PIR sensor or could be use any?
Thank you

[2021-02-16 11:39] timoschilling commented on #510
I can reproduce this, but I can't fix it. Maybe @rojer can take a look or we drop the support for "Shower Header" and "Water Faucet".

[2021-02-16 12:29] timoschilling commented on #501
we have already a definition https://github.com/mongoose-os-apps/shelly-homekit/wiki/WiFi-Settings

[2021-02-16 13:44] rojer commented on #510
@timoschilling can you elaborate on the issue?

[2021-02-16 14:07] timoschilling commented on #510
The only thing I can say is:
1. peering a valve in shower or faucet mode didn't worked
2. peering a valve in generic or irrigation mode worked
3. after changing from a working generic or irrigation to shower or faucet has the following effects:
a. The valve type (characteristic) didn't switched (can not be seen in the Home app, but in the Home+ app, maybe in others too)
b. If I tried to turn on th

[2021-02-16 17:18] janbl opened #515 "Device getting warmer compared to original firmware (1+2.5)"
My feeling is that the power consumption in idle mode is higher compared to the original firmware. I did not measure it but the device is getting a lot warmer.
Can we reduce the activity or is it bound to the home kit communication?
I have tested with Shelly 1 and Shelly 2.5

[2021-02-16 17:52] andyblac commented on #515
i have no issues with temps on 2.5
![Screenshot 2021-02-16 at 17 51 52](https://user-images.githubusercontent.com/77936/108101838-b84acf00-707f-11eb-8b2f-1e6bf085a35a.jpg)

what are yours at?

[2021-02-16 18:56] rojer commented on #515
yeah, i'd like to see some evidence first. homekit handshake is computationally intensive, but once it's done and connection is idle, it shouldn't be doing much.
that said, we do not put CPU or wifi radio into any kind of power saving mode but as far as i know, neither does stock fw.

[2021-02-16 20:31] chstoll commented on #515
I do have one which is always above 70°C :
![Unbenannt](https://user-images.githubusercontent.com/30579097/108117745-9fe9ad00-709d-11eb-992c-a8d745375abd.PNG)
This one runs in switch mode. All my other Shelly 2.5 run in Rollershutter mode and are around 60-65°C. The are all mounted behind switches inside the wall.

[2021-02-16 20:35] andyblac commented on #515
my mine are inside the cavity, having said that, I think your isssue is location more than anything.

[2021-02-16 21:12] AnakinSpain commented on #468
This shelly must be briked or something. It respond too late. When i load the web gui it happens a few minutes later. Near router.

[2021-02-16 21:54] #507 closed

[2021-02-17 08:07] janbl commented on #515
Mine are around 60°C outside the wall and 65° inside. It's winter and they are inside the outer wall. I am concerned about summer temperatures.
But for me the questions is about the difference to the original firmware. In comparison it is 10-15°C warmer. Which is a lot in electronics.

[2021-02-17 08:48] col-tom commented on #515
What is the worse what could happen if temp goes up and up? fire?
Is this the same for shelly1 (without temp sensor) ?

[2021-02-17 10:00] andyblac commented on #515
it has a safety cut off iirc, @rojer can confirm temps but iirc it around 90˙c

found it: https://github.com/mongoose-os-apps/shelly-homekit/blob/21c70ee330351ea6ddf46d5361e5a0260e2a2f59/mos.yml#L38

[2021-02-17 11:04] AG-dingoant opened #516 "Garage Door sensor with variable results"
Hi,
I use a Shelly 1 V3 to open the door of my garage. The open and close action works perfectly. I have some troubles sometimes with the magnetic sensor. When the door is open sometimes the Shelly gives a closed status. I didn't changed the wiring of the sensor.

Thanks for your work. I was using the stock firware and limited the usage of shelly to my garage door. Thanks to your firmware and the

[2021-02-17 11:11] AG-dingoant commented on #516
Same than the issue #448. I close the case.

[2021-02-17 11:11] #516 closed

[2021-02-17 11:15] AG-dingoant commented on #448
Hi,
I have exactly the same issue but I couldn't find the variables. I open the door only from the HK applicaiton.

[2021-02-17 11:28] AG-dingoant opened #517 "Shelly 2.5 bipolar switch mode"
Hi,
I have outdoor lights with bipolar switches (it is a rule in my country). I would to use a shelly 2.5 to command the outdoor lights. One of the switches will be used for the Pole and the second for the Neutral. It would be nice to have a bipolar mode that

- has only 1 switch in HK
- links the switch 1 to the switch 2 to automate the switch on

Do not hesitate to request more details if my req

[2021-02-17 11:57] col-tom commented on #515
Also for shelly1 ?

[2021-02-17 12:23] andyblac commented on #515
dont think so, shelly1 does not have hardware needed.

[2021-02-17 12:56] col-tom commented on #515
and what happens then? 😀

[2021-02-17 12:58] andyblac commented on #515
thats one for @rojer

[2021-02-17 16:10] andyblac commented on #501
I have been digging around in stock code on shelly device and found te following
[code]

[2021-02-17 20:14] timoschilling commented on #517
You can solve that in the Home App by your own. You can create grouped devices, which looks like one device but are 2 devices which are controlled
as one

[2021-02-18 04:30] wawoodwa commented on #346
Depending on the 3-way switch setup, the 1L should work.  The specific use case would be if the power enters the light box, and a 2 wire comes out of it to the first box with a 3 way switch, then a 3 wire that heads over to the second box.  The first box would have the Shelly 1L that would tie like a standard no neutral setup, with the 3 way switches connected to the SW1 and Sx. Here is a diagram

[2021-02-18 06:39] gate546 commented on #404
I am not an expert in this type of support and / or report and therefore I would like to ask if this problem, this situation, will be taken into consideration and sooner or later resolved.
Unfortunately, the fork proposed by juangamnik is not usable by me, it does not work for my equipment and therefore I would like to understand if the homekit firmware will be used, sooner or later, also for the

[2021-02-18 07:22] Ioan-Popovici opened #518 "Unable to Flash Devices"
I have a bunch of 1PMs and 2.5 switches but I can't seem to be able to flash them via script or link.

I put them on the same vlan and reverted to factory settings but still no go. I'm using mac OS Big Sur and have the latest phyton version installed.

with the script I get the following error:

<img width="1091" alt="CleanShot 2021-02-18 at 09 16 06@2x" src="https://user-images.githubusercontent.

[2021-02-18 07:55] Ioan-Popovici commented on #518
I tried older firmware and even put up a web server in my environment and tried to flash it.
Maybe there's something wrong on my network

[2021-02-18 08:15] Ioan-Popovici commented on #518
I'm starting to think that maybe they changed something. I even started a local phyton server and connected to it offline and it still doesn't work...

[2021-02-18 09:08] timoschilling commented on #517
update: you need to wire switch 1 and switch 2 of the shelly to you wall switch.

[2021-02-18 09:53] AG-dingoant commented on #517
Hi Timo,
Thanks for your answer. I just discovered the group function in HK :-). I will test the wiring next week when my new Shelly order will be delivered (I have no Shelly 2.5 available now :-))

[2021-02-18 10:02] timoschilling commented on #518
I can confirm you error. It's a bug in the flash script.
 Please checkout the commit 2dda62d (`git checkout 2dda62d`) and run the flash script again.
For those  are not using git, copy the flash script from here: https://github.com/mongoose-os-apps/shelly-homekit/blob/2dda62d2c4255d204efde004e3557b9b179ffdb6/tools/flash-shelly.py

Note: The bug was added somewhere between 2dda62d2c4255d204efde004e

[2021-02-18 10:29] andyblac commented on #518
@Ioan-Popovici can you run the script again, but add ` --log-file=debug.log v=5`  ie `./flash-shelly.py -a  --log-file=debug.log v=5`
can post the debog.log file

[2021-02-18 10:33] andyblac commented on #518
think i found issue please try
[flash-shelly.py.zip](https://github.com/mongoose-os-apps/shelly-homekit/files/6002099/flash-shelly.py.zip)

[2021-02-18 12:05] juangamnik commented on #404
@gate546: Did you try my fork, only? Does it work with the homekit-shelly firmware in the main project or does it only work with the stock firmware? What you are describing, seems to be an issue with the overall homekit-shelly firmware not in particular with my fork, but perhaps I am wrong. My solution does not use a calibration, but setting the working times manually (you do not calibrate anymore

[2021-02-18 15:28] gate546 commented on #404
@juangamnik
I try to answer, unfortunately it's not that so easy to be clear when we don't use the same language every day.
I will try to be more concise, perhaps it is simpler to understand my poor english.

I have installed many Shelly 2.5 PMs to operate as roller shutters, all installations work very wel with the original firmware, both situation, when Shelly operates the motor directly, in the

[2021-02-18 18:13] emartife commented on #498
I have installed version 2.8 and I have configured the irrigation valve.
When I have added it to HomeKit it appears with the correct icon but it works as a switch.
In HomeKit, when you access the detail of the accessory, the default operating time does not appear and when it is working, the remaining watering time does not appear

[2021-02-18 18:27] emartife commented on #237
With version 2.7.3 after configuring it you have to reboot, so the correct name appears when it is added to HomeKit

[2021-02-18 18:42] andyblac commented on #237
in 2.7.3 the switch name is indeed used, but on adding the accessory it show the wrong switch name, it shows "Device Name", but once added it does show the "Switch Name"

[2021-02-18 19:04] timoschilling commented on #498
The time feature of valve is currently not supported.

[2021-02-18 19:09] freddair commented on #517
Im'm curious how you want to switch a neutral wire using a shelly 2.5, as it can only switch the line wire it uses for its operation.

I can only think of switching a neutral wire using dry contacts like with a shelly 1.

[2021-02-18 19:10] ToblerCGN commented on #14
Hi guys! Any news about dimmer support? Would love to see that.

[2021-02-18 19:14] juangamnik commented on #404
@gate546 OK, so I think this is just the wrong issue for your issue 😉. I think you should reopen #505, if your solution is the solution (enhance the calibration instead of adding a manual calibration; what this issue here addresses). Of course we could enhance the solution here to separate opening and closing times, but I think this is step too. Especially, if a slightly enhanced calibration could

[2021-02-18 19:18] gate546 commented on #404
Ok, thank you.
I try to reopen issue #505, or better I will try to do that.....
Not sure that I am able to do that.

[2021-02-18 19:41] gate546 commented on #505
After some test with fork of @juangamnik and some post on #404,  juangamnik suggets me to reopen this issue.
Seem that the solution will be to enhance the calibration of homelit firmware instead of adding a manual calibration.
I don't know if this is the correct way to proceed, however I repeat here my observations that I have already written in # 404.
This is what happens to me and what I underst

[2021-02-18 19:48] juangamnik commented on #505
That may be.
@contributors, please have a look whether this makes sense to you. My understanding is, that an enhancement of the calibration might be the better solution.

[2021-02-18 19:53] timoschilling commented on #517
updated my first post

[2021-02-18 19:55] gate546 commented on #505
Thak you

Why seem that the issues #505 is CLOSED?

Is my browser trouble?

From: Johannes Neubauer [mailto:notifications@github.com]
Sent: giovedì 18 febbraio 2021 20:48
To: mongoose-os-apps/shelly-homekit
Cc: gate546; Author
Subject: Re: [mongoose-os-apps/shelly-homekit] firmware version 2.7.2 shelly 2.5 trouble with chain actuators windows - stock firmware work well (#505)

Seem that the soluti

[2021-02-18 22:25] Ioan-Popovici commented on #518
Hi, thanks for your prompt response.
I can confirm it works on the 1pm with the latest stock firmware.

Amazing job with the firmware, it works perfect, even across vlans if you enable mDNS. I know now that this is a homekit limitation but maybe it should be in the docs.

Thanks again,
Ioan

[2021-02-19 05:46] emartife commented on #498
Thanks,
Will this functionality be in the final version 2.8?

[2021-02-19 06:31] Ioan-Popovici commented on #518
Just tested on shelly 2.5 , works perfectly now. The only thing is that it does not find devices if a password is set on the web interface. Maybe an option would be added in the future to support passwords but that's for an other issue.

Thanks again

[2021-02-19 06:31] #518 closed

[2021-02-19 09:17] AG-dingoant commented on #517
My order is on its way and should arrive somewhere next week. I will test and provide some feedbacks on if and how it is possible.

[2021-02-19 09:19] timoschilling commented on #498
As it will require bigger changes on the current auto off implementation and on the UI, I don’t think so.

[2021-02-19 09:32] AG-dingoant commented on #448
I still have the problem. Here are the logs :

434856929142:1613726999875060 shelly_rpc_service.:223 SetConfig ok, 0
434856957123 mgos_sys_config.c:232   Loading conf2.json
434856980633 mgos_sys_config.c:232   Loading conf3.json
434856991220 mgos_config_util.c:110  Extra key: [relays]
434856999908 mgos_config_util.c:110  Extra key: [relays.r0]
434857010897 mgos_config_util.c:110  Extra key: [relay

[2021-02-19 16:02] Ioan-Popovici commented on #479
Thanks. No rush, I can use 2 shelly 1PMs, this was just an interesting idea. I want to control the temp and humidity in my fridge. I also have the shelly temp and humidity sensor so I can use that.

Thank you for you awesome work!

[2021-02-19 19:13] heili1094 opened #521 "Shelly1 display as puls switch in Homekit"
Is ist possible to se the shelly1 as a puls switch in Homekit which changes the state. For instance i push the button in Homekit and it shows "open" i push it again and it says "closed". Now it's not it show always "on" or "off":

Thanks

[2021-02-19 20:52] andyblac commented on #521
sorry i dont fully understand, can you give an example of use ?

[2021-02-19 21:51] juangamnik commented on #493
I wait for the frontend rewrite with this too as this will influence the documentation.

[2021-02-20 09:36] denbec opened #522 "URLs are offline"
http://rojer.me/files/shelly/shelly-homekit-Shelly1.zip produces a 404.

[2021-02-20 09:40] rojer commented on #522
seems to be working just fine for me, and i can see requests in the logs from other users.
can you run `curl -v http://rojer.me/files/shelly/shelly-homekit-Shelly1.zip` from the terminal and paste output here?

[2021-02-20 09:50] timoschilling commented on #522
I can confirm a 404

[2021-02-20 09:51] rojer commented on #522
ah, ipv6... ok, will take a look

[2021-02-20 09:52] timoschilling commented on #522
Yes it's IP6 problem, `curl --ipv4` works

[2021-02-20 09:53] rojer commented on #522
ok, missing listener spec in the server config, fixed. this wasn't a real problem as devices are ipv4-only anyway.

[2021-02-20 09:53] #522 closed

[2021-02-20 09:56] timoschilling commented on #522
Devices are ipv4 right, but updates are happen from the UI and the browsers are using ipv6.

[2021-02-20 09:58] rojer commented on #522
ah, you are right. anyway, thanks @denbec  for reporting and @timoschilling for confirming, this is now fixed.

[2021-02-20 16:57] rojer commented on #515
there is no thermal cutoff for shelly1 because there is no NTC on board to measure the temperature.

[2021-02-20 17:03] rojer commented on #501
seems reasonable to follow stock in this case, that's what users are familiar with.

[2021-02-20 17:12] rojer commented on #511
the "motion sensor" mode was developed specifically to accommodate the two common PIR sensors - "level" output and "pulse" output types. "level" output types close the output circuit and keep it closed while motion is detected, pulse output type sensors send pulses at regular intervals while motion is present and cease to do so when there is no motion.
both types, in normally closed and normally o

[2021-02-20 17:13] rojer commented on #511
for normally closed sensors enable the "inverted input" option.

please reopen if you encounter any issues.

[2021-02-20 17:13] #511 closed

[2021-02-20 18:22] rojer commented on #237
hm. i guess we could se accessory name = service name if service is the only one in within the accessory

[2021-02-20 18:26] Bodie2005 commented on #2
You were successful to change voltio.cz firmware? I can't start my Shelly1 with voltio.cz to boot-loader mode.

[2021-02-20 18:32] andyblac commented on #237
if adding when in bridge mode, everything works as expected both the hub, accessories are added with all corect names.
![IMG_0514](https://user-images.githubusercontent.com/77936/108605093-e5fa8580-73a9-11eb-9a54-a4147eec77bd.jpeg)
![IMG_0515](https://user-images.githubusercontent.com/77936/108605094-e98e0c80-73a9-11eb-98a0-30a83b67544a.jpeg)
![IMG_0516](https://user-images.githubusercontent.com/7

[2021-02-20 18:38] andyblac commented on #237
it could just be a iOS thing?

[2021-02-20 18:40] andyblac commented on #2
i have reflashed a few voltio.cz devices to this firmware via serial with no issues.

[2021-02-20 19:04] andyblac commented on #403
still an issue ?

[2021-02-20 19:05] andyblac commented on #395
closing as op has not responded.

[2021-02-20 19:05] #395 closed

[2021-02-20 19:07] rojer commented on #237
no, it's our thing, will do

[2021-02-20 19:09] rojer commented on #237
done, will be in alpha2

[2021-02-20 20:00] mrmaximas commented on #14
for me too. thanks/

[2021-02-20 20:34] hbednarek commented on #403
No,

Ihm using 2.73 and everything works. Thank you.

[2021-02-20 20:50] dwh2427 commented on #14
And me - can we put some $ support behind this and whoever makes it happen in 30 days gets it?

Sent via Superhuman iOS ( https://sprh.mn/?vip=dave@loved.com )

On Sun, Feb 21 2021 at 7:01 AM, mrmaximas < notifications@github.com > wrote:

[2021-02-20 20:55] #403 closed

[2021-02-20 21:43] timoschilling commented on #515
What does ntc stands for?

[2021-02-20 22:11] claudio50 opened #524 "Support for Dimmer2"
Sorry for pushing, but any news about support for Dimmer2 ?

[2021-02-20 22:12] andyblac commented on #524
closed duplicate, please see here https://github.com/mongoose-os-apps/shelly-homekit/issues/14

[2021-02-20 22:12] #524 closed

[2021-02-20 22:15] andyblac commented on #14
none us do this for money, it not about money, we do it in our free time, unfortunately it will happen when it does. i can't say when.

[2021-02-20 22:20] dwh2427 commented on #14
I appreciate that, it’s amazing when everything just works and really appreciate the passion behind it :)

Sent via Superhuman iOS ( https://sprh.mn/?vip=dave@loved.com )

On Sun, Feb 21 2021 at 9:16 AM, Andy Blackburn < notifications@github.com > wrote:

[2021-02-20 22:21] dwh2427 commented on #14
But having said that, maybe people would be incentivized to jump on board with the work if there were some incentives so that’s why I thought I’d throw it out there

Sent via Superhuman iOS ( https://sprh.mn/?vip=dave@loved.com )

On Sun, Feb 21 2021 at 9:19 AM, < dave@loved.com > wrote:

[2021-02-21 07:42] gate546 opened #525 "shelly 2.5 firmware version 2.7.2 trouble with chain actuators windows - original firmware work well"
@contributors, please have a look whether this makes sense to you.
My understanding is, that an enhancement of the calibration might be the better solution.

I have a trouble with a chain system, the calibration process does not end normally
I have made some test with fork of @juangamnik but that code donìt work well in my case.
I have read in some posts that the problem of incorrect calibration w

[2021-02-21 08:14] romanbalsiger commented on #515
so far i have deployed 5 shellies:
1 shelly 1 behind a wall switch
2 shelly 2.5 behind a wall switch in switch mode - one at 66°C the other at 68°C
1 shelly 2.5 on the mains panel in switch mode - this one is at 72°C!
1 shelly i3 behind a wall switch - 83°C!

i have never checked with original firmware

[2021-02-21 08:17] rojer commented on #515
shelly i3 does tend to get warmer, i've noticed that.

please do, otherwise there is nothing to discuss here.  these values are well within safety range.
even then, you need to use thermocouple to measure actual temperature as stock and hk firmware may report slightly different temperature values as they use somewhat different NTC calculation algorithm.

[2021-02-21 08:18] rojer commented on #515
i'm closing the issue, discussion is wandering about without any concrete comparisons to stock.
absolute numbers are within range, it's ok.

[2021-02-21 08:18] #515 closed

[2021-02-21 08:21] romanbalsiger commented on #515
where do i see temperatures in the original firmware...?

[2021-02-21 08:27] romanbalsiger commented on #338
into that too

[2021-02-21 10:42] freddair commented on #14
I'm also desperately waiting for my Dimmers to finally get reliable HomeKit support (tried HAA and homebridge-shelly but no...)

[2021-02-21 10:49] andyblac commented on #14
homebridge running ok here. try sticking to v1.1.6

[2021-02-21 10:50] rojer commented on #14
i've been procrastinating on this for too long. unfortunately, i don't have an ETA still, this needs a significant chunk of work and i just couldn't find time and/or energy to put it in.

[2021-02-21 10:54] freddair commented on #14
@rojer that's totally understandable. You want to do it right in the first place.

@andyblac you mean homebridge-Shelly v1.1.6 or stock fw?

[2021-02-21 11:59] andyblac commented on #14
sorry hb v 1.1.6

[2021-02-21 12:06] DerKoller-eu commented on #498
Hi, I tested the doorbell mode, works fine just for the HomeKit doorbell. If someone pushes the button outside, the HomePods ring and I get a push notification. The mechanical gong is not working anymore, it rings only after manually turning on the Switch that is presented in HomeKit. Here are my settings:
![Bildschirmfoto 2021-02-21 um 13 03 22](https://user-images.githubusercontent.com/27485112/

[2021-02-21 15:09] timoschilling commented on #498
@DerKoller-eu sounds wrong, but is actual expected behaviour. `Input Mode: Detached` means that there is not "connection" between the input and the output of the shelly.

Hotfix: create a HomeKit automatisation which turns on your "Shelly-Doorbell" in HomeKit when the Doorbell is triggered.

For the longterm we can add a explicit mode for that.

[2021-02-21 15:12] timoschilling commented on #525
repost of https://github.com/mongoose-os-apps/shelly-homekit/issues/505

[2021-02-21 18:38] joddye2 commented on #448
Same issue here.

[2021-02-21 19:11] #505 closed

[2021-02-21 19:12] andyblac commented on #525
seems #505 was edited, i have left that one closed.

[2021-02-22 07:33] col-tom opened #526 "Shelly1 FW support of external GPIO temperature sensor"
All - Do we support currently the GPIO adon for these external sensors in **HomeKit and for shutdown**:

* DS18B20 temperature sensors or
* DHT22 temperature + humidity sensors

Thanks

[2021-02-22 09:35] simonfield76 commented on #526
Sorry for my question but the two sensors are now supported?

Inviato da iPhone

Il giorno 22 feb 2021, alle ore 08:33, Tom <notifications@github.com> ha scritto:

﻿

All - Do we support currently the GPIO adon for these external sensors in HomeKit and for shutdown:

  *   DS18B20 temperature sensors or
  *   DHT22 temperature + humidity sensors

Thanks

—
You are receiving this because you are su

[2021-02-22 12:14] andyblac commented on #526
clising duplicate, please add support here. https://github.com/mongoose-os-apps/shelly-homekit/issues/186

[2021-02-22 12:14] #526 closed

[2021-02-22 17:02] Fireball-AT commented on #26
My use case would be to trigger an action if e.g. the washing machine is finished. I would refer to the power consumption in stand-by over a certain timeframe.

[2021-02-22 18:23] jotzet79 commented on #14
Be sure to disable „IGMP Snooping“ on your router and update to the latest Shelly FW for the Dimmer. This setup is working (since yesterday :) )

[2021-02-22 18:43] andyblac commented on #14
disabling IGMP snooping is bad idea imo. it will cause all mDNS traffic to go everwhere, not just the ports that ask for it. @jotzet79 do you use a managed switch ?

[2021-02-22 21:52] Bodie2005 commented on #2
I have changed USB / serial from CH340 chipset to FDTI FT232 and I can start in boot-loader mode now. But unfortunately if I try dump flash I have error:

$ mos flash-read --platform esp8266 --esp-baud-rate 921600 flash.bin
Using port /dev/cu.usbserial-A50285BI
Opening /dev/cu.usbserial-A50285BI @ 115200...
Connecting to ESP8266 ROM, attempt 1 of 10...
  Connected, chip: ESP8266EX
Running flasher

[2021-02-22 21:54] andyblac commented on #2
what version of mos ?

[2021-02-22 22:31] freddair commented on #14
I'm using HOOBS 3 Version | 3.3.2...

[2021-02-22 23:26] rojer commented on #2
this looks like baud rate is too high. try removing `--esp-baud-rate 921600` or setting `--esp-baud-rate 0`

[2021-02-22 23:27] #510 closed

[2021-02-22 23:52] #408 closed

[2021-02-23 01:06] rojer commented on #408
please install 2.8.0-alpha2 and help test

[2021-02-23 01:07] rojer commented on #498
pushed alpha2

[2021-02-23 01:30] rojer commented on #498
@andyblac roller shutter settings layout is a bit off after recent changes

![Screenshot from 2021-02-23 01-28-50](https://user-images.githubusercontent.com/531307/108791325-b51b7b80-7576-11eb-86f5-8de17fb7ecab.png)

[2021-02-23 01:54] rojer commented on #498
scratch that, pushed alpha3 with https://github.com/mongoose-os-apps/shelly-homekit/commit/20412b53325f8434ce62fede30a00e353fa7d3a1

[2021-02-23 05:30] Bodie2005 commented on #2
Serial console
2.19.1~brew

[2021-02-23 05:36] Bodie2005 commented on #2
Hello rojer, unfortunately the same issue:

mos flash-read --platform esp8266 --esp-baud-rate 0 flash.bin
Using port /dev/cu.usbserial-A50285BI
Opening /dev/cu.usbserial-A50285BI @ 115200...
Connecting to ESP8266 ROM, attempt 1 of 10...
  Connected, chip: ESP8266EX
Running flasher @ 0...
  Flasher is running
Reading 2097152 @ 0x0...
Error: /private/tmp/mos-20210208-36530-1bwv7ue/mos-9bf406d90c65fc

[2021-02-23 05:54] Bodie2005 commented on #2
Hello rojer, unfortunately the same issue:

mos flash-read --platform esp8266 --esp-baud-rate 0 flash.bin
Using port /dev/cu.usbserial-A50285BI
Opening /dev/cu.usbserial-A50285BI @ 115200...
Connecting to ESP8266 ROM, attempt 1 of 10...
  Connected, chip: ESP8266EX
Running flasher @ 0...
  Flasher is running
Reading 2097152 @ 0x0...
Error: /private/tmp/mos-20210208-36530-1bwv7ue/mos-9bf406d90c65fc

[2021-02-23 06:42] Bodie2005 commented on #2
Hi rojer. It looks, that problem was with USB-C (I am using original Apple USB C to USB A), it doesn't work. At the end I have tried my old Air with native USB A
![IMG_2797](https://user-images.githubusercontent.com/75204188/108810038-815a4900-75aa-11eb-9cf5-5f6c9a23b0bb.jpeg)
and I can dump original firmware + add new.
![IMG_2796](https://user-images.githubusercontent.com/75204188/108810076-9636d

[2021-02-23 06:43] Bodie2005 commented on #2
Thank you andyblac for you patience and help. It is working now.

[2021-02-23 08:37] simonfield76 commented on #2
With my interface I need to disconnect and reconnect usb after any command.

Read fw disconnect and reconnect usb
Erase disconnect and reconnect usb
Flash like above

I’ve seen many people using this trick and it always went through.

Inviato da iPhone

Il giorno 23 feb 2021, alle ore 07:43, Bodie2005 <notifications@github.com> ha scritto:

﻿

what version of mos ?

Thank you andyblac for you pati

[2021-02-23 08:38] simonfield76 commented on #2
Ah sorry I didn’t see that you were using a Mac this hint was for windows users

Inviato da iPhone

Il giorno 23 feb 2021, alle ore 09:37, simone campo <concierge-bentley@hotmail.it> ha scritto:

﻿ With my interface I need to disconnect and reconnect usb after any command.

Read fw disconnect and reconnect usb
Erase disconnect and reconnect usb
Flash like above

I’ve seen many people using this tr

[2021-02-23 11:40] ThibaultH9 opened #527 "wrong wifi password during setup"
Hello,
when configuring wifi for my module I must have made a mistake when writing the password. Result I no longer see my module on my wifi network.
How can I do ?

excuse me for my english.

[2021-02-23 11:55] andyblac commented on #527
see here https://github.com/mongoose-os-apps/shelly-homekit/wiki/Recovery

[2021-02-23 12:19] ThibaultH9 commented on #527
@andyblac Thanks you :)

[2021-02-23 13:01] andyblac commented on #527
get it fixed ?

[2021-02-23 13:21] BlancoDeMallloca commented on #72
@timoschilling: Thanks for your geformt with this issue. Andy updates on this? I am not able to code but would be willing to support the testing of RGBW2 functions.

[2021-02-23 14:00] andyblac commented on #72
it's coming along, we still need to do a few more things, sorry can't give you a timeframe.

[2021-02-23 14:08] ThibaultH9 commented on #527
yes ;)

[2021-02-23 14:11] #527 closed

[2021-02-23 17:07] timoschilling commented on #72
I'm 99% finished with rgb support, rgbw and 4xW will follow in serrate PRs / releases.

[2021-02-23 17:26] bkleef commented on #72
@timoschilling about the 4xW, is it possible to exclude some channels from HomeKit?
In my situation, only 3 of the 4 channels are connected, causing 1 of the 4 lamps to show unwanted in HomeKit.

[2021-02-23 18:29] jobl1978 opened #528 "Shelly1/25 didn't reboot automatically"
I had several Shelly devices that show "no response" in Home App. The web ui shows 0 pending and 0 active connections for those devices. In the change log of 2.7.2 there is an entry that devices will automatically reboot if there is no connection at least for 5 minutes what not happened. After rebooting those Shellys manually they worked again.

[2021-02-23 19:30] andyblac commented on #129
started getting this again on 3 devices 30 days online.

[shelly.log](https://github.com/mongoose-os-apps/shelly-homekit/files/6031402/shelly.log)

[2021-02-23 19:32] andyblac commented on #129
how can i do core dump for you.

[2021-02-23 19:37] andyblac commented on #528
thats wifi connection, not hap connection, report the issue here https://github.com/mongoose-os-apps/shelly-homekit/issues/129

[2021-02-23 19:37] #528 closed

[2021-02-23 20:06] lieberjott commented on #498
Quick question: Manual calibration for roller shutters (https://github.com/mongoose-os-apps/shelly-homekit/pull/449) won't be yet added?

[2021-02-23 20:08] andyblac commented on #498
no, it wont be added to 1.8.0, from what i understand, there is still work to be done on it.

[2021-02-23 21:14] timoschilling commented on #72
Yes can chose between 1, 2, 3 or 4 single channels

[2021-02-23 21:22] rojer commented on #498
correct. won't make it into 2.8 but will be in 2.9

[2021-02-24 22:27] chstoll commented on #515
The shelly I mentioned earlier is getting warmer:
![image](https://user-images.githubusercontent.com/30579097/109074252-d22b8800-76f7-11eb-90f0-d9c9b708c0ad.png)

I rebootet it, but it makes no difference.

[2021-02-24 23:34] timoschilling commented on #72
A preview version for the RGB support is attached to the PR https://github.com/mongoose-os-apps/shelly-homekit/pull/529.

[2021-02-25 06:45] spiegelt commented on #506
Since firmware 2.7.3 I have the same problems with my five Shellys1s, these are on three different access points partly with very good signal quality (-37) and partly less good signal quality (-76).  Within 12 hours you can no longer be reached in the HomeKit and the web interface only opens very slowly after the reboot everything is fine again for a few hours in the previous five versions it was

[2021-02-26 23:02] jerzykolysz opened #531 "Rebooting in 2.7.1 and 2.6.1"
Have number of Shelly 2.5 I updated recently from 2.0.6 to 2.7.3 and they start to reboot during operation very often.
I upload 2.6.1 and situation is slightly better but it still rebooting from time to time.
Now I downgraded it to **2.0.11** and it working quite stable.
Regards,
JK

[2021-02-26 23:03] timoschilling commented on #521
I think this is wat he want:
![DACE4AE6-F69E-467C-AAF4-C5E7C88EE8A4](https://user-images.githubusercontent.com/165599/109364466-2c128600-788f-11eb-8ce5-b64005fe5b58.png)

[2021-02-26 23:05] jerzykolysz opened #532 "SNMP v1."
It would be cool to pull voltage with snmp to collect kwh usage. version 1 is enough at this point.

[2021-02-26 23:05] timoschilling commented on #521
Set input mode to detached and then hap type on the input to contact sensor

[2021-02-27 07:25] dtrost87 commented on #346
I guess the only option as of now is to go back to the stock firmware and see if it can be integrated through Homebridge.
I hope you guys will work on this asap as having no control over the Switch 2 is indeed going to impact a lot of implementations.
Keep up with the good work!

Hi there! Same situation for me, as for guarnacciaa. Totally agree, SW2 would complete the Shelly1L in its versatility.

[2021-02-27 08:32] nk-gx commented on #346
Workaround for Switch 2.

Connect Shelly 1L accordingly. Put Switch 1 to Edge mode. Create a Detached Switch 2 (Stateless Switch) like the following:

![01](https://user-images.githubusercontent.com/72701663/109381907-c7364a80-78e5-11eb-8f27-066cb10c95e3.PNG)

At "single press" action choose at the bottom "convert to shortcut" instead of selecting an accessory. Create something like that.

![03](h

[2021-02-27 09:49] mjorgef commented on #346
Promise ideia!
And you can ask Siri to turn that light on?
It will not show as a light right?

[2021-02-27 10:22] nk-gx commented on #346
Yes, because the first one looks like a light. See the image below. It's the Shelly 1L with the above configuration.

![01a](https://user-images.githubusercontent.com/72701663/109384575-6ebb7900-78f6-11eb-9ff5-458ac54f5419.PNG)

[2021-02-27 11:25] andyblac commented on #346
a detail instruction is shown in the wiki https://github.com/mongoose-os-apps/shelly-homekit/wiki/Stateless-Toggle-Switch

[2021-02-27 12:48] BlancoDeMallloca commented on #531
I do not experience this issue with version 2.7.3.  Got several 2.5 with rollershutter and switch mode.

May the debug log would help the developers

[2021-02-27 14:04] JCalvi opened #533 "REST API toggle"
I can get on and off to work but how do I toggle?

http://shelly1-test.local/rpc/Shelly.SetState?id=1&type=0&state=%7b%22state%22%3atrue%7d turns on
http://shelly1-test.local/rpc/Shelly.SetState?id=1&type=0&state=%7b%22state%22%3afalse%7d turns off

http://shelly1-test.local/rpc/Shelly.SetState?id=1&type=0&state=%7b%22toggle%22%3atrue%7d does not work

http://shelly1-test.local/rpc/Shelly.SetState

[2021-02-27 14:45] andyblac commented on #533
don't think @rojer has coded toggle for statefull switch, only statless, i guess your using a monentary input on a statefull switch ?

[2021-02-27 14:49] andyblac commented on #531
@jerzykolysz Enable debug logs, open a web browser to collect logs, and leave open to collect the log we will need to see the part where it is rebooting. post log once you have caught it.

[2021-02-27 15:53] jerzykolysz commented on #531
Sure, I will.

Pozdrawiam,
Jerzy Kołysz
Wysłane z iPhone'a

[2021-02-27 23:29] JCalvi commented on #533
Switch is wired as edge so can be turned on/off from physical as well as web access.

web access is linked to remote control button via htpc so I can turn a light on/off via the wall switch or the remote.

[2021-02-28 03:02] JCalvi commented on #533
Note: this could also be a repeat of https://github.com/mongoose-os-apps/shelly-homekit/issues/461 as I suspect he had the same desire and similar use case as me.

[2021-02-28 09:54] freez1001 commented on #129
Hi
Have the same issue with version 2.7.3.
Would say after 26 days Shelly 1 devices are show as not responding in HomeKit

[2021-02-28 11:14] jsiegenthaler commented on #129
I found last week my 2 x Shelly1s with 2.7.3 loaded had stopped responding after 28 days
Web interface worked, could interrogate device and display settings and control the device
Physical switch connected to SW input worked
But HomeKit reported no response from the accessory
After a reboot, the accessory started responding again in HomeKit

[2021-02-28 19:05] rojer commented on #129
HAP server gets stuck after 25-28 days, the reason is not yet clear and being investigated

[2021-03-01 10:27] Alfniator opened #534 "Change IP settings with GUI"
My Shelly does not install the update OTA, reading in the GitHub learns me that this possibly fails because I have set up the shelly with a static IP (i dont know, but i cant check anywhere...)

Reading in de GitHub learns me that I only can see and edit the ip-adres settings through console commands... I do not fully understand how that works, so I was thinking: why can't we edit such settings th

[2021-03-01 15:08] Ioan-Popovici commented on #34
Interesting ideea, I won't use it but I have friends that have mixed environments.

[2021-03-01 15:32] Germanytraveller opened #535 "Shelly 1 garage door opener - push button does not work"
Hello,

first of all: i‘m totally new to this whole thing.

I‘ve successfully flashed and installed a Shelly 1 as a garage door opener and integrated it into my home app. It works perfect in the home app and the garage‘s radio transmitter works fine with it, too.

But the wall-mounted cable- push button (connected to L and SW) does not work. When I push this button, Shelly gets the command and the

[2021-03-01 20:44] Ludelag opened #536 "I3 with mongoose firmware"
How will behave I3 with the mongoose firmware? I have 4 I3 connected to a switched pir sensor and all work thru homebridge as simple button, when pir sensor detects presence it trigger the button

[2021-03-01 21:01] gregDEweb commented on #535
Sure that you connected it according to the drawing? L and SW for the Button is not correct.
![C52B31E3-C667-4CAB-853C-D0FE2640AB56](https://user-images.githubusercontent.com/64041385/109558325-8bfc6d00-7ad9-11eb-957a-3d3db78d8153.jpeg)

[2021-03-02 09:04] StevenBeck93 opened #537 "Max Connections more then 12?"
Hello,

we want to use the Shelly 1 for a Garage Door with more then 12 People.
Is there a way, to change the "Max Connections" from 12 to another number?

Thank you very much!

[2021-03-02 09:16] andyblac commented on #537
no, but unless you have 12 poeple actually using the door all a the same time it should drop connnections as required.

[2021-03-02 09:28] timoschilling commented on #537
And even are 12 people are connected the 13 will share the connection of one of the other.

[2021-03-02 09:29] andyblac commented on #537
should be talking about 12+ devices not people, you are correct.

[2021-03-02 09:33] Germanytraveller commented on #535
yes, i connected it exactely like the drawing. The Shelly does create a command as well, when the button is pushed. But it seems as if this command does not reach the garage-controller while Siri- and radio-controller-initiated shelly-commands do reach the garage-controller.

![IMG_5482](https://user-images.githubusercontent.com/79857544/109628090-a454a200-7b42-11eb-98bc-6cb66b9044f5.jpg)

[2021-03-02 09:48] StevenBeck93 commented on #537
Thanks for the quick response.

The usecase is, that we have a hall with automatic door. Now we create a "Home" for this Location and will share this "Home" to more then 12 people, that everyone can open the Hall Door.

So we dont need a key for each person.

At the moment we have 4 persons with connection to this home. But we dont know, if we extend the limit?

[2021-03-02 10:23] StevenBeck93 commented on #537
Hello,

perfect. Then we will try it :)

Yes we have a HomePod as Base in this "Home".

Thanks to all of you!

[2021-03-02 10:23] #537 closed

[2021-03-02 14:11] AG-dingoant commented on #535
Hi,
you should connect the button directly on I and O or directly on the door opener. The L and SW are used for a magnet contactor that is used to know the status of the door (open or closed).

[2021-03-02 19:02] gregDEweb commented on #535
You are not sending a command since you wired it up wrong. By pressing the button you are sending a signal which is changing the status.
Make sure the limit switch is connected to L and SW and the Push Button to I and 0.
I assume you are from Germany and if it helps i reply in German if needed.

[2021-03-02 19:55] Marcus-1976 commented on #506
Hello all,

I'm getting back to you with my initial problem with the Shelly switching my heating valve.
I have installed the Shelly in an electrical junction box.
I have now wrapped this with aluminium foil and it has not crashed for a week.

Unfortunately, what has been happening since I restarted my W-LAN access point is that every now and then one or more Shellys simply hang up and reboot by th

[2021-03-02 22:32] timoschilling commented on #517
I think this issue can be closed as the feature request isn't resolvable with a 2.5

[2021-03-02 22:37] #517 closed

[2021-03-03 00:10] timoschilling commented on #252
since @patricks reported other problems, it looks like we can close this issue now.

[2021-03-03 10:58] #252 closed

[2021-03-03 10:59] #214 closed

[2021-03-03 11:00] andyblac commented on #274
still need help ?

[2021-03-03 11:01] andyblac commented on #409
closing as no responce

[2021-03-03 11:01] #409 closed

[2021-03-03 11:01] patricks commented on #252
Is there already an issue for the light flashing problem?

[2021-03-03 11:01] andyblac commented on #410
no responce closing....

[2021-03-03 11:01] #410 closed

[2021-03-03 13:45] torto-85 commented on #274
Hi, thanks for your suggestion (sorry @pivale: I didn't see your comment yet). I follow #404. Manual calibration seems a solution for me. Because I use one shelly to control more than one roller shutter the auto-calibration won't work for me.

[2021-03-03 13:50] andyblac commented on #274
so i can close this ?, can always reopen later is thing change.

[2021-03-03 14:28] andyblac commented on #108
@gregDEweb this issue https://github.com/mongoose-os-apps/shelly-homekit/issues/129, i'll close this one but please reopen if you feel you need too.

[2021-03-03 14:28] #108 closed

[2021-03-03 14:30] andyblac commented on #366
can this issue be closed now ?

[2021-03-03 14:31] andyblac commented on #398
still need help, or can this be closed ?

[2021-03-03 14:32] andyblac commented on #327
closed as no reply

[2021-03-03 14:32] #327 closed

[2021-03-03 14:34] andyblac commented on #251
can this be closed ?

[2021-03-03 14:34] andyblac commented on #249
can this be closed ?

[2021-03-03 14:35] andyblac commented on #226
can this be closed ?

[2021-03-03 14:39] andyblac commented on #175
can this be closed ?, or still an issue in 2.8.0 alpha fw ?

[2021-03-03 14:41] andyblac commented on #172
@rojer need anything further info ?, this one gone stale.

[2021-03-03 14:43] andyblac commented on #180
@rojer close as not doable or add to enhancement flag ?

[2021-03-03 14:44] andyblac commented on #382
@ursusHU for automations you need a homekit hub, do this help, can i close this issue ?

[2021-03-03 14:45] andyblac commented on #399
is this still an issue ?

[2021-03-03 14:46] andyblac commented on #306
can this be closed now ?

[2021-03-03 14:47] andyblac commented on #355
@rojer close issue or add to enhancement label ?

[2021-03-03 14:47] juansf99 commented on #249
No solution? close...

[2021-03-03 14:47] #249 closed

[2021-03-03 14:49] andyblac commented on #423
can this be closed ?

[2021-03-03 14:50] andyblac commented on #436
i'll close this one.

[2021-03-03 14:50] #436 closed

[2021-03-03 14:52] andyblac commented on #429
I'll close this one, maybe take a look here https://github.com/mongoose-os-apps/shelly-homekit/issues/404

[2021-03-03 14:52] #429 closed

[2021-03-03 14:52] hughfr4nc15 commented on #306
Ok by me.

[2021-03-03 14:53] andyblac commented on #360
i'l close this one, no reponce from OP,  maybe take a look here https://github.com/mongoose-os-apps/shelly-homekit/issues/404

[2021-03-03 14:53] #360 closed

[2021-03-03 14:55] andyblac commented on #324
@rojer can you advise or is https://github.com/mongoose-os-apps/shelly-homekit/issues/404 better solution ?

[2021-03-03 14:56] andyblac commented on #456
no responce closing...

[2021-03-03 14:56] #456 closed

[2021-03-03 14:58] andyblac commented on #457
can this be closed ?

[2021-03-03 14:59] andyblac commented on #248
@rojer can you help ?

[2021-03-03 15:03] andyblac commented on #257
closing

[2021-03-03 15:03] #257 closed

[2021-03-03 15:03] theflexa1 commented on #457
Yes ! It was the apple tv

Atentamente,

Álvaro Domínguez.

[2021-03-03 15:04] #457 closed

[2021-03-03 15:05] andyblac commented on #374
@rojer any advise ?

[2021-03-03 15:10] andyblac commented on #468
still an issue ?

[2021-03-03 15:13] andyblac commented on #448
@rojer any advice ?

[2021-03-03 15:15] andyblac commented on #525
@everyone, can anyone help here

[2021-03-03 15:18] andyblac commented on #536
the i3 is a supported device, if you have flash it and try for yourself.

[2021-03-03 15:20] Ludelag commented on #536
what to spect from the flashing?

[2021-03-03 15:58] ursusHU commented on #382
@andyblac I have hubs. You asked about ios devices (Phones)
Anyway with The current version I don’t experience the issue.

[2021-03-03 15:58] #382 closed

[2021-03-03 16:10] jchristianj commented on #366
For me it’s ok.

[2021-03-03 17:38] Pixel-Chris commented on #251
Hi,
when it is ok, to power it with more than 24 V.
Then it can be closed.

[2021-03-03 18:08] andyblac commented on #251
@rojer can you advise?

[2021-03-03 18:33] Pixel-Chris commented on #251
Ist should be okay
Specs das 24-60V

[2021-03-03 19:52] juangamnik commented on #404
@rojer should I give it a try?

[2021-03-03 20:47] basroovers commented on #498
I just tested the alpha3 version. Using an automation makes sense if you want something like a condition based on time of day (e.g. don't ring gong in the middle of the night). In order to get my gong sounding "properly" I needed to configure the auto off to a sub seconds delay.

[2021-03-03 20:50] C-Git-C commented on #248
Hi Rojer,

I reproduced the issue again. Version: 2.8.0-alpha3 Build: 20210223-015212/2.7.3-103-g20412b5-master

At the beginning Shutter position was closed
I pushed the button two times to open the shutter - shutter didnt start to move there was only a short jerk
(Failed to start moving)

I pushed the button a third time to open the shutter - shutter started to move and opened

Sometimes it work

[2021-03-03 21:20] timoschilling commented on #536
I that don’t have that setup you are asking for, but I expect that it works. Try it. If it’s not working you can easily flash back to stock firmware, it’s just one click in the UI.

[2021-03-03 21:25] Ludelag commented on #536
Thank you Timo, yes I Know how to get back to the stock firmware. I am asking if some got the experience already can advice me before get into it. Maybe this weekend I will give a try. I will keep posted here in this issue the results and what I will find.

[2021-03-04 08:43] belrpr commented on #366
Hi,

I can confirm that since I used an external 12V adapter the problem never occured.
So this may be closed and thx for the assistance!

[2021-03-04 08:43] #366 closed

[2021-03-04 09:41] ma-jkl opened #539 "shelly1-homekit"
Hi all, I am total amateur. But I do have a problem with my Shelly. I have installed it into the HomeKit using the latest software. When I am in the wifi shelly - there is no problem. But when I am on data (LTE) the connection is lost. Does anyone of you have the same issue?
Thank you
Michal

[2021-03-04 09:43] andyblac commented on #539
do you have have a homekit hub (HomePod, AppleTV, iPad in hub mode) ?

[2021-03-04 09:45] ma-jkl commented on #539
Hi, nope. I add the device into my iPhone.

[2021-03-04 09:46] andyblac commented on #539
ok, then thats why, in order to use HomeKit outside of WiFi you need a HomeKit hub.

[2021-03-04 09:47] ma-jkl commented on #539
Ok, thank you. I will try to find more info about this how to do that. Thank you Andy.

[2021-03-04 09:47] ma-jkl commented on #539
I do have an Apple TV

[2021-03-04 09:48] ma-jkl commented on #539
![IMG_0021](https://user-images.githubusercontent.com/80035036/109945083-31c8fb00-7cd7-11eb-8c25-0622a8885692.jpeg)

[2021-03-04 09:48] andyblac commented on #539
no problem. you use that,

Setting up your HomeKit Hub

Using an Apple TV (4th-gen or 4K)

1. On your iOS device enable two-factor authentication for your Apple ID. Also, go to the iCloud settings menu and check keychain access is enabled.

2. Sign into the same iCloud account on the Apple TV ('Settings' > 'Accounts' to check).

3. iCloud should do the rest but you can go to 'Settings' > 'Accounts

[2021-03-04 09:51] andyblac commented on #539
but please bare in mind AppleTV is not good at HomeKit automations, so if you decide to get more advanced and start doing Home Automations, I recomend you getting a HomePod mini.

[2021-03-04 09:58] ma-jkl commented on #539
Andy, thank you. I have checked everything. The shelly works from all devices. Apple TV, iPhone. When I had software version 2.0 it worked from the data. I am using shelly to open gate to my house. But now when I am out of the wifi on phone (LTE) the connection disappears. I see Apple TV running but shelly is writing do response. It means that there is some issue that shelly does not communicate o

[2021-03-04 10:00] ma-jkl commented on #539
debut log enable is not the solution right?

[2021-03-04 10:15] andyblac commented on #539
how may connection are used ? open webui of device go to homekit section.

[2021-03-04 10:17] ma-jkl commented on #539
<img width="610" alt="image" src="https://user-images.githubusercontent.com/80035036/109949044-34c5ea80-7cdb-11eb-99b4-ee6252077112.png">

[2021-03-04 10:17] andyblac commented on #539
also goto http://deviceip/debug/info should see something like

[code]

is your appletv ip listed. ?

[2021-03-04 10:19] ma-jkl commented on #539
Thank you, I will need to go to my friend - he is IT because it is too much for me. The link do not work.

[2021-03-04 10:20] andyblac commented on #539
what is the ip of your shelly device ?

[2021-03-04 10:21] ma-jkl commented on #539
192.168.1.27

[2021-03-04 10:21] ma-jkl commented on #539
in my network

[2021-03-04 10:22] andyblac commented on #539
try http://192.168.1.27/debug/info

[2021-03-04 10:22] ma-jkl commented on #539
App: switch1 2.7.3 20210124-130526/2.7.3-g883914a-master
Uptime: 3968.08
RAM: 22636 free, 18968 min free
HAP server port: 9000
HAP config number: 1
HAP connection stats: 0/3/12
HAP connections:
  192.168.1.31:54564 nc 0x3fff61e4f 0x200000 io 35 ts 0x3fff6364 rd 34
  192.168.1.40:56342 nc 0x3fff5ce4f 0x200000 io 123 ts 0x3fff5804 rd 123
  192.168.1.21:49321 nc 0x3fff577cf 0x200000 io 24 ts 0x3fff60

[2021-03-04 10:23] andyblac commented on #539
what is the IP of your appletv ?

[2021-03-04 10:23] ma-jkl commented on #539
192.168.1.21

[2021-03-04 10:24] ma-jkl commented on #539
Apple TV is connected via cable

[2021-03-04 10:25] andyblac commented on #539
hmm it does have a connection, so it should be working. you now have 3, before it was 2, can you try data again ?

[2021-03-04 10:26] ma-jkl commented on #539
App: switch1 2.7.3 20210124-130526/2.7.3-g883914a-master
Uptime: 4177.84
RAM: 21756 free, 18968 min free
HAP server port: 9000
HAP config number: 1
HAP connection stats: 0/3/12
HAP connections:
  192.168.1.31:54564 nc 0x3fff61e4f 0x200000 io 245 ts 0x3fff6364 rd 244
  192.168.1.40:56342 nc 0x3fff5ce4f 0x200000 io 333 ts 0x3fff5804 rd 333
  192.168.1.21:49321 nc 0x3fff577cf 0x200000 io 234 ts 0x3ff

[2021-03-04 10:27] ma-jkl commented on #539
from my point of view - when I am not in the same network - shelly is unavailable

[2021-03-04 10:27] andyblac commented on #539
in the HomeApp, tap on he HOUSE icon (top left), goto Home Settings. scroll down to "Hubs & Bridges" tap on it post a screenshot please.

[2021-03-04 10:27] ma-jkl commented on #539
it seems that shelly is now not comunicating out of my home network.

[2021-03-04 10:29] ma-jkl commented on #539
<img width="506" alt="image" src="https://user-images.githubusercontent.com/80035036/109950450-ce41cc00-7cdc-11eb-98f2-30e90c29e433.png">

[2021-03-04 10:29] andyblac commented on #539
I assume appleTV syas "Connected" ?

[2021-03-04 10:30] ma-jkl commented on #539
připojeno = connected

[2021-03-04 10:30] ma-jkl commented on #539
yes please

[2021-03-04 10:31] andyblac commented on #539
it should be woking then, should be no reason for it not to be working outside of wifi. do you have any Router firewals ?

[2021-03-04 10:32] ma-jkl commented on #539
I have Amplify router. I did not make any changes - only updated the shelly software.

[2021-03-04 10:33] ma-jkl commented on #539
Thank you very much for your help. Not happy about this situation because we open the gate for food delivers, fedex etc when we are out of home and we can not use it :)

[2021-03-04 10:34] andyblac commented on #539
do you have other homekit accessories ? are they working ?, what was the last version that worked for you?

[2021-03-04 10:35] ma-jkl commented on #539
i have only Apple TV and I see it when I am out of my wifi.

[2021-03-04 10:35] andyblac commented on #539
have you tried rebooting your Appletv, i seem to remeber someone else have the same issue, it was down to his AppleTV

[2021-03-04 10:38] ma-jkl commented on #539
ok. I will try.

[2021-03-04 10:38] andyblac commented on #539
here this guy had same issue but on a shelly 2.5, it was a AppleTV issue https://github.com/mongoose-os-apps/shelly-homekit/issues/457
maybe ask him how he fixed it ?

[2021-03-04 10:50] ma-jkl commented on #539
I did reboot - no change. Thank you, I will look at it. I really appreciate you help. Big thanks to you

[2021-03-04 10:51] ma-jkl commented on #457
Hi, can you tell me how did you fix it? I have the same issue. Michal

[2021-03-04 13:39] andyblac commented on #539
i'll close this for now. as it seems a homekit issue.

[2021-03-04 13:39] #539 closed

[2021-03-04 19:22] zeltak commented on #369
would also love this!

Z

[2021-03-05 19:07] ma-jkl commented on #539
problem solved:
I contacted apple support and did not know why it happened. At the and I have tried to completely remove HomeKit and add a new one and setup it from the begin and Shelly works now out of home wifi from LTE or other wifi!

[2021-03-05 19:56] benlaniado opened #540 "Shelly 1L physical switch stopped working after installing shelly-homekit"
Hey All,
Before adding the homekit firmware, I could turn the light on and off with the app and with the switch.

Now I can turn the light on and off from homekit or from the web interface.
But the physical switch is not doing anything.
Input mode is set to edge.
I can't add the device to the shelly app now.

Should I revert back to the stock version?

[2021-03-05 20:09] wawoodwa commented on #540
Have you tried changing the switch from edge to toggle?

Standard single throw switch?  Not a three way correct?

The mongoose HomeKit firmware does not work with the Shelly App.  If you want to use the Shelly App as well as HomeKit, you will need to revert to stock firmware and implement homebridge with the Shelly plugin (I don't run it this way, so I can't give anymore pointers on that, but ther

[2021-03-05 20:22] benlaniado commented on #540
I tried all the options :(
I will try homebridge. Thanks

[2021-03-05 20:25] wawoodwa commented on #540
Hmmm...

I use the Shelly 1L for my lights at home, with switch 1 set to toggle and switch 2 disabled.  Sorry it isn't working out for you.  But yeah, if you are using the Shelly app, homebridge is the only way to go with the stock firmware.

[2021-03-05 20:27] benlaniado commented on #540
I will try the homebridge option and if it won’t work I will retry the
HomeKit firmware. Thanks

On Fri, 5 Mar 2021 at 22:25 Wayne W. Woodward <notifications@github.com>
wrote:

[2021-03-05 20:40] timoschilling commented on #540
With the HomeKit firmware you can only use switch 1 to control the light. Switch 2 works only in detached mode. Maybe your wall switch is connected to Switch 2? If yes, please wire it to Switch 1. Or post a screenshot from your config UI.

[2021-03-06 00:31] rojer commented on #498
pushed alpha4. fixed layout for roller shutter section, plus networking changes in the backend (reverted to LWIP 1.4, reportedly it's more stable)

[2021-03-06 00:37] rojer commented on #532
there is no existing SNMP library for mos, so unlikely to happen any time soon but let's keep it open just in case.

[2021-03-06 00:47] rojer commented on #448
thanks for reporting. so what happens here is after 5 seconds of moving in the opening direction, closed sensor still remains active. we conclude that the door jammed or is otherwise refusing to move and reverse direction.

does it take the door more than 5 seconds to actually start moving and get sensor to deactivate?

[2021-03-06 00:49] rojer commented on #448
5 seconds is currently a constant, thinking being - "surely that ought to be enough for everybody". well, maybe not.

[2021-03-06 01:07] rojer commented on #324
i increased it to 5 seconds by default, please install 2.8.0-alpha4 and help test

https://github.com/mongoose-os-apps/shelly-homekit/issues/498

[2021-03-06 01:08] rojer commented on #448
i increased it to 7 seconds by default, please install 2.8.0-alpha4 and help test

#498

[2021-03-06 03:00] sebastianheise commented on #377
It's not the stock firmware I'm trying to update from. I'm on `Version: 2.6.1 (build 20201128-161102/2.6.1-g3ba3275-master)`.
I have tried to update, I have tried to revert to stock, no luck. I always get the above timeout/error.

[2021-03-06 03:18] sebastianheise commented on #377
........okayyyyy.....
I do not know what went wrong, but I just used an incognito window in Chrome to do the update and it worked.
Previously I used Safari and a normal window in Chrome and it timed out with that network error.

Feel free to close. 🤷

[2021-03-06 05:43] AG-dingoant commented on #448
Alpha installed. I will test this morning. Thanks for the update. When I use the normal press button of the door opener, the shelly detects correctly that the door is open and closed. The issue is only if the opening request comes from the Shelly

[2021-03-06 05:46] AG-dingoant commented on #540
Why is it not possible to have the two switches to control the light with the homekit firmware? I have one Shelly 1L with two switches and I would like to have the two switches working.

[2021-03-06 07:30] timoschilling commented on #540
It’s because of how the things are working internally, at the moment input and output are one unit so isn’t easy to build a second input.

But you can use the second switch as a stateless switch and add an action in Home to control the output. There is a wiki entry about how to control a light/outlet via stateless switch.

[2021-03-06 10:32] andyblac commented on #540
closing this as duplicate issue https://github.com/mongoose-os-apps/shelly-homekit/issues/346

[2021-03-06 10:32] #540 closed

[2021-03-06 10:37] #377 closed

[2021-03-06 10:58] Germanytraveller commented on #535
Thank you for the replies. I now bought a magnetic contact and wired everything as shown in the picture.

The push button now works, but now i’ve got a new problem. The status of the garage door shown in the home app always turns to “closed” after a few seconds, no matter what position the door is at.
The wired magnetic contact is positioned at the bottom end of the door-rail to ensure that no mag

[2021-03-06 11:23] gregDEweb commented on #535
Make sure you did set the limit switch type to the right type. Normally closed or normally open. This is part of the settings. You should also set the movement time.
Check if this solves the issue.

[2021-03-06 13:42] joddye2 commented on #448
Tried 2.8.0 alpha but the problem still persist.
When closing the three notifications comes. Closed, open, closed.

[2021-03-06 13:44] rojer commented on #448
hm. ok, i'll need to see the logs again - when it does work properly (button press) and when it doesn't (web ui / HAP).

[2021-03-06 14:27] grizz479 commented on #448
Installed 2.8.0 alpha.
Still working the same, with button press or web ui/HAP.
Even more, having trouble to reach de web ui.

[2021-03-06 14:28] andyblac commented on #448
yeah, seems alpha4 has connectivity issues, we're investigating.

[2021-03-06 14:31] andyblac commented on #448
@grizz479 if you can not connect to device webui at all try a hard reboot (cut power), aslso DO NOT try to reflash alpha3, if you do you will have to reset WiFi, as i found it doing so corupts wifi config.

afater a hard reboot, webui can be reached, but it can be hit and miss just keep trying.

[2021-03-06 14:33] andyblac commented on #498
@everyone 2.8.0-alpha4 has connectivity issues, if you can not connect to device webui at all try a hard reboot (cut power), also DO NOT try to reflash alpha3, if you do, you will have to reset WiFi, as i found it doing so corupts wifi config.

after a hard reboot, webui can be reached, but it can be hit and miss just keep trying.

[2021-03-06 18:36] AG-dingoant commented on #448
Same issue here as well.

[2021-03-06 18:43] joddye2 commented on #448
In my case both button press (RF remote) and HAP gives the closed/open/closed notifications.

My log:
_Log2

34033181272 shelly_main.cpp:554     Up 34033.11, HAP 0/1/12 ns 1, RAM: 23400/37496; st 0; 5.1: cur:closed tgt:closed cl:1 op:-1
34041117941 shelly_main.cpp:554     Up 34041.11, HAP 0/1/12 ns 1, RAM: 23404/37496; st 0; 5.1: cur:closed tgt:closed cl:1 op:-1
34049118020 shelly_main.cpp:554

[2021-03-06 21:35] andyblac commented on #534
see here https://github.com/mongoose-os-apps/shelly-homekit/issues/501

[2021-03-06 21:35] #534 closed

[2021-03-07 07:38] jeroendedeyne commented on #498
Same issue here after updating to alpha 4

[2021-03-07 08:49] col-tom commented on #498
alpha4: If I set the shelly1 to „doorbell“ mode in the Dropdown this setting is lost after refreshing the web browser (probably it’s not correctly set in the UI?)

[2021-03-07 18:26] rojer commented on #498
connectivity issues were reported for alpha4, i pushed alpha5 with different networking stack configuration.

[2021-03-07 18:29] rojer commented on #448
@joddye2 it seems that your close sensor gives a pulse instead of maintaining a steady signal.
what kind of sensor is it?

[2021-03-07 18:37] andyblac commented on #498
flashed to 2 devices, I'll keep an eye on it.

[2021-03-07 18:52] joddye2 commented on #448
@rojer Simple reed-relay. This one: https://www.tanealarm.com/products/surface-mount-contacts/fm-102/
Wiring similar as wiki: https://github.com/mongoose-os-apps/shelly-homekit/wiki/resources/GarageDoor-Shelly1.png

Before mongoose-os, I used with homebridge, and with that the notifications were ok (but nothing else :D)

[2021-03-07 19:04] grizz479 commented on #448
For me alpha version is working properly after a day or so kinda “calibraring”?? First times gives wrong notifications bit after a fee times it works properly.
Can’t get tonthe log due to web ui connectivity  issues.

![4C348AB2-21F2-4274-B874-5DC01FB3CFAC](https://user-images.githubusercontent.com/8103726/110251335-4c71cd00-7f80-11eb-8154-2d1b7c61feb0.png)

[2021-03-07 21:03] timoschilling commented on #498
Can't confirm that, but get this error:
<img width="213" alt="image" src="https://user-images.githubusercontent.com/165599/110254803-fe18fa00-7f90-11eb-9e51-db20e0c64b45.png">

[2021-03-07 22:08] andyblac commented on #498
still having connectivity issues with beta5

[2021-03-07 22:13] rojer commented on #448
@joddye2 hm. ok, let's walk through the logs step by step.

we are in a closed state when a HAP command to open comes:
[code]
this all takes about 2 seconds (timestamp on the left is in microseconds).
at this point we see transition of the sensor from 1 to 0 (with a bit of noise, but ok).
[code]
after 15 seconds (movement time) we transition to open state:
[code]
then we have about a minute of not

[2021-03-07 22:28] AnakinSpain commented on #468
Yes. It is a problem still. I dont know how to reinstall firm again

[2021-03-08 01:32] GHanthorn opened #541 "Need to reboot"
When using with home assistant works great except 1 issue, after about 20 days the Homekit Firmware gets sluggish (don't know why) but a simple reboot fixes it. Could you update the Python Script tools to include a force reboot so one command can reboot all devices (vs going into the WebUI for each shelly one at a time). Thanks!

[2021-03-08 06:32] col-tom commented on #498
it's the dropdown where you set what it is (e.g. doorbell, motion, etc.) - that's always reset to the first item of the dropdown after a page refresh

[2021-03-08 07:44] AG-dingoant commented on #448
Hi,
I did the update to alpha 5. I tested again and when the command comes from the shelly, the state remains wrong. When I tried as well to open the door with the normal button and it seems that the state is not updated anymore in on the shelly. In the past, the status was well updated when I pressed the normal button. If the sensor might be the problem, why is the sensor working properly whith t

[2021-03-08 08:03] timoschilling commented on #498
@col-tom after a reload:
<img width="488" alt="image" src="https://user-images.githubusercontent.com/165599/110292114-09017800-7fed-11eb-908e-4edada331803.png">

[2021-03-08 09:31] chstoll commented on #129
Is there a way to just remotly restart all shelly devices in the network (maybe with the update-script)? I have about 40 shellys in my home network and it is somewhat painfull to connect to each webinterface an hit restart if they get unresponsive in Homekit.

[2021-03-08 09:53] andyblac commented on #129
i could add a reboot option to script, but we prefer to find why it doing it, atm in 2.8.0 alpha we are trying to track down some network issues.

[2021-03-08 09:53] andyblac commented on #541
please see https://github.com/mongoose-os-apps/shelly-homekit/issues/129

[2021-03-08 09:53] #541 closed

[2021-03-08 09:55] rojer commented on #129
i think it makes sense as a script action. we do have to use it sometimes, unfortunately.

[2021-03-08 09:56] andyblac commented on #129
ok i'll sort it, `--reboot` ok ?

[2021-03-08 09:57] rojer commented on #129
SGTM

[2021-03-08 10:15] pivale commented on #498
Lost http conectivity to most of my devices after alpha5. I can't access them by browser and update-script fails to connect.
I can ping them all though, so they are still alive and responsive.

[2021-03-08 11:06] andyblac commented on #498
and i bet homekit still works.

[2021-03-08 11:13] andyblac commented on #129
ok here a beta version @chstoll @GHanthorn please test, report any issues, if all good i'll create a pull request.
[flash-shelly-reboot.zip](https://github.com/mongoose-os-apps/shelly-homekit/files/6100955/flash-shelly-reboot.zip)

[2021-03-08 12:46] danny1605 commented on #498
the same problem, a connection via browser is no longer possible.

[2021-03-08 13:01] louis49 commented on #493
I am very interested and could make contributions. I am new to home automation and with MOS. Do you have a list of things to cover before you start to be able to help yourself?
Thank you

[2021-03-08 13:50] andyblac commented on #493
start here https://github.com/mongoose-os-apps/shelly-homekit/wiki/Development

[2021-03-08 15:45] freez1001 commented on #129
...a reboot option via script is useful tool. THX

[2021-03-08 16:14] chstoll commented on #129
Thanks for the quick response. Works perfect, rebootet all my 47 shellys at once as well as single selected ones.

[2021-03-08 16:16] andyblac commented on #129
ok cheers guy's i'll do a pull request.

[2021-03-08 19:23] andyblac commented on #498
can someone confirm something in alpha5, i think webui issues is linked with number of HAP connections, I can access webui, with no issues if HAP connections is 3 or less, as soon i hit 4 problems start, webui is hit and miss, the more HAP connections device has the worse it gets, over 5 and you loose tottal webui access.

[2021-03-08 19:38] AnakinSpain commented on #468
only load web config original firmware while I press the button on Shelly 2.5 I have to keep the button pressed if not, the web doesn't load

[2021-03-08 20:15] miamilabs commented on #72
Thank you so much! Finally i can remove those VMs. Will test it next days when i arrive back to Europe.

[2021-03-09 06:22] uspino2 opened #543 "Home Assistant integration?"
I use my Shelly 2.5 as a garage opener through Home Assistant and from there into HomeKit, but this firmware so much better (double reed, obstruction detection, etc.). If I flash this firmware, is there a way I can still integrate the Shelly simultaneously into Home Assistant? (My house still requires Home Assistant integration because everything -including the garage door- is controlled or superv

[2021-03-09 06:51] timoschilling commented on #543
I expect a backwoods compatible API wouldn’t  work nicely, because it can’t reflect all features of this firmware. I think the better option is to develop a shelly-homekit home bridge plugin. But I expect that it is hard to find someone how will do that, because one goal of this firmware is to make bridges obsolete.

[2021-03-09 06:55] timoschilling commented on #535
Can you test the alpha?

[2021-03-09 08:20] col-tom commented on #498
@timoschilling ok, seems that is was an issue on my side - thanks anyway for looking into it

[2021-03-09 09:07] homekitguy opened #544 "Setting a Shelly 2.5 as a Valve"
Hello i want to show my Shelly as a valve in HomeKit but i can’t choose it. What should i do???
![IMG_2100](https://user-images.githubusercontent.com/80318133/110446139-23a42180-80bf-11eb-850c-cc7378dba5df.jpeg)

[2021-03-09 10:42] timoschilling commented on #544
Are you using 2.7.X or 2.8.0-alphaX? Valve is only supported in 2.8, but not officially released yet, there is a alpha available, but be careful installing it, there are some connection issues.

[2021-03-09 11:18] homekitguy commented on #544
Yeah its 2.7 will the 2.8 support doorbell? Because i saw it here too: https://github.com/mongoose-os-apps/shelly-homekit/wiki/Input-Switch-Settings

[2021-03-09 11:21] andyblac commented on #544
yes, i updated wiki a liitle too soon, we thought 2.8 would not be so long in testing, sorry for confusion.

[2021-03-09 11:23] homekitguy commented on #544
Okay thank you ☻

[2021-03-09 11:23] #544 closed

[2021-03-09 12:28] Padrew46 opened #545 "Shelly 2.5 Homekit disconnected"
Hello,
I managed to install moongoose firmware to my Shelly 2.5 and add it to the Apple Homekit, but immediately it disconnects even from the Shelly app. When I revert back to original firmware, it communicates well.

I tried to find the solution here, but without luck. Could you please advice what to do?
Thanks.
Patrik

[2021-03-09 12:58] andyblac commented on #545
shelly APP is not supported by this firmware.

[2021-03-09 13:08] andyblac commented on #545
button in hk ?

[2021-03-09 13:13] Padrew46 commented on #545
Yes, tried to set up as garage door in UI and also as a switch, both not working

[2021-03-09 15:19] pivale commented on #498
Yep, only http server seems to be affected... Homekit is still working

[2021-03-09 15:27] pivale commented on #498
how can I help confirm that? currently all my shellys are unavailable (although working...)

[2021-03-09 16:23] andyblac commented on #498
reboot, open log screen in separate tab, keep an eye on it for connections

[2021-03-09 18:13] andyblac commented on #498
yup, 4 HAP connections, as i said above soon as i iit 4 connections i get issues.

[2021-03-09 18:16] rojer commented on #498
that's useful, thank you! i think i have an idea why

[2021-03-09 18:26] AnakinSpain commented on #468
https://youtu.be/bcMuouKD8sA

[2021-03-09 18:32] andyblac commented on #468
@rojer any ideas?

[2021-03-09 18:34] andyblac commented on #545
can enable deug log, click on log link, try the button in hk and post log here.

[2021-03-09 20:46] rojer commented on #448
@AG-dingoant i don't see any input activity in the log whatsoever

we get a command to open, pulse output, then 7 seconds late sensor is still closed, so we assume door has not moved, give up and return to "closed" state (which is what the sensor is telling us).

[code]

[2021-03-09 20:52] rojer commented on #498
Thanks to eagle eyed @andyblac this is now [fixed](https://github.com/mongoose-os-libs/lwip/commit/8725f4ecb2b8cee48760fe54dcb571257cb58194) - there was a limit on number of TCP connections, set to 5.
I pushed alpha6, please try it.

[2021-03-09 21:18] fototeddy commented on #362
when using my Shellys via home bridge-mqttthing it is possible to read out all the date and store it in Eve. Store something in eve does not change any behavior in Home App but adds nice features when using EVE. So maybe looking into the homebridge-mqttthing code could help do add these Fakegate features for Shelly H&T and also for the Power measure Shellys

[2021-03-09 21:28] andyblac commented on #498
so far so good, i'll keep an eye on it

[2021-03-09 23:57] torto-85 commented on #274
Yes, that‘s fine for me.

[2021-03-10 00:21] #274 closed

[2021-03-10 13:29] bjornand1 opened #551 "Update Firmware on Shelly 1 Flashed with HomeKit"
Hi, this might be a stupid question, but since it has been months since I flashed my Shelly 1 with the HomeKit firmware, are there updates that should be loaded? I see that for "non-flashed" Shellys, there have been many new firmware versions.

[2021-03-10 13:43] #551 closed

[2021-03-10 16:43] pivale commented on #498
Anyway we can reserve one connection always for webserver/script purposes?
It would prevent us from being left out, like now...

[2021-03-10 16:58] andyblac commented on #498
HAP is limited to 12 connections, we have 20 TCP connections available now, no need too

[2021-03-10 17:08] pivale commented on #498
Cool, great to know 👍  Thanks for the info

[2021-03-10 17:38] homekitguy opened #552 "Lusacelli Plaque es"

[2021-03-10 19:06] MBarti commented on #272
Thread is incredible. It solves all the problems of Zigbee and works extremely well, according to tests and my own experience (With Nanoleaf A19 bulbs). Players like Nanoleaf and Eve Systems will move to 100% Thread and everyone else will follow. The open source libraries are there for the taking.

It's becoming clear that EVERY major producer will move to Thread within a few years, because it sol

[2021-03-10 19:27] timoschilling commented on #552
What does you concrete want to control with the Shelly?

[2021-03-11 02:11] #423 closed

[2021-03-11 02:11] #399 closed

[2021-03-11 02:11] #398 closed

[2021-03-11 02:11] #355 closed

[2021-03-11 02:12] #180 closed

[2021-03-11 02:12] #172 closed

[2021-03-11 02:25] rojer commented on #498
ok, i think 2.8 is ready. any objections?

[2021-03-11 08:27] mcackay opened #553 "Any plans to support Shelly Motion and Shelly H&T?"
Brand new to the Shelly ecosystem -- and starting to experiment with it.

Wondered if it was likely that this project will try to provide Homekit firmware for the following devices?
- Shelly Motion
- Shelly H&T (Humidity & Temperature)

Or if there's another project that anyone can direct me to?

[2021-03-11 10:15] timoschilling commented on #553
For the H&T is already a request there: https://github.com/mongoose-os-apps/shelly-homekit/issues/186

There are two problems with the Motion:
1. It's a battery device, this firmware uses the homekit ip protocol, which isn't made for battery devices, it requires a permanent active IP connection. This will result in a high battery drain
2. It's processor is currently not supported by mongoose os, w

[2021-03-11 10:56] mcackay commented on #553
Thanks Timo, that makes sense.
Appreciate the prompt reply.

[2021-03-11 10:56] #553 closed

[2021-03-11 11:44] homekitguy commented on #552
I want to control an alarm bell and have an icon like this
![B5A8BF81-C1B0-4F0B-AA10-CE1B351352DE](https://user-images.githubusercontent.com/80318133/110782365-56891980-8267-11eb-9e11-676b62301022.jpeg) in Home. I would only another icon.

[2021-03-11 11:54] homekitguy commented on #552
![Uploading 401A3B6C-BB74-409B-AFE7-EE055F83519F.jpeg…]()

[2021-03-11 11:55] homekitguy commented on #552
![C3897043-4763-4FED-BB89-3B1E58BAA39C](https://user-images.githubusercontent.com/80318133/110783696-10cd5080-8269-11eb-8777-1efbe8cae356.jpeg)

[2021-03-11 12:04] andyblac commented on #498
all good here.

[2021-03-11 14:33] danny1605 commented on #498
all of my 20 shellys work very well with the alpha 6 version. thank you for that

[2021-03-11 16:19] AnakinSpain commented on #468
Solved!!!

I was talking with Shelly assistance and I opened the case and wire antenna was wrong. When i close case it fails. Now i have TWO Shelly 2.5 witouth case and it works perfectly

Maybe someting wrong in case desing and wire wifi antenna

[2021-03-11 16:30] #468 closed

[2021-03-11 16:43] pivale commented on #498
All seems to be working as intended here with alpha6.
Only strange behaviour was my shelly plug S going into AP mode (1st time it happened)... Not sure it's even related

[2021-03-11 16:52] pskow opened #554 "Installing On RavenSystems Home Accessory Architect"
Hello!
Is there any way to install this software to Shelly 2.5 with installed HAA?
Is there any way to do it without physical access to the device without flashing with cables?

[2021-03-11 17:17] timoschilling commented on #554
From the [HAA wiki](https://github.com/RavenSystem/esp-homekit-devices/wiki/Installation#using-a-custom-server-for-ota-updates), so sounds like it's not possible, as we can't generate signed code without there private key.

But flashing via cables shouldn't be a problem.

[2021-03-11 17:43] #554 closed

[2021-03-11 19:58] andyblac commented on #498
i'll close this one, now 2.8.0 has been released.

[2021-03-11 19:58] #498 closed

[2021-03-11 19:58] rojer commented on #498
@pivale
[code]

looks like noise on button input.

[2021-03-11 20:01] rojer commented on #498
submitted a fix, this will become 2.8.1. damn, i should've looked first

[2021-03-11 20:02] rojer commented on #498
@timoschilling i'm flipping logic of https://github.com/mongoose-os-apps/shelly-homekit/commit/023159de9a677b4d246e82f8e0f0832e7e15b7ee back to "noisy button by default".

[2021-03-11 20:02] andyblac commented on #498
haha, i know whats like 🤣

[2021-03-11 20:13] timoschilling commented on #498
@rojer as it's still configurable, it's fine for me. Maybe would you like to document why the noisy button is need and on which device.

[2021-03-11 20:15] rojer commented on #498
rather, where it was observed. makes sense.

ok, pushed 2.8.1. i think 2.8.0 was the shortest lived release :)

[2021-03-11 20:21] Pixel-Chris commented on #186
Some free timeslots left for this?

[2021-03-11 20:29] rojer commented on #186
been thinking about this lately, actually. shouldn't b too difficult, it might just happen.

[2021-03-11 20:31] Pixel-Chris opened #556 "2.8.1 with Shelly 2.5 in GDO mode with 24V not working"
After fw Upgrade to 2.8.0 multiple reboots without any action of the motor.
Back to 2.7.3.

Now on 2.8.1
More reboots
GUI says only „Loading...“
And restarts

[2021-03-11 20:33] Pixel-Chris commented on #556
„Normally” the device restarts only when the motor starts
(With 24V)

[2021-03-11 20:37] Pixel-Chris commented on #556
How to get back to 2.7.3 with url?

[2021-03-11 20:38] andyblac commented on #556
use my script

`./flash-shelly.py -V=2.7.3 hostname`

[2021-03-11 20:45] timoschilling commented on #540
@benlaniado maybe I found the bug, how was you 1L wired, did you use S1 or S2? Is there a "V2" sticker on you 1L?

[2021-03-11 20:54] rojer commented on #556
@Pixel-Chris hm. logs please?

[2021-03-11 21:03] Pixel-Chris commented on #556
So... back to 2.7.3
Now it’s stable again
(Until I will push the button and the motor starts)

i think it is still a power problem
But with 2.8.1 not usable

i will need a power supply with 25 or 26V

[2021-03-11 21:05] Pixel-Chris commented on #556
Sorry no logs
One short log, but with no problem, the only think was that the current state shows open, target also open
But the door was closed

Will try it again, when I have more time (maybe this weekend)

[2021-03-11 21:08] rojer commented on #556
thing is, nothing really changed that would've impacted power consumption. wireless SDK is the same, TCP stack version changed but that shoudn't have a direct effect.

[2021-03-11 21:08] Pixel-Chris commented on #556
For the next time: is there a way to use OTA? I have tested it with:

Http://*IP*/ota?url=http://rojer.me/files/shelly/2.7.3/shelly-homekit-Shelly25.zip

But it says “not found”

[2021-03-11 21:12] benlaniado commented on #540
@timoschilling Thank you for taking the time to investigate the issue.
I have 2 Shelly 1L that was installed by electrician. I have the same issue with both of them. Is there a programmatic way I can get this data? Or some other way can I help you debug?

[2021-03-11 21:13] rojer commented on #556
HK doesn't support `/ota?url=` method (and can't due to mos licensing), but you can download the file you want and upload it using the form. but we could in theory support `/ota` as well.

[2021-03-11 21:14] Ioan-Popovici commented on #543
No, but you can integrate it with HA and then expose it to homekit. This is what I do with my bathroom fan which is controlled by humidity and temp levels with Node Red in HA. Or, you could just use stock firmware with MTTQ or shelly plugin.

[2021-03-11 21:25] jsiegenthaler opened #557 "2.8.1 GUI inconsistent capitalisation"
[Eagle Eye Mode On]

The following GUI text is sometimes in ProperCase and sometimes a mix of ProperCase and lowercase

HAP Service Type:   ProperCase x 3
Input Mode:    ProperCase x 2
Inverted Input:   ProperCase x 2
Initial state:    ProperCase and lowercase
Inverted output:  ProperCase and lowercase
Auto off:   ProperCase and lowercase
Auto off delay:  ProperCase and lowercase x 2

Choose eithe

[2021-03-11 21:44] Pixel-Chris commented on #556
The form was not really accessible (sometimes only a short period) the fifth attempt was working and the upload and firmware downgrade was working

maybe ota would be a nice feature!?

[2021-03-12 04:36] uspino2 commented on #543
Regrettably, HomeKit integration for garage cover in Home Assistant is very very limited: only gives HomeKit `open` and `closed` states. This firmware also provides `opening`, `closing` and `obstruction` states.

[2021-03-12 07:48] louis49 opened #558 "Shelly2.5 pitch connector"
Hello, to connect the Shelly 2.5, which Pitch connector do you recommend? Are we at 1mm pitch? I did not find a 6 pin 1mm male connector. Do you have a link to an existing product please?

[2021-03-12 07:55] Ioan-Popovici commented on #543
Can't you get that with MTTQ and the original firmware? That's how I get the data from my Shelly HT sensor that controls the fan. It shows up in HomeKit just fine, even the battery reading.

[2021-03-12 08:33] uspino2 commented on #543
Yes, I've done it with MQTT and templates. The issue is how Home Assistant has implement HomeKit integration for garage doors. It's currently very limited. It doesn't even let HomeKit alert you of obstructions...

[2021-03-12 09:14] timoschilling commented on #540
@benlaniado Sorry wrong alarm, I reinvestigate my issue and it's solved, was something wrong in the wiring, sorry can't help you.

[2021-03-12 09:27] SilvioMigu commented on #186
I am looking forward to seeing the final result...

[2021-03-12 09:28] nk-gx opened #559 "Typo"
![Screenshot 2021-03-12 at 11 17 03](https://user-images.githubusercontent.com/72701663/110919819-594a4400-8325-11eb-9099-7a51dba3fac2.png)

Hi, the year in copyright is still 2020.

[2021-03-12 09:57] oliverrahner opened #560 "Tilt Angle for Window Covering"
Hi,

I'm thinking about getting a Shelly 2.5 for an office where we have outside window coverings like these:

![image](https://user-images.githubusercontent.com/2277681/110923656-69f8bb00-8321-11eb-9776-5a7d3165d344.png)

I now want to use the HAP feature Horizontal Tilt Angle to control the slat angle, but I couldn't find support for this in the source code. Did I miss something? If not, is it p